@model IEnumerable<ElectronicMedicalRecords.Models.MedicationCategory>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Quản lý danh mục thuốc</h3>
                <p class="text-subtitle text-muted">Danh sách danh mục thuốc</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "MedicationCategories")">Danh Sách</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Danh Mục Thuốc</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                Danh sách danh mục thuốc
                <br />
                <button style="margin-top: 10px" type="button" class="btn btn-outline-primary block" data-bs-toggle="modal"
                        data-bs-target="#createMedicationCategoriesModal">
                    Thêm Danh Mục Thuốc
                </button>
            </div>
            <div class="card-body">
                <table class="table table-striped" id="tableMedicationCategories">
                    <thead>
                        <tr>
                            <th>Danh Mục Thuốc</th>
                            <th>Hoạt Động</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<!-- Create Basic Modal -->
<div class="modal fade text-left" id="createMedicationCategoriesModal" data-backdrop="true" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel1">Thêm Danh Mục Thuốc</h5>
                <button type="button" class="close rounded-pill"
                        data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-createMedicationCategories" class="form form-horizontal needs-validation" novalidate>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Tên Danh Mục</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="Name" type="text" class="form-control pd-form"
                                               placeholder="Tên Danh Mục Thuốc" id="first-name-icon MedicationCategoryNameCreate" required>
                                        <div class="form-control-icon icon-MedicationCategory">
                                            <i class="bi bi-person"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-bs-dismiss="modal">
                            <i class="bx bx-x d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Hủy</span>
                        </button>
                        <button type="submit" id="createMedicationCategory" class="btn btn-primary ml-1">
                            <i class="bx bx-check d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Tạo</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Update Basic Modal -->
<div class="modal fade text-left" id="UpdateMedicationCategory" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Cập nhật tình trạng</h5>
                <button type="button" class="close rounded-pill"
                        data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-updateMedicationCategory" class="form form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <input type="text" id="UpdateMedicationCategoryID" name="ID" hidden />
                            <div class="col-md-4">
                                <label for="UpdateMedicationCategoryName">Tên Danh Mục</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="Name" type="text" class="form-control"
                                               placeholder="Tên Danh Mục" id="UpdateMedicationCategoryName" required>
                                        <div class="form-control-icon">
                                            <i class="bi bi-envelope"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Hủy</span>
                            </button>
                            <button type="submit" id="updateMedicationCategory" class="btn btn-primary ml-1">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Cập nhật</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tableMedicationCategories').DataTable({
                "ajax": {
                    "url": "@Url.Action("GetData", "MedicationCategories")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "Name",
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var button = "<button class='btn btn-primary btnHover' onclick='getMedicationCategoriesByID(" + data.ID + ")' data-id='"
                                + data.ID + "'><i class='fas fa-user-edit'></i></button> <button id='text' class='btn btn-primary btnHover' onclick='deleteMedicationCategories(" + data.ID + ")'><i class='fas fa-trash'></i></button>";
                            return button;
                        },
                        "targets": 0,
                        "orderable": false
                    }
                ],
                "language": {
                    "emptyTable": "No data available, please click on <b>Tạo Danh Mục Thuốc</b> button",
                    "oPaginate": {
                        sNext: '<i class="fa fa-chevron-right"></i>',
                        sPrevious: '<i class="fa fa-chevron-left"></i>',
                    },
                    "info": "Hiển thị _START_/_END_ trên tổng _TOTAL_",
                    "lengthMenu": "Hiển thị _MENU_ phần tử",
                    "search": "Tìm kiếm:",
                }
            })
        })
        createMedicationCategories()
        updateMedicationCategories()
        /*Create Medication Categories*/
        function createMedicationCategories() {
            $('#form-createMedicationCategories').submit(function (e) {
                var dataMedicationCategory = $('#form-createMedicationCategories').serialize();
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                var model = {
                    validata: dataMedicationCategory,
                }
                $.ajax({
                    url: "@Url.Action("Create", "MedicationCategories")",
                    type: "POST",
                    data: model.validata + "&__RequestVerificationToken=" + token,
                    success: (res) => {
                        if (res.success) {
                            resetInputCreate();
                            $('#createMedicationCategoriesModal').modal('hide');
                            $(document.body).removeClass('modal-open').attr("style", "none");
                            $('.modal-backdrop').toggle();
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Bạn đã tạo thành công',
                                showConfirmButton: false,
                                timer: 1000
                            })
                            $('#tableMedicationCategories').DataTable().ajax.reload();
                        } else {
                            Toastify({
                                text: res.responseText,
                                className: "info",
                                duration: 1000,
                                style: {
                                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                                }
                            }).showToast();
                        }
                    }
                })
            e.preventDefault();
            })
        }

        /*get ID Update*/
        function getMedicationCategoriesByID(id) {
            $.ajax({
                url: '@Url.Action("Edit", "MedicationCategories")',
                type: 'GET',
                data: { id: id },
                success: function (res) {
                    if (res.data != null) {
                        $('#UpdateMedicationCategoryName').val(res.data.Name);
                        $('#UpdateMedicationCategoryID').val(res.data.ID);
                    }
                }
            })
            $('#UpdateMedicationCategory').modal('show')
        }

        /*update*/
        function updateMedicationCategories() {
            $('#form-updateMedicationCategory').submit(function (e) {
                var dataMedicationCategories = $('#form-updateMedicationCategory').serialize();
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                var model = {
                    validata: dataMedicationCategories,
                }
                $.ajax({
                    url: "@Url.Action("Edit", "MedicationCategories")",
                    type: "POST",
                    data: model.validata + "&__RequestVerificationToken=" + token,
                    success: (res) => {
                        if (res.success) {
                            $('#UpdateMedicationCategory').modal('hide');
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Bạn đã cập nhật thành công',
                                showConfirmButton: false,
                                timer: 1000
                            })
                            $('#tableMedicationCategories').DataTable().ajax.reload();
                        } else {
                            Toastify({
                                text: res.responseText,
                                className: "info",
                                duration: 3000,
                                style: {
                                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                                }
                            }).showToast();
                        }
                    }
                })
                e.preventDefault();
            })
        }

        /*Get & Post Delete Medication Categories*/
        function deleteMedicationCategories(id) {
            $.ajax({
                url: '@Url.Action("Delete", "MedicationCategories")',
                type: 'GET',
                data: { id: id },
                success: function (res) {
                    if (res.data != null) {
                        Swal.fire({
                            title: 'Bạn muốn xóa danh mục thuốc này?',
                            html:
                                '<b>Danh Mục Thuốc:</b> <span>' + res.data.Name +'</span>',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#d33',
                            cancelButtonColor: '#777',
                            confirmButtonText: 'Xác nhận',
                            cancelButtonText: 'Hủy'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                var form = $('#__AjaxAntiForgeryForm');
                                var token = $('input[name="__RequestVerificationToken"]', form).val();
                                $.ajax({
                                    url: '@Url.Action("Delete", "MedicationCategories")',
                                    type: 'POST',
                                    data: "ID=" + res.data.ID + "&__RequestVerificationToken=" + token,
                                    success: function (res) {
                                        if (res.success) {
                                            Swal.fire({
                                                position: 'center',
                                                icon: 'success',
                                                title: 'Xóa thành công',
                                                showConfirmButton: false,
                                                timer: 1500
                                            })
                                            $("#tableMedicationCategories").DataTable().ajax.reload();
                                        }
                                        else {
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Thất Bại',
                                                text: res.responseText,
                                            })
                                        }
                                    }
                                });
                            }
                        })
                    }
                }
            })
        }

        /*Reset Input Create Form*/
        function resetInputCreate() {
            $('#form-createMedicationCategories').get(0).reset();
        }

        /*Validate Form*/
        $('form').each((i, obj) => {
            $(function () {
                $(obj).validate({
                    rules: {
                        Name: {
                            required: true,
                            normalizer: function (value) {
                                return $.trim(value);
                            }
                        }
                    },
                    messages: {
                        Name: {
                            required: "Vui lòng không để trống hoặc nhập ký tự khoảng trắng"
                        }
                    },
                    errorClass: 'invalidLB',
                    validClass: 'validLB',
                    highlight: function (element, errorClass, validClass) {
                        $(element).closest(".position-relative").addClass('mb-25')
                    },
                    unhighlight: function (element, errorClass, validClass) {
                        $(element).closest(".position-relative").removeClass('mb-25')
                    }
                });
            });
        })
    </script>
}
