@model ElectronicMedicalRecords.Models.MultiplesModel
<div class="card-header" style="padding-bottom:0px">
    <h4 class="card-title">Khám Lâm Sàng</h4>
    <hr />
</div>
<div class="card-content">
    <div class="card-body">
        <h5>1. Nội Khoa</h5>
        <div class="row">
            @Html.HiddenFor(model => model.Clinical.ID)
            @Html.HiddenFor(model => model.Clinical.InformationExamination_ID)
            @Html.HiddenFor(model => model.Clinical.User_ID)
            
            <h5>4. Mắt</h5>
            <p>- Kết quả khám thị lực:</p>
            <div class="col-md-2">
                <div class="form-group d-flex align-items-center" style="height:38px">
                    <label>Không kính:</label>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group d-flex align-items-center">
                    <label style="width:90px">Mắt phải:</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.Clinical.RightEyesNoGlasses, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                        <span class="input-group-text">/10</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Clinical.RightEyesNoGlasses, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group d-flex align-items-center">
                    <label style="width:90px">Mắt trái:</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.Clinical.LeftEyesNoGlasses, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                        <span class="input-group-text">/10</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Clinical.LeftEyesNoGlasses, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group d-flex align-items-center" style="height:38px">
                    <label>Có kính:</label>
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group d-flex align-items-center">
                    <label style="width:90px">Mắt phải:</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.Clinical.RightEyesGlasses, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                        <span class="input-group-text">/10</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Clinical.RightEyesGlasses, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group d-flex align-items-center">
                    <label style="width:90px">Mắt trái:</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.Clinical.LeftEyesGlasses, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                        <span class="input-group-text">/10</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Clinical.LeftEyesGlasses, "", new { @class = "text-danger" })
                </div>
            </div>


            <h5>5. Tai-Mũi-Họng</h5>
            <p>- Kết quả khám thính lực:</p>
            <div class="col-md-2">
                <div class="form-group d-flex align-items-center" style="height:38px">
                    <label>Tai trái:</label>
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group d-flex align-items-center">
                    <label style="width:120px">Nói thường:</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.Clinical.LeftEarSay, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                        <span class="input-group-text">m</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Clinical.LeftEarSay, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group d-flex align-items-center">
                    <label style="width:90px">Nói thầm:</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.Clinical.LeftEarWhisper, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                        <span class="input-group-text">m</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Clinical.LeftEarWhisper, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group d-flex align-items-center" style="height:38px">
                    <label>Tai phải:</label>
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group d-flex align-items-center">
                    <label style="width:120px">Nói thường:</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.Clinical.RightEarSay, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                        <span class="input-group-text">m</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Clinical.RightEarSay, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group d-flex align-items-center">
                    <label style="width:90px">Nói thầm:</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.Clinical.RightEarWhisper, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                        <span class="input-group-text">m</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Clinical.RightEarWhisper, "", new { @class = "text-danger" })
                </div>
            </div>

            <h5>6. Răng-Hàm-Mặt</h5>
            <p>- Kết quả khám:</p>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Hàm trên:</label>
                    @Html.EditorFor(model => model.Clinical.UpperJaw, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Clinical.UpperJaw, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Hàm dưới:</label>
                    @Html.EditorFor(model => model.Clinical.LowerJaw, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Clinical.LowerJaw, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>
</div>

