@model ElectronicMedicalRecords.Models.MultiplesModel
@{
    ViewBag.Title = "PrintExaminationInfo";
    Layout = "~/Areas/Admin/Views/Shared/Print.cshtml";
}
<style>
    p {
        text-align: left
    }
</style>
<div class="container bootstrap snippets bootdeys">
    <div class="row body-pay">
        <div class="col-sm-12">
            <div class="panel panel-default invoice" id="invoice">
                <div class="panel-body">
                    <div class="invoice-ribbon"><div class="ribbon-inner">PAID</div></div>
                    <div class="row bg-row">

                        <div class="col-sm-6 top-left">
                            <img class="logo" src="~/asset/vl-logo.png" />
                        </div>

                        <div class="col-sm-6 top-right">
                            <h3 class="marginright txt-white">@Model.Patient.MaBN</h3>
                            <span class="marginright txt-white">@DateTime.Now</span>
                        </div>

                    </div>
                    <hr>
                    <div class="row">
                        <div style="margin-bottom:12px">
                            <a href="javascript:window.print()" class="btn btn-success d-inline-block" id="invoice-print"><i class="fa fa-print"></i> Print Invoice</a>
                        </div>
                        <p class="lead marginbottom">Thông Tin Bệnh Nhân</p>
                        <div class="d-flex">
                            <div class="col-xs-6 from w-100">
                                <p>Bệnh Nhân : @Model.Patient.Name</p>
                                <p>Địa Chỉ: @Model.Patient.Address</p>
                                <p>Giới Tính: @ViewBag.Gender</p>
                            </div>
                            <div class="col-xs-6 to w-100">
                                <p>Ngày Sinh: @Model.Patient.BirthDate</p>
                                <p>Số Điện Thoại: @Model.Patient.Phone</p>
                                <p>Số BHYT: @Model.Patient.InsuranceCode</p>
                            </div>
                        </div>
                        <p class="lead marginbottom">Thông Tin Bệnh Án</p>
                        <div class="col-xs-12 to">
                            <p>Tiền Sử: @Model.Patient.MedicalHistory</p>
                            <p>Bệnh Sử: @Model.Patient.HistoryDisease</p>
                        </div>

                        @*<div class="col-xs-4 text-right payment-details">
            <p class="lead marginbottom payment-info">Payment details</p>
            <p>Date: 14 April 2014</p>
            <p>VAT: DK888-777 </p>
            <p>Total Amount: $1019</p>
            <p>Account Name: Flatter</p>
        </div>*@

                    </div>

                    <div class="row">
                        <p class="lead marginbottom">Thông Tin Khám Bệnh</p>
                        <div class="col-xs-12 from">
                            <div class="d-flex justify-content-start">
                                <p class="col-xs-6 w-100">Ngày Khám: @Model.InformationExamination.DateExamine</p>
                                <p class="col-xs-6 w-100">Bác Sĩ: @ViewBag.Doctor</p>
                            </div>
                            <div class="d-flex">
                                <p class="col-xs-4 w-100">Nhịp Tim: @Model.InformationExamination.HeartBeat</p>
                                <p class="col-xs-4 w-100">Nhịp Thở: @Model.InformationExamination.Breathing</p>
                                <p class="col-xs-4 w-100">Huyết Áp: @Model.InformationExamination.BloodPressure</p>
                            </div>
                            <div class="d-flex">
                                <p class="col-xs-4 w-100">Cân Nặng: @Model.InformationExamination.Weight</p>
                                <p class="col-xs-4 w-100">Chiều Cao: @Model.InformationExamination.Height</p>
                                <p class="col-xs-4 w-100">Tình Trạng: @ViewBag.PatientStatus</p>
                            </div>
                        </div>

                    </div>
                    @if (ViewBag.ViSinhs.Count != 0)
                    {
                        <div class="row body-pay">
                            <p class="lead marginbottom">Xét Nghiệm Vi Sinh</p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:50%">Chỉ Định</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < ViewBag.ViSinhs.Count; i++)
                                    {
                                        if (ViewBag.ViSinhs[i].ChiDinh == true)
                                        {
                                            <tr>
                                                <td class="text-center">@(i + 1)</td>
                                                <td>@ViewBag.ViSinhs[i].NameTest</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                <div class="row body-pay">
                    <div class="col-xs-6 margintop">
                        <p class="lead marginbottom" style="text-align:center;margin-bottom:10rem">Chữ Ký Bác Sĩ</p>
                    </div>
                    <div class="col-xs-6 margintop">
                        <p class="lead marginbottom" style="text-align:center;">THANK YOU!</p>
                        @*<button class="btn btn-danger" id><i class="fa fa-envelope-o"></i> Mail Invoice</button>*@
                    </div>
                    @*<div class="col-xs-6 text-right pull-right invoice-total">
            <p>Subtotal : $1019</p>
            <p>Discount (10%) : $101 </p>
            <p>VAT (8%) : $73 </p>
            <p>Total : $991 </p>
        </div>*@
                </div>
                </div>
            </div>
        </div>
    </div>
</div>