@model ElectronicMedicalRecords.Models.MultiplesModel
@{
    ViewBag.Title = "PrintExaminationInfo";
    Layout = "~/Areas/Admin/Views/Shared/Print.cshtml";
}
<style>
    p{
        text-align:left
    }
</style>
<div class="container bootstrap snippets bootdeys">
    <div class="row body-pay">
        <div class="col-sm-12">
            <div class="panel panel-default invoice" id="invoice">
                <div class="panel-body">
                    <div class="invoice-ribbon"><div class="ribbon-inner">PAID</div></div>
                    <div class="row bg-row">
                        <div class="col-sm-6 top-left">
                            <img class="logo" src="~/asset/vl-logo.png" />
                        </div>
                        <div class="col-sm-6 top-right">
                            <h3 class="marginright txt-white">@Model.Patient.MaBN</h3>
                            <span class="marginright txt-white">@DateTime.Now</span>
                        </div>
                    </div>
                    <div style="margin-top:10px">
                        <a href="javascript:window.print()" class="btn btn-success d-inline-block" id="invoice-print"><i class="fa fa-print"></i> Print Invoice</a>
                    </div>
                    <div class="p-header">
                        <h1>Thông Tin Khám Bệnh</h1>
                    </div>
                    <hr>
                    <div class="row">
                        <p class="lead marginbottom">Thông Tin Bệnh Nhân</p>
                        <div class="d-flex">
                            <div class="col-xs-6 from w-100">
                                <p>Bệnh Nhân : @Model.Patient.Name</p>
                                <p>Địa Chỉ: @Model.Patient.NumHome @Model.Patient.Address</p>
                                <p>Phường: @Model.Patient.Ward.Ward1</p>
                                <p>Quận: @Model.Patient.District.District1</p>
                            </div>
                            <div class="col-xs-6 to w-100">
                                <p>Giới Tính: @ViewBag.Gender</p>
                                <p>Ngày Sinh: @Model.Patient.BirthDate</p>
                                <p>Số Điện Thoại: <span>0</span>@Model.Patient.Phone</p>
                                <p>Số Điện Thoại Zalo: <span>0</span>@Model.Patient.PhoneZalo</p>
                                <p>Số BHYT: @Model.Patient.InsuranceCode</p>
                            </div>
                        </div>
                        @if (Model.HistoryDiseases1.Count != 0 || Model.HistoryDiseases2.Count != 0 || Model.HistoryDiseases3.Count != 0 || Model.MedicalHistories.Count != 0)
                        {
                            <hr />
                            <p class="lead marginbottom">Thông Tin Bệnh Án</p>
                            <div class="col-xs-12 to">
                                @if (Model.HistoryDiseases1.Count != 0)
                                {
                                    <p>
                                        Tiền sử bệnh (Ông/Bà):
                                        @for (int item1 = 0; item1 < Model.HistoryDiseases1.Count; item1++)
                                        {
                                            if (item1 == Model.HistoryDiseases1.Count - 1)
                                            {
                                                <span>@Model.HistoryDiseases1[item1].Name</span>
                                            }
                                            else
                                            {
                                                <span>@Model.HistoryDiseases1[item1].Name,</span>
                                            }
                                        }
                                    </p>
                                }

                                @if (Model.HistoryDiseases2.Count != 0)
                                {
                                    <p>
                                        Tiền sử bệnh (Cha/Mẹ):
                                        @for (int item2 = 0; item2 < Model.HistoryDiseases2.Count; item2++)
                                        {
                                            if (item2 == Model.HistoryDiseases2.Count - 1)
                                            {
                                                <span>@Model.HistoryDiseases2[item2].Name</span>
                                            }
                                            else
                                            {
                                                <span>@Model.HistoryDiseases2[item2].Name,</span>
                                            }
                                        }
                                    </p>
                                }

                                @if (Model.HistoryDiseases3.Count != 0)
                                {
                                    <p>
                                        Tiền sử bệnh (Anh/Chị em):
                                        @for (int item3 = 0; item3 < Model.HistoryDiseases3.Count; item3++)
                                        {
                                            if (item3 == Model.HistoryDiseases3.Count - 1)
                                            {
                                                <span>@Model.HistoryDiseases3[item3].Name</span>
                                            }
                                            else
                                            {
                                                <span>@Model.HistoryDiseases3[item3].Name,</span>
                                            }
                                        }
                                    </p>
                                }

                                @if (Model.MedicalHistories.Count != 0)
                                {
                                    <p>
                                        Bệnh sử:
                                        @for (int item4 = 0; item4 < Model.MedicalHistories.Count; item4++)
                                        {
                                            if (item4 == Model.MedicalHistories.Count - 1)
                                            {
                                                <span>@Model.MedicalHistories[item4].Name</span>
                                            }
                                            else
                                            {
                                                <span>@Model.MedicalHistories[item4].Name,</span>
                                            }
                                        }
                                    </p>
                                }
                            </div>
                            <hr />
                        }
                    </div>

                    <div class="row">
                        <p class="lead marginbottom">Thông Tin Khám Bệnh</p>
                        <div class="col-xs-12 from">
                            <div class="d-flex justify-content-start">
                                <p class="col-xs-6 w-100">Ngày Khám: @Model.InformationExamination.DateExamine</p>
                                <p class="col-xs-6 w-100">Bác Sĩ: @ViewBag.Doctor</p>
                            </div>
                            <div class="d-flex">
                                <p class="col-xs-4 w-100">Nhịp Tim: @Model.InformationExamination.HeartBeat</p>
                                <p class="col-xs-4 w-100">Nhịp Thở: @Model.InformationExamination.Breathing</p>
                                <p class="col-xs-4 w-100">Huyết Áp: @Model.InformationExamination.BloodPressure</p>
                            </div>
                            <div class="d-flex">
                                <p class="col-xs-4 w-100">Cân Nặng: @Model.InformationExamination.Weight kg</p>
                                <p class="col-xs-4 w-100">Chiều Cao: @Model.InformationExamination.Height cm</p>
                                <p class="col-xs-4 w-100">Tình Trạng: @ViewBag.PatientStatus</p>
                            </div>
                        </div>

                    </div>

                    <div class="row body-pay">
                        <p class="lead marginbottom">Khám Tổng Quát</p>
                        <h5>1. Nội Khoa</h5>
                        @{
                            var listTuanHoan = Model.TuanHoan.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listTuanHoan != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Tuần Hoàn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.TuanHoan.Count; i++)
                                    {
                                        if (Model.TuanHoan[i].ChiDinh == true)
                                        {
                                            <tr>
                                                <td class="text-center">@(i + 1)</td>
                                                @if (Model.TuanHoan[i].Dangerous == false)
                                                {
                                                    <td>@Model.TuanHoan[i].Name</td>
                                                }
                                                else
                                                {
                                                    <td>@Model.TuanHoan[i].Name<span style="color:red"> *</span></td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }

                        @{
                            var listHoHap = Model.HoHap.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listHoHap != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Hô Hấp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.HoHap.Count; i++)
                                    {
                                        if (Model.HoHap[i].ChiDinh == true)
                                        {
                                            <tr>
                                                <td class="text-center">@(i + 1)</td>
                                                @if (Model.HoHap[i].Dangerous == false)
                                                {
                                                    <td>@Model.HoHap[i].Name</td>
                                                }
                                                else
                                                {
                                                    <td>@Model.HoHap[i].Name<span style="color:red"> *</span></td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @{
                            var listTieuHoa = Model.TieuHoa.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listTieuHoa != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Tiêu Hóa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.TieuHoa.Count; i++)
                                    {
                                        if (Model.TieuHoa[i].ChiDinh == true)
                                        {
                                            <tr>
                                                <td class="text-center">@(i + 1)</td>
                                                @if (Model.TieuHoa[i].Dangerous == false)
                                                {
                                                    <td>@Model.TieuHoa[i].Name</td>
                                                }
                                                else
                                                {
                                                    <td>@Model.TieuHoa[i].Name<span style="color:red"> *</span></td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @{
                            var listThanTietNieu = Model.ThanTietNieu.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listThanTietNieu != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Thận Tiết Niệu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.ThanTietNieu.Count; i++)
                                    {
                                        if (Model.ThanTietNieu[i].ChiDinh == true)
                                        {
                                            <tr>
                                                <td class="text-center">@(i + 1)</td>
                                                @if (Model.ThanTietNieu[i].Dangerous == false)
                                                {
                                                    <td>@Model.ThanTietNieu[i].Name</td>
                                                }
                                                else
                                                {
                                                    <td>@Model.ThanTietNieu[i].Name<span style="color:red"> *</span></td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @{
                            var listCoXuongKhop = Model.CoXuongKhop.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listCoXuongKhop != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Cơ Xương Khớp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.CoXuongKhop.Count; i++)
                                    {
                                        if (Model.CoXuongKhop[i].ChiDinh == true)
                                        {
                                            <tr>
                                                <td class="text-center">@(i + 1)</td>
                                                @if (Model.CoXuongKhop[i].Dangerous == false)
                                                {
                                                    <td>@Model.CoXuongKhop[i].Name</td>
                                                }
                                                else
                                                {
                                                    <td>@Model.CoXuongKhop[i].Name<span style="color:red"> *</span></td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @{
                            var listThanKinh = Model.ThanKinh.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listThanKinh != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Thần Kinh</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.ThanKinh.Count; i++)
                                    {
                                        if (Model.ThanKinh[i].ChiDinh == true)
                                        {
                                            <tr>
                                                <td class="text-center">@(i + 1)</td>
                                                @if (Model.ThanKinh[i].Dangerous == false)
                                                {
                                                    <td>@Model.ThanKinh[i].Name</td>
                                                }
                                                else
                                                {
                                                    <td>@Model.ThanKinh[i].Name<span style="color:red"> *</span></td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @{
                            var listTamThan = Model.TamThan.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listTamThan != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Tâm Thần</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.TamThan.Count; i++)
                                    {
                                        if (Model.TamThan[i].ChiDinh == true)
                                        {
                                            <tr>
                                                <td class="text-center">@(i + 1)</td>
                                                @if (Model.TamThan[i].Dangerous == false)
                                                {
                                                    <td>@Model.TamThan[i].Name</td>
                                                }
                                                else
                                                {
                                                    <td>@Model.TamThan[i].Name<span style="color:red"> *</span></td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @{
                            var listNgoaiKhoa = Model.NgoaiKhoa.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listNgoaiKhoa != 0)
                        {
                            <h5>2. Ngoại Khoa</h5>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Ngoại Khoa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.NgoaiKhoa.Count; i++)
                                    {
                                        if (Model.NgoaiKhoa[i].ChiDinh == true)
                                        {
                                            <tr>
                                                <td class="text-center">@(i + 1)</td>
                                                @if (Model.NgoaiKhoa[i].Dangerous == false)
                                                {
                                                    <td>@Model.NgoaiKhoa[i].Name</td>
                                                }
                                                else
                                                {
                                                    <td>@Model.NgoaiKhoa[i].Name<span style="color:red"> *</span></td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @{
                            var listSanPhuKhoa = Model.SanPhuKhoa.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listSanPhuKhoa != 0)
                        {
                            <h5>3. Sản Phụ Khoa</h5>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Sản Phụ Khoa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.SanPhuKhoa.Count; i++)
                                    {
                                        if (Model.SanPhuKhoa[i].ChiDinh == true)
                                        {
                                            <tr>
                                                <td class="text-center">@(i + 1)</td>
                                                @if (Model.SanPhuKhoa[i].Dangerous == false)
                                                {
                                                    <td>@Model.SanPhuKhoa[i].Name</td>
                                                }
                                                else
                                                {
                                                    <td>@Model.SanPhuKhoa[i].Name<span style="color:red"> *</span></td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @if (Model.Clinical.RightEyesNoGlasses != null || Model.Clinical.LeftEyesNoGlasses != null
                            || Model.Clinical.RightEyesGlasses != null || Model.Clinical.LeftEyesGlasses != null)
                        {
                            <h5>4. Mắt</h5>
                            <p>- Kết quả khám thị lực:</p>
                            <div class="col-xs-12 from">
                                <div class="d-flex">
                                    <p class="col-xs-4 w-100">Không kính:</p>
                                    <p class="col-xs-4 w-100">Mắt phải: @Model.Clinical.RightEyesNoGlasses/10</p>
                                    <p class="col-xs-4 w-100">Mắt trái: @Model.Clinical.LeftEyesNoGlasses/10</p>
                                </div>
                                <div class="d-flex">
                                    <p class="col-xs-4 w-100">Có kính:</p>
                                    <p class="col-xs-4 w-100">Mắt phải: @Model.Clinical.RightEyesGlasses/10</p>
                                    <p class="col-xs-4 w-100">Mắt trái: @Model.Clinical.LeftEyesGlasses/10</p>
                                </div>
                            </div>
                        }

                        @{
                            var listMat = Model.Mat.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listMat != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Mắt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Mat.Count; i++)
                                    {
                                        if (Model.Mat[i].ChiDinh == true)
                                        {
                                            <tr>
                                                <td class="text-center">@(i + 1)</td>
                                                @if (Model.Mat[i].Dangerous == false)
                                                {
                                                    <td>@Model.Mat[i].Name</td>
                                                }
                                                else
                                                {
                                                    <td>@Model.Mat[i].Name<span style="color:red"> *</span></td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @if (Model.Clinical.LeftEarSay != null || Model.Clinical.LeftEarWhisper != null
                            || Model.Clinical.RightEarSay != null || Model.Clinical.RightEarWhisper != null)
                        {
                            <h5>5. Tai-Mũi-Họng</h5>
                            <p>- Kết quả khám thính lực:</p>
                            <div class="col-xs-12 from">
                                <div class="d-flex">
                                    <p class="col-xs-4 w-100">Tai trái:</p>
                                    <p class="col-xs-4 w-100">Nói thường: @Model.Clinical.LeftEarSay m</p>
                                    <p class="col-xs-4 w-100">Nói thầm: @Model.Clinical.LeftEarWhisper m</p>
                                </div>
                                <div class="d-flex">
                                    <p class="col-xs-4 w-100">Tai phải:</p>
                                    <p class="col-xs-4 w-100">Nói thường: @Model.Clinical.RightEarSay m</p>
                                    <p class="col-xs-4 w-100">Nói thầm: @Model.Clinical.RightEarWhisper m</p>
                                </div>
                            </div>
                        }
                        @{
                            var listTaiMuiHong = Model.TaiMuiHong.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listTaiMuiHong != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Tai-Mũi-Họng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.TaiMuiHong.Count; i++)
                                    {
                                        if (Model.TaiMuiHong[i].ChiDinh == true)
                                        {
                                            <tr>
                                                <td class="text-center">@(i + 1)</td>
                                                @if (Model.TaiMuiHong[i].Dangerous == false)
                                                {
                                                    <td>@Model.TaiMuiHong[i].Name</td>
                                                }
                                                else
                                                {
                                                    <td>@Model.TaiMuiHong[i].Name<span style="color:red"> *</span></td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @if (Model.Clinical.UpperJaw != null || Model.Clinical.LowerJaw != null)
                        {
                            <h5>6. Răng-Hàm-Mặt</h5>
                            <p>- Kết quả khám:</p>
                            <div class="col-xs-12 from">
                                <div class="d-flex">
                                    <p class="col-xs-6 w-100">Hàm trên: @Model.Clinical.UpperJaw</p>
                                    <p class="col-xs-6 w-100">Hàm dưới: @Model.Clinical.LowerJaw</p>
                                </div>
                            </div>
                        }
                        @{
                            var listRangHamMat = Model.RangHamMat.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listRangHamMat != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Răng-Hàm-Mặt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.RangHamMat.Count; i++)
                                    {
                                        if (Model.RangHamMat[i].ChiDinh == true)
                                        {
                                            <tr>
                                                <td class="text-center">@(i + 1)</td>
                                                @if (Model.RangHamMat[i].Dangerous == false)
                                                {
                                                    <td>@Model.RangHamMat[i].Name</td>
                                                }
                                                else
                                                {
                                                    <td>@Model.RangHamMat[i].Name<span style="color:red"> *</span></td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @{
                            var listDaLieu = Model.DaLieu.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listDaLieu != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Da Liễu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.DaLieu.Count; i++)
                                    {
                                        if (Model.DaLieu[i].ChiDinh == true)
                                        {
                                            <tr>
                                                <td class="text-center">@(i + 1)</td>
                                                @if (Model.DaLieu[i].Dangerous == false)
                                                {
                                                    <td>@Model.DaLieu[i].Name</td>
                                                }
                                                else
                                                {
                                                    <td>@Model.DaLieu[i].Name<span style="color:red"> *</span></td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                    </div>

                    <div class="row body-pay">
                        <div class="col-xs-6 margintop">
                            <p class="lead marginbottom" style="text-align:center;margin-bottom:10rem">Chữ Ký Bác Sĩ</p>
                        </div>
                        <div class="col-xs-6 margintop">
                            <p class="lead marginbottom" style="text-align:center;">THANK YOU!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>