@model ElectronicMedicalRecords.Models.MultiplesModel
@{
    ViewBag.Title = "PrintExaminationInfo";
    Layout = "~/Areas/Admin/Views/Shared/Print.cshtml";
}
<style>
    p {
        text-align: left
    }
</style>
<div class="container bootstrap snippets bootdeys">
    <div class="row body-pay">
        <div class="col-sm-12">
            <div class="panel panel-default invoice" id="invoice">
                <div class="panel-body">
                    <div class="invoice-ribbon"><div class="ribbon-inner">PAID</div></div>
                    <div class="row bg-row">

                        <div class="col-sm-6 top-left">
                            <img class="logo" src="~/asset/vl-logo.png" />
                        </div>

                        <div class="col-sm-6 top-right">
                            <h3 class="marginright txt-white">@Model.Patient.MaBN</h3>
                            <span class="marginright txt-white">@DateTime.Now</span>
                        </div>
                    </div>
                    <div style="margin-top:10px">
                        <a href="javascript:window.print()" class="btn btn-success d-inline-block" id="invoice-print"><i class="fa fa-print"></i> Print Invoice</a>
                    </div> 
                    <div class="p-header">
                        <h1>Toa Thuốc</h1>
                    </div>
                    <hr>
                    <div class="row">

                        <p class="lead marginbottom">Thông Tin Bệnh Nhân</p>
                        <div class="d-flex">
                            <div class="col-xs-4 from w-100">
                                <p>Bệnh Nhân : @Model.Patient.Name</p>
                                <p>Địa Chỉ: @Model.Patient.NumHome @Model.Patient.Address</p>
                                <p>Phường: @Model.Patient.Ward.Ward1</p>
                                <p>Quận: @Model.Patient.District.District1</p>
                            </div>
                            <div class="col-xs-4 to w-100">
                                <p>Giới Tính: @ViewBag.Gender</p>
                                <p>Số Điện Thoại: <span>0</span>@Model.Patient.Phone</p>
                                <p>Số Điện Thoại: <span>0</span>@Model.Patient.PhoneZalo</p>
                            </div>
                            <div class="col-xs-4 to w-100">
                                <p>Ngày Sinh: @Model.Patient.BirthDate.Value.ToString("dd/MM/yyyy")</p>
                                <p>Số BHYT: @Model.Patient.InsuranceCode</p>
                            </div>
                        </div>
                        @if (Model.HistoryDiseases1 != null || Model.HistoryDiseases2 != null || Model.HistoryDiseases3 != null || Model.MedicalHistories != null
                            || Model.Detail_HistoryDiseases1 != null || Model.Detail_HistoryDiseases2 != null || Model.Detail_HistoryDiseases3 != null || Model.Detail_MedicalHistories != null)
                        {
                            <hr />
                            <p class="lead marginbottom">Thông Tin Bệnh Án</p>
                            <div class="col-xs-12 to">
                                @if (Model.HistoryDiseases1 != null)
                                {
                                    if (Model.HistoryDiseases1.Count != 0)
                                    {
                                        <p>
                                            Tiền sử bệnh (Ông/Bà):
                                            @for (int item1 = 0; item1 < Model.HistoryDiseases1.Count; item1++)
                                            {
                                                if (item1 == Model.HistoryDiseases1.Count - 1)
                                                {
                                                    <span>@Model.HistoryDiseases1[item1].Name</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.HistoryDiseases1[item1].Name,</span>
                                                }
                                            }
                                        </p>
                                    }
                                }
                                else
                                {
                                    if (Model.Detail_HistoryDiseases1 != null)
                                    {
                                        <p>
                                            Tiền sử bệnh (Ông/Bà):
                                            @for (int item1 = 0; item1 < Model.Detail_HistoryDiseases1.Count; item1++)
                                            {
                                                if (item1 == Model.Detail_HistoryDiseases1.Count - 1)
                                                {
                                                    <span>@Model.Detail_HistoryDiseases1[item1].HistoryDisease.Name</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.Detail_HistoryDiseases1[item1].HistoryDisease.Name,</span>
                                                }
                                            }
                                        </p>
                                    }

                                }
                                @if (Model.HistoryDiseases2 != null)
                                {
                                    if (Model.HistoryDiseases2.Count != 0)
                                    {
                                        <p>
                                            Tiền sử bệnh (Cha/Mẹ):
                                            @for (int item2 = 0; item2 < Model.HistoryDiseases2.Count; item2++)
                                            {
                                                if (item2 == Model.HistoryDiseases2.Count - 1)
                                                {
                                                    <span>@Model.HistoryDiseases2[item2].Name</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.HistoryDiseases2[item2].Name,</span>
                                                }
                                            }
                                        </p>
                                    }
                                }
                                else
                                {
                                    if (Model.Detail_HistoryDiseases2 != null)
                                    {
                                        <p>
                                            Tiền sử bệnh (Cha/Mẹ):
                                            @for (int item2 = 0; item2 < Model.Detail_HistoryDiseases2.Count; item2++)
                                            {
                                                if (item2 == Model.Detail_HistoryDiseases2.Count - 1)
                                                {
                                                    <span>@Model.Detail_HistoryDiseases2[item2].HistoryDisease.Name</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.Detail_HistoryDiseases2[item2].HistoryDisease.Name,</span>
                                                }
                                            }
                                        </p>
                                    }
                                }

                                @if (Model.HistoryDiseases3 != null)
                                {
                                    if (Model.HistoryDiseases3.Count != 0)
                                    {
                                        <p>
                                            Tiền sử bệnh (Anh/Chị em):
                                            @for (int item3 = 0; item3 < Model.HistoryDiseases3.Count; item3++)
                                            {
                                                if (item3 == Model.HistoryDiseases3.Count - 1)
                                                {
                                                    <span>@Model.HistoryDiseases3[item3].Name</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.HistoryDiseases3[item3].Name,</span>
                                                }
                                            }
                                        </p>
                                    }
                                }
                                else
                                {
                                    if (Model.Detail_HistoryDiseases3 != null)
                                    {
                                        <p>
                                            Tiền sử bệnh (Anh/Chị em):
                                            @for (int item3 = 0; item3 < Model.Detail_HistoryDiseases3.Count; item3++)
                                            {
                                                if (item3 == Model.Detail_HistoryDiseases3.Count - 1)
                                                {
                                                    <span>@Model.Detail_HistoryDiseases3[item3].HistoryDisease.Name</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.Detail_HistoryDiseases3[item3].HistoryDisease.Name,</span>
                                                }
                                            }
                                        </p>
                                    }
                                }

                                @if (Model.MedicalHistories != null)
                                {
                                    if (Model.MedicalHistories.Count != 0)
                                    {
                                        <p>
                                            Bệnh sử:
                                            @for (int item4 = 0; item4 < Model.MedicalHistories.Count; item4++)
                                            {
                                                if (item4 == Model.MedicalHistories.Count - 1)
                                                {
                                                    <span>@Model.MedicalHistories[item4].Name</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.MedicalHistories[item4].Name,</span>
                                                }
                                            }
                                        </p>
                                    }
                                }
                                else
                                {
                                    if (Model.Detail_MedicalHistories != null)
                                    {
                                        <p>
                                            Bệnh sử:
                                            @for (int item4 = 0; item4 < Model.Detail_MedicalHistories.Count; item4++)
                                            {
                                                if (item4 == Model.Detail_MedicalHistories.Count - 1)
                                                {
                                                    <span>@Model.Detail_MedicalHistories[item4].MedicalHistory.Name</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.Detail_MedicalHistories[item4].MedicalHistory.Name,</span>
                                                }
                                            }
                                        </p>
                                    }
                                }
                            </div>
                        }
                    </div>
                    <hr />
                    <div class="row">
                        <p class="lead marginbottom">Thông Tin Khám Bệnh</p>
                        <div class="col-xs-12 from">
                            <div class="d-flex justify-content-start">
                                <p class="col-xs-6 w-100">Ngày Khám: @Model.InformationExamination.DateExamine</p>
                                <p class="col-xs-6 w-100">Bác Sĩ: @ViewBag.Doctor</p>
                            </div>
                            <div class="d-flex">
                                <p class="col-xs-4 w-100">Nhịp Tim: @Model.InformationExamination.HeartBeat</p>
                                <p class="col-xs-4 w-100">Nhịp Thở: @Model.InformationExamination.Breathing</p>
                                <p class="col-xs-4 w-100">Huyết Áp: @Model.InformationExamination.BloodPressure</p>
                            </div>
                            <div class="d-flex">
                                <p class="col-xs-4 w-100">Cân Nặng: @Model.InformationExamination.Weight</p>
                                <p class="col-xs-4 w-100">Chiều Cao: @Model.InformationExamination.Height</p>
                                <p class="col-xs-4 w-100">Tình Trạng: @ViewBag.PatientStatus</p>
                            </div>
                        </div>
                        @if (Model.DiagnosticsCategory != null)
                        {
                            if (Model.DiagnosticsCategory.ID != 0)
                            {
                                <p>Chẩn Đoán: @Model.DiagnosticsCategory.Name</p>
                            }
                        }
                        else
                        {
                            if (Model.Detail_DiagnosticsCategory != null && Model.Detail_DiagnosticsCategory.DiagnosticsCategory != null)
                            {
                                <p>Chẩn Đoán: @Model.Detail_DiagnosticsCategory.DiagnosticsCategory.Name</p>
                            }
                        }
                    </div>
                    <hr />
                    @if (Model.Prescription_Details != null && Model.Prescription_Details.Count != 0)
                    {
                        <div class="row body-pay">
                            <p class="lead marginbottom">Toa Thuốc</p>
                            @for (int i = 0; i < Model.Prescription_Details.Count; i++)
                            {
                                <div class="col-xs-12 from" style="padding: 0 3rem">
                                    <div class="d-flex justify-content-start">
                                        <p>@(i + 1).</p>
                                        <p class="col-xs-6 w-100" style="font-weight:500;margin-left:2rem">@Model.Prescription_Details[i].Medication.Name</p>
                                        <p class="col-xs-6 w-100">@Model.Prescription_Details[i].NumMedication <span>@Model.Prescription_Details[i].Medication.Unit</span></p>
                                    </div>
                                    <p style="margin-left:2.8rem">
                                        @Model.Prescription_Details[i].Note
                                    </p>
                                </div>
                            }
                            @*<table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:5%">#</th>
                            <th style="width:20%">Tên Thuốc</th>
                            <th style="width:50%">Tên Thuốc</th>
                            <th style="width:50%">Tên Thuốc</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < ViewBag.SHMaus.Count; i++)
                        {
                            if (ViewBag.SHMaus[i].ChiDinh == true)
                            {
                                <tr>
                                    <td class="text-center">@(i + 1)</td>
                                    <td>@ViewBag.SHMaus[i].NameTest</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>*@
                        </div>
                    <hr />
                    }
                    <div class="d-flex-col-sign p-5">
                        <p class="lead m-0 pe-3 ">Bác Sỹ</p>
                        <i>(ghi rõ họ tên)</i>
                    </div>
                    <div class="col-xs-6 margintop">
                        <p class="lead marginbottom" style="text-align:center;">THANK YOU!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>