@model ElectronicMedicalRecords.Models.MultiplesModel
@{
    ViewBag.Title = "PrintExaminationInfo";
    Layout = "~/Areas/Admin/Views/Shared/Print.cshtml";
}
<style>
    p {
        text-align: left
    }
    td p{
        margin-bottom: 0
    }
</style>
<div class="container bootstrap snippets bootdeys">
    <div class="row body-pay">
        <div class="col-sm-12">
            <div class="panel panel-default invoice" id="invoice">
                <div class="panel-body">
                    <div class="invoice-ribbon"><div class="ribbon-inner">PAID</div></div>
                    <div class="row bg-row">

                        <div class="col-sm-6 top-left">
                            <img class="logo" src="~/asset/vl-logo.png" />
                        </div>
                        <div class="col-sm-6 top-right">
                            <h3 class="marginright txt-white">@Model.Patient.MaBN</h3>
                            <span class="marginright txt-white">@DateTime.Now</span>
                        </div>

                    </div>
                    <div style="margin-top:10px">
                        <a href="javascript:window.print()" class="btn btn-success d-inline-block" id="invoice-print"><i class="fa fa-print"></i> Print Invoice</a>
                    </div>

                    <div class="p-header">
                        <h1>Hồ Sơ & KQ Xét Nghiệm</h1>
                    </div>

                    <hr>
                    <div class="row">
                        <p class="lead marginbottom">Thông Tin Bệnh Nhân</p>
                        <div class="d-flex">
                            <div class="col-xs-4 from w-100">
                                <p>Bệnh Nhân : @Model.Patient.Name</p>
                                <p>Số Nhà: @Model.Patient.NumHome</p>
                                <p>Địa Chỉ: @Model.Patient.Address</p>
                                <p>Phường: @Model.Patient.Ward.Ward1</p>
                                <p>Quận: @Model.Patient.District.District1</p>
                            </div>
                            <div class="col-xs-4 to w-100">
                                <p>Giới Tính: @ViewBag.Gender</p>
                                <p>Ngày Sinh: @Model.Patient.BirthDate</p>
                                <p>Số Điện Thoại: <span>0</span>@Model.Patient.Phone</p>
                                <p>Số Điện Thoại Zalo: <span>0</span>@Model.Patient.PhoneZalo</p>
                                <p>Số BHYT: @Model.Patient.InsuranceCode</p>
                            </div>
                            <div class="col-xs-4 to w-100">
                                <img src="@ViewBag.Url" width="150" height="150" alt="Alternate Text" />
                            </div>
                        </div>
                        <hr />
                        <p class="lead marginbottom">Thông Tin Bệnh Án</p>
                        <div class="col-xs-12 to">
                            @if (Model.Detail_HistoryDiseases1 != null)
                            {
                                <p>
                                    Tiền sử bệnh (Ông/Bà):
                                    @for (int item1 = 0; item1 < Model.Detail_HistoryDiseases1.Count; item1++)
                                    {
                                        if (item1 == Model.Detail_HistoryDiseases1.Count - 1)
                                        {
                                            <span>@Model.Detail_HistoryDiseases1[item1].HistoryDisease.Name</span>
                                        }
                                        else
                                        {
                                            <span>@Model.Detail_HistoryDiseases1[item1].HistoryDisease.Name,</span>
                                        }
                                    }
                                </p>
                            }

                            @if (Model.Detail_HistoryDiseases2 != null)
                            {
                                <p>
                                    Tiền sử bệnh (Cha/Mẹ):
                                    @for (int item2 = 0; item2 < Model.Detail_HistoryDiseases2.Count; item2++)
                                    {
                                        if (item2 == Model.Detail_HistoryDiseases2.Count - 1)
                                        {
                                            <span>@Model.Detail_HistoryDiseases2[item2].HistoryDisease.Name</span>
                                        }
                                        else
                                        {
                                            <span>@Model.Detail_HistoryDiseases2[item2].HistoryDisease.Name,</span>
                                        }
                                    }
                                </p>
                            }

                            @if (Model.Detail_HistoryDiseases3 != null)
                            {
                                <p>
                                    Tiền sử bệnh (Anh/Chị em):
                                    @for (int item3 = 0; item3 < Model.Detail_HistoryDiseases3.Count; item3++)
                                    {
                                        if (item3 == Model.Detail_HistoryDiseases3.Count - 1)
                                        {
                                            <span>@Model.Detail_HistoryDiseases3[item3].HistoryDisease.Name</span>
                                        }
                                        else
                                        {
                                            <span>@Model.Detail_HistoryDiseases3[item3].HistoryDisease.Name,</span>
                                        }
                                    }
                                </p>
                            }

                            @if (Model.Detail_MedicalHistories != null)
                            {
                                <p>
                                    Bệnh sử:
                                    @for (int item4 = 0; item4 < Model.Detail_MedicalHistories.Count; item4++)
                                    {
                                        if (item4 == Model.Detail_MedicalHistories.Count - 1)
                                        {
                                            <span>@Model.Detail_MedicalHistories[item4].MedicalHistory.Name</span>
                                        }
                                        else
                                        {
                                            <span>@Model.Detail_MedicalHistories[item4].MedicalHistory.Name,</span>
                                        }
                                    }
                                </p>
                            }
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <p class="lead marginbottom">Thông Tin Khám Bệnh</p>
                        <div class="col-xs-12 from">
                            <div class="d-flex justify-content-start">
                                <p class="col-xs-6 w-100">Ngày Khám: @Model.InformationExamination.DateExamine</p>
                                <p class="col-xs-6 w-100">Bác Sĩ: @ViewBag.Doctor</p>
                            </div>
                            <div class="d-flex">
                                <p class="col-xs-4 w-100">Nhịp Tim: @Model.InformationExamination.HeartBeat</p>
                                <p class="col-xs-4 w-100">Nhịp Thở: @Model.InformationExamination.Breathing</p>
                                <p class="col-xs-4 w-100">Huyết Áp: @Model.InformationExamination.BloodPressure</p>
                            </div>
                            <div class="d-flex">
                                <p class="col-xs-4 w-100">Cân Nặng: @Model.InformationExamination.Weight kg</p>
                                <p class="col-xs-4 w-100">Chiều Cao: @Model.InformationExamination.Height cm</p>
                                <p class="col-xs-4 w-100">Tình Trạng: @ViewBag.PatientStatus</p>
                            </div>
                        </div>

                    </div>
                    <hr />
                    <div class="row body-pay">
                        <p class="lead marginbottom">Khám Tổng Quát</p>
                        <h5>1. Nội Khoa</h5>
                        @{
                            var listTuanHoan = Model.TuanHoan.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listTuanHoan != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Tuần Hoàn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.TuanHoan.Count; i++)
                                    {
                                        if (Model.TuanHoan[i].ChiDinh == true)
                                        {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            @if (Model.TuanHoan[i].Dangerous == false)
                                            {
                                                <td>@Model.TuanHoan[i].Name</td>
                                            }
                                            else
                                            {
                                                <td>@Model.TuanHoan[i].Name<span style="color:red"> *</span></td>
                                            }
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }

                        @{
                            var listHoHap = Model.HoHap.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listHoHap != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Hô Hấp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.HoHap.Count; i++)
                                    {
                                        if (Model.HoHap[i].ChiDinh == true)
                                        {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            @if (Model.HoHap[i].Dangerous == false)
                                            {
                                                <td>@Model.HoHap[i].Name</td>
                                            }
                                            else
                                            {
                                                <td>@Model.HoHap[i].Name<span style="color:red"> *</span></td>
                                            }
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @{
                            var listTieuHoa = Model.TieuHoa.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listTieuHoa != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Tiêu Hóa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.TieuHoa.Count; i++)
                                    {
                                        if (Model.TieuHoa[i].ChiDinh == true)
                                        {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            @if (Model.TieuHoa[i].Dangerous == false)
                                            {
                                                <td>@Model.TieuHoa[i].Name</td>
                                            }
                                            else
                                            {
                                                <td>@Model.TieuHoa[i].Name<span style="color:red"> *</span></td>
                                            }
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @{
                            var listThanTietNieu = Model.ThanTietNieu.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listThanTietNieu != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Thận Tiết Niệu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.ThanTietNieu.Count; i++)
                                    {
                                        if (Model.ThanTietNieu[i].ChiDinh == true)
                                        {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            @if (Model.ThanTietNieu[i].Dangerous == false)
                                            {
                                                <td>@Model.ThanTietNieu[i].Name</td>
                                            }
                                            else
                                            {
                                                <td>@Model.ThanTietNieu[i].Name<span style="color:red"> *</span></td>
                                            }
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @{
                            var listCoXuongKhop = Model.CoXuongKhop.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listCoXuongKhop != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Cơ Xương Khớp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.CoXuongKhop.Count; i++)
                                    {
                                        if (Model.CoXuongKhop[i].ChiDinh == true)
                                        {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            @if (Model.CoXuongKhop[i].Dangerous == false)
                                            {
                                                <td>@Model.CoXuongKhop[i].Name</td>
                                            }
                                            else
                                            {
                                                <td>@Model.CoXuongKhop[i].Name<span style="color:red"> *</span></td>
                                            }
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @{
                            var listThanKinh = Model.ThanKinh.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listThanKinh != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Thần Kinh</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.ThanKinh.Count; i++)
                                    {
                                        if (Model.ThanKinh[i].ChiDinh == true)
                                        {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            @if (Model.ThanKinh[i].Dangerous == false)
                                            {
                                                <td>@Model.ThanKinh[i].Name</td>
                                            }
                                            else
                                            {
                                                <td>@Model.ThanKinh[i].Name<span style="color:red"> *</span></td>
                                            }
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @{
                            var listTamThan = Model.TamThan.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listTamThan != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Tâm Thần</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.TamThan.Count; i++)
                                    {
                                        if (Model.TamThan[i].ChiDinh == true)
                                        {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            @if (Model.TamThan[i].Dangerous == false)
                                            {
                                                <td>@Model.TamThan[i].Name</td>
                                            }
                                            else
                                            {
                                                <td>@Model.TamThan[i].Name<span style="color:red"> *</span></td>
                                            }
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @{
                            var listNgoaiKhoa = Model.NgoaiKhoa.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listNgoaiKhoa != 0)
                        {
                            <h5>2. Ngoại Khoa</h5>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Ngoại Khoa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.NgoaiKhoa.Count; i++)
                                    {
                                        if (Model.NgoaiKhoa[i].ChiDinh == true)
                                        {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            @if (Model.NgoaiKhoa[i].Dangerous == false)
                                            {
                                                <td>@Model.NgoaiKhoa[i].Name</td>
                                            }
                                            else
                                            {
                                                <td>@Model.NgoaiKhoa[i].Name<span style="color:red"> *</span></td>
                                            }
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @{
                            var listSanPhuKhoa = Model.SanPhuKhoa.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listSanPhuKhoa != 0)
                        {
                            <h5>3. Sản Phụ Khoa</h5>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Sản Phụ Khoa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.SanPhuKhoa.Count; i++)
                                    {
                                        if (Model.SanPhuKhoa[i].ChiDinh == true)
                                        {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            @if (Model.SanPhuKhoa[i].Dangerous == false)
                                            {
                                                <td>@Model.SanPhuKhoa[i].Name</td>
                                            }
                                            else
                                            {
                                                <td>@Model.SanPhuKhoa[i].Name<span style="color:red"> *</span></td>
                                            }
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        <h5>4. Mắt</h5>
                        <p>- Kết quả khám thị lực:</p>
                        <div class="col-xs-12 from">
                            <div class="d-flex">
                                <p class="col-xs-4 w-100">Không kính:</p>
                                <p class="col-xs-4 w-100">Mắt phải: @Model.Clinical.RightEyesNoGlasses/10</p>
                                <p class="col-xs-4 w-100">Mắt trái: @Model.Clinical.LeftEyesNoGlasses/10</p>
                            </div>
                            <div class="d-flex">
                                <p class="col-xs-4 w-100">Có kính:</p>
                                <p class="col-xs-4 w-100">Mắt phải: @Model.Clinical.RightEyesGlasses/10</p>
                                <p class="col-xs-4 w-100">Mắt trái: @Model.Clinical.LeftEyesGlasses/10</p>
                            </div>
                        </div>
                        @{
                            var listMat = Model.Mat.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listMat != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Mắt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Mat.Count; i++)
                                    {
                                        if (Model.Mat[i].ChiDinh == true)
                                        {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            @if (Model.Mat[i].Dangerous == false)
                                            {
                                                <td>@Model.Mat[i].Name</td>
                                            }
                                            else
                                            {
                                                <td>@Model.Mat[i].Name<span style="color:red"> *</span></td>
                                            }
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        <h5>5. Tai-Mũi-Họng</h5>
                        <p>- Kết quả khám thính lực:</p>
                        <div class="col-xs-12 from">
                            <div class="d-flex">
                                <p class="col-xs-4 w-100">Tai trái:</p>
                                <p class="col-xs-4 w-100">Nói thường: @Model.Clinical.LeftEarSay m</p>
                                <p class="col-xs-4 w-100">Nói thầm: @Model.Clinical.LeftEarWhisper m</p>
                            </div>
                            <div class="d-flex">
                                <p class="col-xs-4 w-100">Tai phải:</p>
                                <p class="col-xs-4 w-100">Nói thường: @Model.Clinical.RightEarSay m</p>
                                <p class="col-xs-4 w-100">Nói thầm: @Model.Clinical.RightEarWhisper m</p>
                            </div>
                        </div>
                        @{
                            var listTai = Model.Tai.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listTai != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Tai</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Tai.Count; i++)
                                    {
                                        if (Model.Tai[i].ChiDinh == true)
                                        {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            @if (Model.Tai[i].Dangerous == false)
                                            {
                                                <td>@Model.Tai[i].Name</td>
                                            }
                                            else
                                            {
                                                <td>@Model.Tai[i].Name<span style="color:red"> *</span></td>
                                            }
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @{
                            var listMui = Model.Mui.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listMui != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Mũi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Mui.Count; i++)
                                    {
                                        if (Model.Mui[i].ChiDinh == true)
                                        {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            @if (Model.Mui[i].Dangerous == false)
                                            {
                                                <td>@Model.Mui[i].Name</td>
                                            }
                                            else
                                            {
                                                <td>@Model.Mui[i].Name<span style="color:red"> *</span></td>
                                            }
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @{
                            var listHong = Model.Hong.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listHong != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Họng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Hong.Count; i++)
                                    {
                                        if (Model.Hong[i].ChiDinh == true)
                                        {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            @if (Model.Hong[i].Dangerous == false)
                                            {
                                                <td>@Model.Hong[i].Name</td>
                                            }
                                            else
                                            {
                                                <td>@Model.Hong[i].Name<span style="color:red"> *</span></td>
                                            }
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        <h5>6. Răng-Hàm-Mặt</h5>
                        <p>- Kết quả khám:</p>
                        <div class="col-xs-12 from">
                            <div class="d-flex">
                                <p class="col-xs-6 w-100">Hàm trên: @Model.Clinical.UpperJaw</p>
                                <p class="col-xs-6 w-100">Hàm dưới: @Model.Clinical.LowerJaw</p>
                            </div>
                        </div>
                        @{
                            var listRangHamMat = Model.RangHamMat.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listRangHamMat != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Răng-Hàm-Mặt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.RangHamMat.Count; i++)
                                    {
                                        if (Model.RangHamMat[i].ChiDinh == true)
                                        {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            @if (Model.RangHamMat[i].Dangerous == false)
                                            {
                                                <td>@Model.RangHamMat[i].Name</td>
                                            }
                                            else
                                            {
                                                <td>@Model.RangHamMat[i].Name<span style="color:red"> *</span></td>
                                            }
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        @{
                            var listDaLieu = Model.DaLieu.Where(p => p.ChiDinh == true).Count();
                        }
                        @if (listDaLieu != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:95%">Các bệnh về Da Liễu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.DaLieu.Count; i++)
                                    {
                                        if (Model.DaLieu[i].ChiDinh == true)
                                        {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            @if (Model.DaLieu[i].Dangerous == false)
                                            {
                                                <td>@Model.DaLieu[i].Name</td>
                                            }
                                            else
                                            {
                                                <td>@Model.DaLieu[i].Name<span style="color:red"> *</span></td>
                                            }
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    @if (Model.Detail_CTMaus != null)
                    {
                    <hr />
                        <div class="row body-pay">
                            <p class="lead marginbottom">Xét Nghiệm Công Thức Máu</p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:40%">Chỉ Định</th>
                                        <th style="width:20%">Kết Quả</th>
                                        <th style="width:15%">CSCB</th>
                                        <th style="width:20%">Đơn Vị</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Detail_CTMaus.Count; i++)
                                    {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            <td>@Model.Detail_CTMaus[i].CTMau.NameTest</td>
                                            <td>@Model.Detail_CTMaus[i].Result</td>
                                            <td>@Model.Detail_CTMaus[i].CTMau.CSBT</td>
                                            <td>@Model.Detail_CTMaus[i].CTMau.Unit</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    @if (Model.Detail_SinhHoaMaus != null)
                    {
                    <hr />
                        <div class="row body-pay">
                            <p class="lead marginbottom">Xét Nghiệm Sinh Hóa Máu</p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:40%">Chỉ Định</th>
                                        <th style="width:30%">Kết Quả</th>
                                        <th style="width:25%">CSCB</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Detail_SinhHoaMaus.Count; i++)
                                    {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            <td>@Model.Detail_SinhHoaMaus[i].SinhHoaMau.NameTest</td>
                                            <td>@Model.Detail_SinhHoaMaus[i].Result</td>
                                            <td>@Html.Raw(Model.Detail_SinhHoaMaus[i].SinhHoaMau.CSBT)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    @if (Model.Detail_DongMaus != null)
                    {
                    <hr />
                        <div class="row body-pay">
                            <p class="lead marginbottom">Xét Nghiệm Đông Máu</p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:40%">Chỉ Định</th>
                                        <th style="width:20%">Kết Quả</th>
                                        <th style="width:15%">CSCB</th>
                                        <th style="width:20%">Đơn Vị</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Detail_DongMaus.Count; i++)
                                    {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            <td>@Model.Detail_DongMaus[i].DongMau.NameTest</td>
                                            <td>@Model.Detail_DongMaus[i].Result</td>
                                            <td>@Model.Detail_DongMaus[i].DongMau.CSBT</td>
                                            <td>@Model.Detail_DongMaus[i].DongMau.Unit</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    @if (Model.Detail_NhomMaus != null)
                    {
                    <hr />
                        <div class="row body-pay">
                            <p class="lead marginbottom">Xét Nghiệm Nhóm Máu</p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:40%">Chỉ Định</th>
                                        <th>Kết Quả</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Detail_NhomMaus.Count; i++)
                                    {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            <td>@Model.Detail_NhomMaus[i].NhomMau.NameTest</td>
                                            <td>@Model.Detail_NhomMaus[i].Result</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    @if (Model.Detail_Urines != null)
                    {
                    <hr />
                        <div class="row body-pay">
                            <p class="lead marginbottom">Xét Nghiệm Nước Tiểu</p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:40%">Chỉ Định</th>
                                        <th style="width:30%">Kết Quả</th>
                                        <th style="width:25%">CSCB</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Detail_Urines.Count; i++)
                                    {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            <td>@Model.Detail_Urines[i].Urine.Name</td>
                                            <td>@Model.Detail_Urines[i].Result</td>
                                            <td>@Model.Detail_Urines[i].Urine.CSBT</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    @if (Model.Detail_Immunes != null)
                    {
                    <hr />
                        <div class="row body-pay">
                            <p class="lead marginbottom">Xét Nghiệm Miễn Dịch</p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:40%">Chỉ Định</th>
                                        <th style="width:20%">Kết Quả</th>
                                        <th style="width:15%">CSCB</th>
                                        <th style="width:20%">Đơn Vị</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Detail_Immunes.Count; i++)
                                    {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            <td>@Model.Detail_Immunes[i].Immune.NameTest</td>
                                            <td>@Model.Detail_Immunes[i].Result</td>
                                            <td>@Model.Detail_Immunes[i].Immune.CSBT</td>
                                            <td>@Model.Detail_Immunes[i].Immune.Unit</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    @if (Model.Detail_Amniocentes != null)
                    {
                    <hr />
                        <div class="row body-pay">
                            <p class="lead marginbottom">Xét Nghiệm Dịch Chọc Dò</p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:40%">Chỉ Định</th>
                                        <th style="width:20%">Kết Quả</th>
                                        <th style="width:15%">CSCB</th>
                                        <th style="width:20%">Đơn Vị</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Detail_Amniocentes.Count; i++)
                                    {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            <td>@Model.Detail_Amniocentes[i].Amniocente.NameTest</td>
                                            <td>@Model.Detail_Amniocentes[i].Result</td>
                                            <td>@Model.Detail_Amniocentes[i].Amniocente.CSBT</td>
                                            <td>@Model.Detail_Amniocentes[i].Amniocente.Unit</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    @if (Model.Detail_ViSinhs != null)
                    {
                    <hr />
                    <div class="row body-pay">
                        <p class="lead marginbottom">Xét Nghiệm Vi Sinh</p>
                        @if (ViewBag.VSAmDuong.Count != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:50%">Chỉ Định</th>
                                        <th style="width:45%">Kết Quả</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < ViewBag.VSAmDuong.Count; i++)
                                    {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            <td>@ViewBag.VSAmDuong[i].ViSinh.NameTest</td>
                                            <td>@ViewBag.VSAmDuong[i].Result</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        @if (ViewBag.VSResult.Count != 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:50%">Chỉ Định</th>
                                        <th style="width:20%">Kết Quả Nuôi Cấy</th>
                                        <th style="width:15%">Kết Quả Định Danh</th>
                                        <th style="width:20%">Nồng Độ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < ViewBag.VSResult.Count; i++)
                                    {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            <td>@ViewBag.VSResult[i].ViSinh.NameTest</td>
                                            <td>@Html.Raw(ViewBag.VSResult[i].ResultNC)</td>
                                            <td>@Html.Raw(ViewBag.VSResult[i].ResultDD)</td>
                                            <td>@Html.Raw(ViewBag.VSResult[i].MatDo)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    }
                </div>
                <div class="d-flex-col-sign p-5">
                    <p class="lead m-0 pe-3 ">Bác Sỹ</p>
                    <i>(ghi rõ họ tên)</i>
                </div>
                <div class="col-xs-6 margintop">    
                    <p class="lead marginbottom" style="text-align:center;">THANK YOU!</p>
                </div>
            </div>
            </div>
        </div>
    </div>
