@model IEnumerable<ElectronicMedicalRecords.Models.Ward>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last pdlLeft">
                <h3>Quản lý danh mục phường/xã</h3>
                <p class="text-subtitle text-muted">Danh sách danh mục phường/xã</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first abs-t-r">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Wards")">Danh Sách</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Danh Mục Phường/Xã</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                Danh sách danh mục phường/xã
                @if (User.IsInRole("Giám Đốc") || User.IsInRole("QTV"))
                {
                    <br />
                    <button style="margin-top: 10px" type="button" class="btn btn-outline-primary block" data-bs-toggle="modal"
                            data-bs-target="#createWardsModal">
                        <i class="m-icon bi bi-plus-circle"></i>
                        Thêm Phường/Xã
                    </button>
                }
            </div>
            <div class="card-body">
                <table class="table table-striped" id="tableWards" style="width:100%">
                    <thead>
                        <tr>
                            <th>Danh Mục Phường/Xã</th>
                            <th>Quận/Huyện</th>
                            <th>Tỉnh/Thành</th>
                            @if (User.IsInRole("Giám Đốc") || User.IsInRole("QTV"))
                            {
                                <th>Chức Năng</th>
                            }
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<!-- Create Basic Modal -->
<div class="modal fade text-left" id="createWardsModal" data-backdrop="true" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel1">Thêm Danh Mục Phường/Xã</h5>
                <button type="button" class="close rounded-pill"
                        data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-createWards" class="form form-horizontal needs-validation" novalidate>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label style="display: flex; height: 85%; align-items: center">Tên Phường/Xã</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="Ward1" type="text" class="form-control pd-form"
                                               placeholder="Tên Phường/Xã" id="first-name-icon WardsNameCreate" required>
                                        <div class="form-control-icon icon-MedicationCategory">
                                            <i class="fa-solid fa-location-arrow"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label style="display: flex; height: 85%; align-items: center">Tên Quận/Huyện</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <select name="District_ID" class="form-select pd-form">
                                            @foreach (var item in ViewBag.Districts)
                                            {
                                                <option value="@item.ID">@item.District1</option>
                                            }
                                        </select>
                                        <div class="form-control-icon icon-MedicationCategory">
                                            <i class="fa-solid fa-map-pin"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label style="display: flex; height: 85%; align-items: center">Tên Tỉnh/Thành</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <select name="HomeTown_ID" class="form-select pd-form">
                                            @foreach (var item1 in ViewBag.HomeTown)
                                            {
                                                <option value="@item1.ID">@item1.HomeTown1</option>
                                            }
                                        </select>
                                        <div class="form-control-icon icon-MedicationCategory">
                                            <i class="fa-solid fa-location-dot"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-bs-dismiss="modal">
                            <i class="bx bx-x d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Hủy</span>
                        </button>
                        <button type="submit" id="createWards" class="btn btn-primary ml-1">
                            <i class="bx bx-check d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Tạo</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Update Basic Modal -->
<div class="modal fade text-left" id="UpdateWards" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Cập nhật phường/xã</h5>
                <button type="button" class="close rounded-pill"
                        data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-updateWards" class="form form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <input type="text" id="UpdateWardsID" name="ID" hidden />
                            <div class="col-md-4">
                                <label for="UpdateWardsName">Tên Phường/Xã</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="Ward1" type="text" class="form-control"
                                               placeholder="Tên Phường/Xã" id="UpdateWardsName" required>
                                        <div class="form-control-icon">
                                            <i class="fa-solid fa-location-arrow"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label style="display: flex; height: 85%; align-items: center">Tên Quận/Huyện</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <select name="District_ID" id="UpdateDistrictsName" class="form-select pd-form">
                                            @foreach (var item in ViewBag.Districts)
                                            {
                                                <option value="@item.ID">@item.District1</option>
                                            }
                                        </select>
                                        <div class="form-control-icon icon-MedicationCategory">
                                            <i class="fa-solid fa-map-pin"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label style="display: flex; height: 85%; align-items: center">Tên Tỉnh/Thành</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <select name="HomeTown_ID" id="UpdateHomeTownsName" class="form-select pd-form">
                                            @foreach (var item1 in ViewBag.HomeTown)
                                            {
                                                <option value="@item1.ID">@item1.HomeTown1</option>
                                            }
                                        </select>
                                        <div class="form-control-icon icon-MedicationCategory">
                                            <i class="fa-solid fa-location-dot"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Hủy</span>
                            </button>
                            <button type="submit" id="updateWards" class="btn btn-primary ml-1">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Cập nhật</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var RoleCheck = @(User.IsInRole("Giám Đốc") || User.IsInRole("QTV") ? "true" : "false");
            $('#tableWards').DataTable({
                "ajax": {
                    "url": "@Url.Action("GetData", "Wards")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "Ward1",
                    },
                    {
                        "data": "District_ID"
                    },
                    {
                        "data": "HomeTown_ID"
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var button = "<button class='btn btn-primary btnHover edit' onclick='getWardsByID(" + data.ID + ")' data-id='"
                                + data.ID + "'><i class='fas fa-user-edit'></i></button> <button id='text' class='btn btn-primary btnHover trash' onclick='deleteWards(" + data.ID + ")'><i class='fas fa-trash'></i></button>";
                            return button;
                        },
                        "targets": 0,
                        "orderable": false
                    }
                ],
                "language": {
                    "emptyTable": "No data available, please click on <b>Tạo Phường</b> button",
                    "oPaginate": {
                        sNext: '<i class="fa fa-chevron-right"></i>',
                        sPrevious: '<i class="fa fa-chevron-left"></i>',
                    },
                    "info": "Hiển thị _START_/_END_ trên tổng _TOTAL_",
                    "lengthMenu": "Hiển thị _MENU_ phường",
                    "search": "Tìm kiếm:",
                },
                "columnDefs": [
                    {
                        "targets": [2], //second column
                        "visible": RoleCheck
                    }
                ]
            })
        })

        var selectHomeTown = document.querySelector("[name='HomeTown_ID']");
        selectHomeTown.addEventListener('change', (e) => {
            var optionDistrict = document.querySelectorAll("[name='District_ID'] option");
            console.log(e.target.value)
            optionDistrict.forEach((value, index) => {
                value.remove();
            })
            $.ajax({
                url: "@Url.Action("filterDistricts", "Districts")",
                type: "POST",
                data: { id: e.target.value },
                success: (res) => {
                    var district = 0;
                    res.data.forEach((v, i) => {
                        if (i === 0) {
                            district = v.ID;
                        }
                        $("[name='District_ID']").append(`<option value="${v.ID}">${v.District1}</option>`);
                    })
                }
            })
        })

        createWards()
        updateWards()
        /*Create Medication Categories*/
        function createWards() {
            $('#form-createWards').submit(function (e) {
                var dataWard = $('#form-createWards').serialize();
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                var model = {
                    validata: dataWard,
                }
                var isvalidCreate = $("#form-createWards").valid();
                if (isvalidCreate) {
                    $.ajax({
                    url: "@Url.Action("Create", "Wards")",
                    type: "POST",
                    data: model.validata + "&__RequestVerificationToken=" + token,
                    success: (res) => {
                        if (res.success) {
                            resetInputCreate();
                            $('#createWardsModal').modal('hide');
                            $(document.body).removeClass('modal-open').attr("style", "none");
                            $('.modal-backdrop').toggle();
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Bạn đã tạo thành công',
                                showConfirmButton: false,
                                timer: 1000
                            })
                            $('#tableWards').DataTable().ajax.reload();
                        } else {
                            Toastify({
                                text: res.responseText,
                                className: "info",
                                duration: 1000,
                                style: {
                                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                                }
                            }).showToast();
                        }
                    }
                })
                }
            e.preventDefault();
            })
        }

        /*get ID Update*/
        function getWardsByID(id) {
            $.ajax({
                url: '@Url.Action("Edit", "Wards")',
                type: 'GET',
                data: { id: id },
                success: function (res) {
                    if (res.data != null) {
                        $('#UpdateWardsName').val(res.data.Ward1);
                        $('#UpdateWardsID').val(res.data.ID);
                        $(`#UpdateDistrictsName option[value="${res.data.District_ID}"]`).attr("selected", true);
                        $(`#UpdateHomeTownsName option[value="${res.data.HomeTown_ID}"]`).attr("selected", true);
                    }
                }
            })
            $('#UpdateWards').modal('show')
        }

        /*update*/
        function updateWards() {
            $('#form-updateWards').submit(function (e) {
                var dataWard = $('#form-updateWards').serialize();
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                var model = {
                    validata: dataWard,
                }
                var isvalidUpdate = $("#form-updateWards").valid();
                if (isvalidUpdate) {
                    $.ajax({
                    url: "@Url.Action("Edit", "Wards")",
                    type: "POST",
                    data: model.validata + "&__RequestVerificationToken=" + token,
                    success: (res) => {
                        if (res.success) {
                            $('#UpdateWards').modal('hide');
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Bạn đã cập nhật thành công',
                                showConfirmButton: false,
                                timer: 1000
                            })
                            $('#tableWards').DataTable().ajax.reload();
                        } else {
                            Toastify({
                                text: res.responseText,
                                className: "info",
                                duration: 3000,
                                style: {
                                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                                }
                            }).showToast();
                        }
                    }
                })
                }
                e.preventDefault();
            })
        }

        /*Get & Post Delete Ward*/
        function deleteWards(id) {
            $.ajax({
                url: '@Url.Action("Delete", "Wards")',
                type: 'GET',
                data: { id: id },
                success: function (res) {
                    if (res.data != null) {
                        Swal.fire({
                            title: 'Bạn muốn xóa phường này?',
                            html:
                                '<b>Phường/Xã:</b> <span>' + res.data.Ward1 + '</span>' +
                                '<br/><b>Quận/Huyện:</b> <span>' + res.data.District + '</span>' +
                                '<br/><b>Tỉnh/Thành:</b> <span>' + res.data.HomeTown + '</span>',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#d33',
                            cancelButtonColor: '#777',
                            confirmButtonText: 'Xác nhận',
                            cancelButtonText: 'Hủy'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                var form = $('#__AjaxAntiForgeryForm');
                                var token = $('input[name="__RequestVerificationToken"]', form).val();
                                $.ajax({
                                    url: '@Url.Action("Delete", "Wards")',
                                    type: 'POST',
                                    data: "ID=" + res.data.ID + "&__RequestVerificationToken=" + token,
                                    success: function (res) {
                                        if (res.success) {
                                            Swal.fire({
                                                position: 'center',
                                                icon: 'success',
                                                title: 'Xóa thành công',
                                                showConfirmButton: false,
                                                timer: 1500
                                            })
                                            $("#tableWards").DataTable().ajax.reload();
                                        }
                                        else {
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Thất Bại',
                                                text: res.responseText,
                                            })
                                        }
                                    }
                                });
                            }
                        })
                    }
                }
            })
        }

        /*Reset Input Create Form*/
        function resetInputCreate() {
            $('#form-createWards').get(0).reset();
        }

        /*Validate Form*/
        $('form').each((i, obj) => {
            $(function () {
                $(obj).validate({
                    rules: {
                        Ward: {
                            required: true,
                            normalizer: function (value) {
                                return $.trim(value);
                            }
                        }
                    },
                    messages: {
                        Ward: {
                            required: "Vui lòng không để trống hoặc nhập ký tự khoảng trắng"
                        }
                    },
                    errorClass: 'invalidLB',
                    validClass: 'validLB',
                    highlight: function (element, errorClass, validClass) {
                        $(element).closest(".position-relative").addClass('mb-25')
                    },
                    unhighlight: function (element, errorClass, validClass) {
                        $(element).closest(".position-relative").removeClass('mb-25')
                    }
                });
            });
        })
    </script>
}
