@model ElectronicMedicalRecords.Models.MultiplesModel
<h2>Bệnh Tiền Sử</h2>
@*Ông/Bà*@
<div class="card-body">
    <h4>Ông/Bà</h4>
    <table class="table table-striped" id="tableHistoryDiseases1" style="width:100%">
        <thead>
            <tr>
                <th hidden></th>
                <th>#</th>
                <th>Tiền sử bệnh</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.HistoryDiseases1.Count(); i++)
            {
            <tr>
                <td hidden>
                    @Html.HiddenFor(model => model.HistoryDiseases1[i].ID)
                    @Html.HiddenFor(model => model.HistoryDiseases1[i].Name)
                    @Html.HiddenFor(model => model.HistoryDiseases1[i].Dangerous)
                </td>
                <td>
                    @*<input type="checkbox" class="form-check-input form-check-primary" name="HistoryDiseases[@i].Selected">*@
                    @Html.CheckBoxFor(model => model.HistoryDiseases1[i].ChiDinh, htmlAttributes: new { @class = "form-check-input form-check-primary" })
                </td>
                <td>
                    @*<input type="checkbox" class="form-check-input form-check-primary" name="HistoryDiseases[@i].Selected">*@
                    @Html.DisplayFor(model => model.HistoryDiseases1[i].Name)
                </td>
            </tr>
            }
        </tbody> 
    </table>
</div>

@*Cha/Mẹ*@
<div class="card-body">
    <h4>Cha/Mẹ</h4>
    <table class="table table-striped" id="tableHistoryDiseases2" style="width:100%">
        <thead>
            <tr>
                <th hidden></th>
                <th>#</th>
                <th>Tiền sử bệnh</th>
            </tr>
        </thead>
        <tbody>
            @for (int j = 0; j < Model.HistoryDiseases2.Count(); j++)
            {
                <tr>
                    <td hidden>
                        @Html.HiddenFor(model => model.HistoryDiseases2[j].ID)
                        @Html.HiddenFor(model => model.HistoryDiseases2[j].Name)
                        @Html.HiddenFor(model => model.HistoryDiseases2[j].Dangerous)
                    </td>
                    <td>
                        @*<input type="checkbox" class="form-check-input form-check-primary" name="HistoryDiseases[@i].Selected">*@
                        @Html.CheckBoxFor(model => model.HistoryDiseases2[j].ChiDinh, htmlAttributes: new { @class = "form-check-input form-check-primary" })
                    </td>
                    <td>
                        @*<input type="checkbox" class="form-check-input form-check-primary" name="HistoryDiseases[@i].Selected">*@
                        @Html.DisplayFor(model => model.HistoryDiseases2[j].Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*Anh/Chị em*@
<div class="card-body">
    <h4>Anh/Chị em</h4>
    <table class="table table-striped" id="tableHistoryDiseases3" style="width:100%">
        <thead>
            <tr>
                <th hidden></th>
                <th>#</th>
                <th>Tiền sử bệnh</th>
            </tr>
        </thead>
        <tbody>
            @for (int k = 0; k < Model.HistoryDiseases3.Count(); k++)
            {
                <tr>
                    <td hidden>
                        @Html.HiddenFor(model => model.HistoryDiseases3[k].ID)
                        @Html.HiddenFor(model => model.HistoryDiseases3[k].Name)
                        @Html.HiddenFor(model => model.HistoryDiseases3[k].Dangerous)
                    </td>
                    <td>
                        @*<input type="checkbox" class="form-check-input form-check-primary" name="HistoryDiseases[@i].Selected">*@
                        @Html.CheckBoxFor(model => model.HistoryDiseases3[k].ChiDinh, htmlAttributes: new { @class = "form-check-input form-check-primary" })
                    </td>
                    <td>
                        @*<input type="checkbox" class="form-check-input form-check-primary" name="HistoryDiseases[@i].Selected">*@
                        @Html.DisplayFor(model => model.HistoryDiseases3[k].Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>