@model ElectronicMedicalRecords.Models.MultiplesModel
<style>
    .mg-10{
        margin: 10px 0;
    }
</style>
@for (int i = 0; i < Model.ViSinh.Count(); i++)
{
    <a class="btn btn-primary" style="margin-bottom:10px" data-bs-toggle="collapse" href="#collapse-@Model.ViSinh[i].ID" role="button" aria-expanded="false" aria-controls="collapseExample">
        @Model.ViSinh[i].NameTest
    </a>
    <div class="collapse" id="collapse-@Model.ViSinh[i].ID">
        <div style="padding: 1rem 0;">
            <h5>@Model.ViSinh[i].NameTest</h5>
            @switch (Model.ViSinh[i].ID)
            {
                case 1:
                case 2:
                case 3:
                case 4:
                case 5:
                case 18:
                case 19:
                case 20:
                case 21:
                case 22:
                case 23:
                case 24:
                case 25:
                case 26:
                case 28:
                case 29:
                case 30:
                case 31:
                case 32:
                case 33:
                case 34:
                case 35:
                case 39:
                case 40:
                case 41:
                case 42:
                case 43:
                    <input value="@Model.Detail_ViSinhs[i].InformationExamination_ID" name="Detail_ViSinhs[@i].InformationExamination_ID" hidden />
                    <input value="@Model.ViSinh[i].ID" name="Detail_ViSinhs[@i].ViSinh_ID" hidden />
                    <select value="@Model.Detail_ViSinhs[i].Result" name="Detail_ViSinhs[@i].Result" id="Result" class="form-select">
                        <option value="" disabled selected>Vui Lòng Chọn Kết Quả</option>
                        <option value="Âm tính">Âm tính</option>
                        <option value="Dương tính">Dương tính</option>
                    </select>
                    break;
                default:
                    <input value="@Model.ViSinh[i].ID" name="Detail_ViSinhs[@i].ViSinh_ID" hidden />
                    <input value="@Model.Detail_ViSinhs[i].InformationExamination_ID" name="Detail_ViSinhs[@i].InformationExamination_ID" hidden />
                    <div class="mg-10">
                        <label>Kết Quả Nuôi Cấy</label>
                        <textarea name="Detail_ViSinhs[@i].ResultNC" id="Detail_ViSinhs[@i].ResultNC" class="editor">@Model.Detail_ViSinhs[i].ResultNC</textarea>
                        @Html.ValidationMessageFor(model => model.Detail_ViSinhs[i].ResultNC, "", new { @class = "text-danger" })
                    </div>
                    <div class="mg-10">
                        <label>Kết Quả Định Danh</label>
                        <textarea name="Detail_ViSinhs[@i].ResultDD" id="Detail_ViSinhs[@i].ResultDD" class="editor">@Model.Detail_ViSinhs[i].ResultDD</textarea>
                        @Html.ValidationMessageFor(model => model.Detail_ViSinhs[i].ResultDD, "", new { @class = "text-danger" })
                    </div>
                    <div class="mg-10">
                        <label>Mật Độ</label>
                        <textarea name="Detail_ViSinhs[@i].MatDo" id="Detail_ViSinhs[@i].MatDo" class="editor">@Model.Detail_ViSinhs[i].MatDo</textarea>
                        @Html.ValidationMessageFor(model => model.Detail_ViSinhs[i].MatDo, "", new { @class = "text-danger" })
                    </div>
                    break;
            }
        </div>
    </div>
}

<script>
    var selectedViSinhAD = document.querySelectorAll('#Result');
    selectedViSinhAD.forEach((v, i) => {
        if (v != null) {
            var getValue = v.getAttribute("value");
            var optionSelectedViSinhAD = v.querySelectorAll("option");
            optionSelectedViSinhAD.forEach((value, index) => {
                if (value.getAttribute("value") == getValue) {
                    value.setAttribute("selected", "selected")
                }
            })
        }
    })
</script>
