@model ElectronicMedicalRecords.Models.MultiplesModel
<div class="card-header" style="padding-bottom:0px">
    <h4 class="card-title">Thông Tin Hành Chính</h4>
    <hr />
</div>
<div class="card-content">
    <div class="card-body">
        <div class="row">
            @Html.HiddenFor(model => model.Patient.ID)
            @Html.HiddenFor(model => model.Patient.MaBN)
            <div class="col-md-3 col-12">
                <div class="form-group">
                    <label for="first-name-column">Họ Và Tên</label>
                    @Html.EditorFor(model => model.Patient.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ Và Tên", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Patient.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="form-group">
                    <label for="last-name-column">Giới Tính</label>
                    <div class="position-relative ml-5px">
                        @Html.DropDownList("Patient.Gender_ID", null, htmlAttributes: new { @class = "form-select", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Patient.Gender_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="form-group">
                    <label for="city-column">Ngày Sinh</label>
                    <input class="form-control" type="date" name="Patient.BirthDate" value="@Model.Patient.BirthDate.Value.ToString("yyyy-MM-dd")" id="birthdate" readonly />
                    @Html.ValidationMessageFor(model => model.Patient.BirthDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="form-group">
                    <label for="country-floating">Dân Tộc</label>
                    @Html.DropDownList("Patient.Nation1_ID", null, htmlAttributes: new { @class = "form-select", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Patient.Nation1_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="form-group">
                    <label for="email-id-column">Quốc Gia</label>
                    @Html.DropDownList("Patient.Nation_ID", null, htmlAttributes: new { @class = "form-select", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Patient.Nation_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="form-group">
                    <label for="email-id-column">Thành Phố/Tỉnh</label>
                    @Html.DropDownList("Patient.HomeTown_ID", null, htmlAttributes: new { @class = "form-select", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Patient.HomeTown_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="form-group">
                    <label for="company-column">Quận/Huyện</label>
                    @Html.DropDownList("Patient.District_ID", null, htmlAttributes: new { @class = "form-select", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Patient.District_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="form-group">
                    <label for="company-column">Phường/Xã</label>
                    @Html.DropDownList("Patient.Ward_ID", null, htmlAttributes: new { @class = "form-select", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Patient.Ward_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label for="company-column">Số Nhà</label>
                    @Html.EditorFor(model => model.Patient.NumHome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa Chỉ", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Patient.NumHome, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="form-group">
                    <label for="company-column">Đường</label>
                    @Html.EditorFor(model => model.Patient.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa Chỉ", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Patient.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="form-group">
                    <label for="email-id-column">Điện Thoại</label>
                    @Html.EditorFor(model => model.Patient.Phone, new { htmlAttributes = new { @class = "form-control", @Value = "0" + Model.Patient.Phone, @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Patient.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="form-group">
                    <label for="email-id-column">Điện Thoại Zalo</label>
                    @Html.EditorFor(model => model.Patient.PhoneZalo, new { htmlAttributes = new { @class = "form-control", @Value = "0" + Model.Patient.PhoneZalo, @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Patient.PhoneZalo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="form-group">
                    <label for="email-id-column">Số BHYT</label>
                    @Html.EditorFor(model => model.Patient.InsuranceCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Patient.InsuranceCode, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>

