@model IEnumerable<ElectronicMedicalRecords.Models.Patient>

<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Danh Sách Bệnh Nhân</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Trang Chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Bệnh Nhân</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                Danh Sách Bệnh Nhân
            </div>
            <div class="card-body">
                <a href="@Url.Action("Create", "MultipleModels")" class="btn btn-primary">Tạo Hồ Sơ Bệnh Nhân</a>
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger alert-dismissible show fade">
                        @ViewBag.Error
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <form action="@Url.Action("SearchPatient","Patients")" method="post">
                    <div class="row">
                        <div class="col-md-2">
                            <label>Từ ngày</label>
                            <input name="DateStart" type="date" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <label>Đến ngày</label>
                            <input name="DateEnd" type="date" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <label>Họ Tên</label>
                            <input name="Name" type="text" class="form-control" placeholder="Họ Tên" />
                        </div>
                        <div class="col-md-3">
                            <label>Mã Bệnh Nhân</label>
                            <input name="Code" type="number" class="form-control" placeholder="Mã Bệnh Nhân" />
                        </div>
                        <div class="col-md-1 align-self-end">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>Mã Bệnh Nhân</th>
                            <th>Họ Tên</th>
                            <th>Năm Sinh</th>
                            <th>Địa Chỉ</th>
                            <th>Giới Tính</th>
                            <th>Chức Năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.Name</td>
                                <td>@item.BirthDate.Value.ToString("yyyy")</td>
                                <td>@item.Address</td>
                                <td>@item.Gender.Gender1</td>
                                <td>
                                    <a class="btn btn-primary btnHover" href="@Url.Action("Edit","MultipleModels", new { id = item.ID})">
                                        <i class='fas fa-user-edit'></i>
                                    </a>
                                    <a class="btn btn-primary btnHover" href="@Url.Action("Details","MultipleModels", new { id = item.ID})">
                                        <i class="fas fa-info"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>

@section scripts{
    <script>
        $('#table1').DataTable({
            "language": {
                "emptyTable": "No data available",
                "oPaginate": {
                    sNext: '<i class="fa fa-chevron-right"></i>',
                    sPrevious: '<i class="fa fa-chevron-left"></i>',
                },
                "info": "Hiển thị _START_/_END_ trên tổng _TOTAL_",
                "lengthMenu": "Hiển thị _MENU_ người",
                "search": "Tìm kiếm:",
            },
            searching: false,
        })
    </script>
}