@model ElectronicMedicalRecords.Models.MultiplesModel
@{
    ViewBag.Title = "PrintExaminationInfo";
    Layout = "~/Areas/Admin/Views/Shared/Print.cshtml";
    var total = 0;
}
<style>
    p {
        text-align: left
    }
</style>
<div class="container bootstrap snippets bootdeys">
    <div class="row body-pay">
        <div class="col-sm-12">
            <div class="panel panel-default invoice" id="invoice">
                <div class="panel-body">
                    <div class="invoice-ribbon"><div class="ribbon-inner">PAID</div></div>
                    <div class="row bg-row">

                        <div class="col-sm-6 top-left">
                            <img class="logo" src="~/asset/vl-logo.png" />
                        </div>

                        <div class="col-sm-6 top-right">
                            <h3 class="marginright txt-white">@Model.Patient.MaBN</h3>
                            <span class="marginright txt-white">@DateTime.Now</span>
                        </div>

                    </div>
                    <div style="margin-top:10px">
                        <a href="javascript:window.print()" class="btn btn-success d-inline-block" id="invoice-print"><i class="fa fa-print"></i> Print Invoice</a>
                        <a href="@Url.Action("PaymentPrescription","MultipleModels",new { id = Model.InformationExamination.ID })" class="btn btn-warning" id="PrintBill">Thanh Toán</a>
                    </div>

                    <div class="p-header">
                        <h1>Hóa Đơn Toa Thuốc</h1>
                    </div>
                    <hr>

                    <div class="row">
                        <p class="lead marginbottom">Thông Tin Bệnh Nhân</p>
                        <div class="d-flex">
                            <div class="col-xs-4 from w-100">
                                <p>Bệnh Nhân : @Model.Patient.Name</p>
                                <p>Địa Chỉ: @Model.Patient.Address</p>
                            </div>
                            <div class="col-xs-4 to w-100">
                                <p>Giới Tính: @ViewBag.Gender</p>
                                <p>Số Điện Thoại: @Model.Patient.Phone</p>
                            </div>
                            <div class="col-xs-4 to w-100">
                                <p>Ngày Sinh: @Model.Patient.BirthDate.Value.ToString("dd/MM/yyyy")</p>
                                <p>Số BHYT: @Model.Patient.InsuranceCode</p>
                            </div>
                        </div>
                        <hr />
                        <p class="lead marginbottom">Thông Tin Bệnh Án</p>
                        <div class="col-xs-12 to">
                            <p>Tiền Sử: @Model.Patient.MedicalHistory</p>
                            <p>Bệnh Sử: @Model.Patient.HistoryDisease</p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <p class="lead marginbottom">Thông Tin Khám Bệnh</p>
                        <div class="col-xs-12 from">
                            <div class="d-flex justify-content-start">
                                <p class="col-xs-6 w-100">Ngày Khám: @Model.InformationExamination.DateExamine</p>
                                <p class="col-xs-4 w-100">Tình Trạng: @ViewBag.PatientStatus</p>
                                <p class="col-xs-6 w-100">Bác Sĩ Kê Toa: @ViewBag.Doctor</p>
                            </div>
                        </div>
                    </div>
                    <hr />
                    @if (Model.Prescription_Details != null && Model.Prescription_Details.Count != 0)
                    {
                        <div class="row body-pay">
                            <p class="lead marginbottom">Hóa Đơn Thanh Toán Toa Thuốc</p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:30%">Tên Thuốc</th>
                                        <th style="width:20%">Đơn vị</th>
                                        <th style="width:10%">Số Lượng</th>
                                        <th style="width:10%">Đơn Giá</th>
                                        <th style="width:20%">Thành Tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Prescription_Details.Count; i++)
                                    {
                                        total += (Model.Prescription_Details[i].Medication.Price * Model.Prescription_Details[i].NumMedication);
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            <td>@Model.Prescription_Details[i].Medication.Name</td>
                                            <td>@Model.Prescription_Details[i].Medication.Unit</td>
                                            <td>@Model.Prescription_Details[i].NumMedication</td>
                                            <td>@Model.Prescription_Details[i].Medication.Price.ToString("N0")</td>
                                            <td>@((Model.Prescription_Details[i].Medication.Price * Model.Prescription_Details[i].NumMedication).ToString("N0")) VNĐ</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    <div class="position-relative r-20">
                        <div class="position-absolute top-0 end-0">
                            <p><strong>Tổng Tiền: @total.ToString("N0") VNĐ </strong></p>
                        </div>
                    </div>
                    <div class="col-xs-6 mb-7 p-5">
                        <p class="lead m-0 ps-1 ">Thu Ngân</p>
                        <i>(ghi rõ họ tên)</i>
                    </div>
                    <div class="col-xs-6 margintop">
                        <p class="lead marginbottom" style="text-align:center;">THANK YOU!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>