@model ElectronicMedicalRecords.Models.MultiplesModel

<div class="col-md-3 col-12">
    <div class="form-group">
        <label for="email-id-column">Nhịp Tim</label>
        @Html.EditorFor(model => model.InformationExamination.HeartBeat, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
        @Html.ValidationMessageFor(model => model.InformationExamination.HeartBeat, "", new { @class = "text-danger" })
    </div>
</div>
<div class="col-md-3 col-12">
    <div class="form-group">
        <label for="email-id-column">Nhịp Thở</label>
        @Html.EditorFor(model => model.InformationExamination.Breathing, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
        @Html.ValidationMessageFor(model => model.InformationExamination.Breathing, "", new { @class = "text-danger" })
    </div>
</div>
<div class="col-md-3 col-12">
    <div class="form-group">
        <label for="email-id-column">Huyết Áp</label>
        @Html.EditorFor(model => model.InformationExamination.BloodPressure, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
        @Html.ValidationMessageFor(model => model.InformationExamination.BloodPressure, "", new { @class = "text-danger" })
    </div>
</div>
<div class="col-md-3 col-12">
    <div class="form-group">
        <label for="email-id-column">Cân Nặng</label>
        <div class="input-group">
            @Html.EditorFor(model => model.InformationExamination.Weight, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
            <span class="input-group-text">kg</span>
        </div>
        @Html.ValidationMessageFor(model => model.InformationExamination.Weight, "", new { @class = "text-danger" })
    </div>
</div>
<div class="col-md-3 col-12">
    <div class="form-group">
        <label for="email-id-column">Chiều Cao</label>
        <div class="input-group">
            @Html.EditorFor(model => model.InformationExamination.Height, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
            <span class="input-group-text">cm</span>
        </div>
        @Html.ValidationMessageFor(model => model.InformationExamination.Height, "", new { @class = "text-danger" })
    </div>
</div>
<div class="col-md-3 col-12" style="margin-bottom:15px">
    <div class="form-group">
        <label for="email-id-column">Loại Khám</label>
    </div>
    <div class="form-check">
        <input value="false" class="form-check-input" type="radio" name="InformationExamination.ExaminationType" id="flexRadioDefault1" required>
        <label class="form-check-label" for="flexRadioDefault1">
            Khám Bảo Hiểm
        </label>
    </div>
    <div class="form-check">
        <input value="true" class="form-check-input" type="radio" name="InformationExamination.ExaminationType" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2">
            Khám Dịch Vụ
        </label>
    </div>
</div>
<div class="col-md-3 col-12">
    <div class="form-group">
        <label for="email-id-column">Tiền Quỹ</label>
        <div class="input-group">
            @Html.EditorFor(model => model.Patient.MoneyBackup, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @readonly = "readonly" } })
            <span class="input-group-text">VNĐ</span>
        </div>
        <p class="NotiMoney" style="display:none;font-size:14px;color:red">Tiền Quỹ Không Còn Hoặc Không Đủ</p>
        @Html.ValidationMessageFor(model => model.Patient.MoneyBackup, "", new { @class = "text-danger" })
    </div>
</div>
<div class="col-md-12 col-12">
    <div class="form-group">
        <label for="email-id-column">Chuyên Khoa</label>
    </div>
</div>
<div class="col-md-3 col-12">
    <div class="form-group">
        <div class="form-check">
            <div class="checkbox">
                <input type="checkbox" id="checkbox1" class="form-check-input" value="Tuần Hoàn" name="chuyenKhoa">
                <label for="checkbox1">Tuần Hoàn</label>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-12">
    <div class="form-group">
        <div class="form-check">
            <div class="checkbox">
                <input type="checkbox" id="checkbox2" class="form-check-input" value="Hô Hấp" name="chuyenKhoa">
                <label for="checkbox2">Hô Hấp</label>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-12">
    <div class="form-group">
        <div class="form-check">
            <div class="checkbox">
                <input type="checkbox" id="checkbox3" class="form-check-input" value="Tiêu Hóa" name="chuyenKhoa">
                <label for="checkbox3">Tiêu Hóa</label>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-12">
    <div class="form-group">
        <div class="form-check">
            <div class="checkbox">
                <input type="checkbox" id="checkbox4" class="form-check-input" value="Thận Tiết Niệu" name="chuyenKhoa">
                <label for="checkbox4">Thận Tiết Niệu</label>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-12">
    <div class="form-group">
        <div class="form-check">
            <div class="checkbox">
                <input type="checkbox" id="checkbox5" class="form-check-input" value="Cơ-Xương-Khớp" name="chuyenKhoa">
                <label for="checkbox5">Cơ-Xương-Khớp</label>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-12">
    <div class="form-group">
        <div class="form-check">
            <div class="checkbox">
                <input type="checkbox" id="checkbox6" class="form-check-input" value="Thần Kinh" name="chuyenKhoa">
                <label for="checkbox6">Thần Kinh</label>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-12">
    <div class="form-group">
        <div class="form-check">
            <div class="checkbox">
                <input type="checkbox" id="checkbox7" class="form-check-input" value="Tâm Thần" name="chuyenKhoa">
                <label for="checkbox7">Tâm Thần</label>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-12">
    <div class="form-group">
        <div class="form-check">
            <div class="checkbox">
                <input type="checkbox" id="checkbox8" class="form-check-input" value="Ngoại Khoa" name="chuyenKhoa">
                <label for="checkbox8">Ngoại Khoa</label>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-12">
    <div class="form-group">
        <div class="form-check">
            <div class="checkbox">
                <input type="checkbox" id="checkbox9" class="form-check-input" value="Sản Phụ Khoa" name="chuyenKhoa">
                <label for="checkbox9">Sản Phụ Khoa</label>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-12">
    <div class="form-group">
        <div class="form-check">
            <div class="checkbox">
                <input type="checkbox" id="checkbox10" class="form-check-input" value="Mắt" name="chuyenKhoa">
                <label for="checkbox10">Mắt</label>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-12">
    <div class="form-group">
        <div class="form-check">
            <div class="checkbox">
                <input type="checkbox" id="checkbox11" class="form-check-input" value="Tai-Mũi-Họng" name="chuyenKhoa">
                <label for="checkbox11">Tai-Mũi-Họng</label>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-12">
    <div class="form-group">
        <div class="form-check">
            <div class="checkbox">
                <input type="checkbox" id="checkbox12" class="form-check-input" value="Răng-Hàm-Mặt" name="chuyenKhoa">
                <label for="checkbox12">Răng-Hàm-Mặt</label>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-12">
    <div class="form-group">
        <div class="form-check">
            <div class="checkbox">
                <input type="checkbox" id="checkbox13" class="form-check-input" value="Da Liễu" name="chuyenKhoa">
                <label for="checkbox13">Da Liễu</label>
            </div>
        </div>
    </div>
</div>
