@model IEnumerable<ElectronicMedicalRecords.Models.InformationExamination>

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last pdlLeft">
                <h3>Lịch Sử Khám Bệnh</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Trang Chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Khám</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                Thông Tin Khám Bệnh
            </div>
            <div class="card-body">
                @if (ViewBag.ErrorInfo != null)
                {
                    <div class="alert alert-danger alert-dismissible show fade">
                        @ViewBag.ErrorInfo
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <form action="@Url.Action("SearchPatientDetail","InformationExaminations")" method="post">
                    <div class="row">
                        <input name="id" value="@ViewBag.id" hidden />
                        <div class="col-md-5">
                            <label>Từ ngày</label>
                            <input name="DateStartDetail" type="date" class="form-control" />
                        </div>
                        <div class="col-md-5">
                            <label>Đến ngày</label>
                            <input name="DateEndDetail" type="date" class="form-control" />
                        </div>
                        <div class="col-md-2 align-self-end">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>Ngày Khám</th>
                            <th>Ngày Đi</th>
                            <th>Họ Tên</th>
                            <th>Năm Sinh</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.DateExamine</td>
                                <td>@item.DateEnd</td>
                                <td>@item.Patient.Name</td>
                                <td>@item.Patient.BirthDate.Value.ToString("yyyy")</td>
                                <td>
                                    <a class="btn btn-primary btnHover info" href="@Url.Action("DetailsIE","MultipleModels", new { id = item.ID})">
                                        <i class="fas fa-info"></i>
                                    </a>
                                    <button class="btn btn-primary btnHover trash" onclick="deleteInformationExamination(@item.ID)">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>

@section scripts{
    <script>
        $('#table1').DataTable({
            "language": {
                "emptyTable": "No data available",
                "oPaginate": {
                    sNext: '<i class="fa fa-chevron-right"></i>',
                    sPrevious: '<i class="fa fa-chevron-left"></i>',
                },
                "info": "Hiển thị _START_/_END_ trên tổng _TOTAL_",
                "lengthMenu": "Hiển thị _MENU_ người",
                "search": "Tìm kiếm:",
            },
            searching: false,
        })
        function deleteInformationExamination(id) {
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            Swal.fire({
                title: 'Bạn Muốn Xóa Thông Tin Khám Bệnh Này?',
                text: "Bạn sẽ không thể xóa nếu thông tin khám bệnh đã có thông tin!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xác Nhận',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("Delete","InformationExaminations")',
                        type: 'POST',
                        data: "id=" + id + "&__RequestVerificationToken=" + token,
                        success: function (res) {
                            if (res.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Thành công!',
                                    text: 'Bạn đã xóa thông tin khám bệnh thành công.',
                                    confirmButtonText: 'Xác Nhận'
                                }).then(() => {
                                    location.reload();
                                })
                            }
                            else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Thất Bại!',
                                    text: 'Bạn không thể xóa thông tin khám bệnh này.',
                                    confirmButtonText: 'Xác Nhận'
                                })
                            }
                        }
                    })
                }
            })
        }
    </script>
}
