@model IEnumerable<ElectronicMedicalRecords.Models.InformationExamination>

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last pdlLeft">
                <h3>Thông Tin Khám Bệnh</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Trang Chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Khám</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                Thông Tin Khám Bệnh
            </div>
            <div class="card-body">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>Ngày Khám</th>
                            <th>Ngày Đi</th>
                            <th>Họ Tên</th>
                            <th>Năm Sinh</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.DateExamine</td>
                                <td>@item.DateEnd</td>
                                <td>@item.Patient.Name</td>
                                <td>@item.Patient.BirthDate.Value.ToString("yyyy")</td>
                                <td>
                                    <a class="btn btn-primary btnHover" href="@Url.Action("DetailsIE","MultipleModels", new { id = item.ID})">
                                        <i class="fas fa-info"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>

@section scripts{
    <script>
        $('#table1').DataTable({
            "language": {
                "emptyTable": "No data available",
                "oPaginate": {
                    sNext: '<i class="fa fa-chevron-right"></i>',
                    sPrevious: '<i class="fa fa-chevron-left"></i>',
                },
                "info": "Hiển thị _START_/_END_ trên tổng _TOTAL_",
                "lengthMenu": "Hiển thị _MENU_ người",
                "search": "Tìm kiếm:",
            },
            searching: false,
        })
    </script>
}
