@model IEnumerable<ElectronicMedicalRecords.Models.Amniocente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last pdlLeft">
                <h3>Quản Lý Dịch Chọc Dò</h3>
                <p class="text-subtitle text-muted">Bạn có thể xem danh sách dịch chọc dò tại đây</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Amniocentes")">Danh sách</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dịch Chọc Dò</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped" id="tableAmniocente" style="width:100%">
                    <thead>
                        <tr>
                            <th>Tên</th>
                            <th>CSBT</th>
                            <th>Đơn Vị</th>
                            <th>Giá</th>
                            @if (User.IsInRole("Giám Đốc") || User.IsInRole("QTV"))
                            {
                                <th style="width:80px">Chức Năng</th>
                            }
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<!-- Update Basic Modal -->
<div class="modal fade text-left" id="Updateamniocente" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-700" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Cập nhật giá xét nghiệm</h5>
                <button type="button" class="close rounded-pill"
                        data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-updateAmniocente" class="form form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <input value="" type="text" name="NameTest" id="amniocenteNameTest" hidden />
                            <input value="" type="checkbox" name="ChiDinh" id="amniocenteChiDinh" hidden />
                            <input value="" type="text" name="CSBT" id="amniocenteCSBT" hidden />
                            <input value="" type="text" name="Unit" id="amniocenteUnit" hidden />
                            <input value="" type="number" name="ID" id="amniocenteID" hidden />
                            <div class="col-md-4">
                                <label>Giá</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="Price" type="number" class="form-control"
                                               placeholder="Giá" id="amniocentePrice" required min="0">
                                        <div class="form-control-icon">
                                            <i class="fas fa-money-bill-wave"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Hủy</span>
                            </button>
                            <button type="submit" id="updateAmniocente" class="btn btn-primary ml-1">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Cập Nhật</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var RoleCheck = @(User.IsInRole("Giám Đốc") || User.IsInRole("QTV") ? "true" : "false");
            $('#tableAmniocente').DataTable({
                "ajax": {
                    "url": "@Url.Action("GetData", "Amniocentes")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "NameTest",
                    },
                    {
                        "data": "CSBT",
                    },
                    {
                        "data": "Unit",
                    },
                    {
                        "data": "Price",
                    },
                    {
                        "className": "w45",
                        "data": null,
                        "render": function (data, type, row) {
                            var button = "<button class='btn btn-primary btnHover edit' onclick='getAmniocenteByID(" + data.ID + ")' data-id='"
                                + data.ID + "'> <i class='fas fa-user-edit'></i> </button>";
                            return button;
                        },
                        "targets": 0,
                        "orderable": false
                    }
                ],
                "language": {
                    "emptyTable": "No data available, please click on <b>Tạo Chẩn Đoán</b> button",
                    "oPaginate": {
                        sNext: '<i class="fa fa-chevron-right"></i>',
                        sPrevious: '<i class="fa fa-chevron-left"></i>',
                    },
                    "info": "Hiển thị _START_/_END_ trên tổng _TOTAL_",
                    "lengthMenu": "Hiển thị _MENU_ xét nghiệm",
                    "search": "Tìm kiếm:",
                },
                "columnDefs": [
                    {
                        "targets": [4], //four column
                        "visible": RoleCheck
                    }
                ]
            })
            updateAmniocente()
        })

        function getAmniocenteByID(id) {
            $.ajax({
                url: '@Url.Action("Edit", "Amniocentes")',
                type: 'GET',
                data: { id: id },
                success: function (res) {
                    if (res.data != null) {
                        $('#amniocentePrice').val(res.data.Price);
                        $('#amniocenteNameTest').val(res.data.NameTest);
                        $('#amniocenteChiDinh').val(res.data.ChiDinh);
                        $('#amniocenteCSBT').val(res.data.CSBT);
                        $('#amniocenteUnit').val(res.data.Unit);
                        $('#amniocenteID').val(res.data.ID);
                    }
                }
            })
            $('#Updateamniocente').modal('show')
        }

        function updateAmniocente() {
            $('#form-updateAmniocente').submit((e) => {
                var dataAmniocente = $('#form-updateAmniocente').serialize();
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                var model = {
                    validata: dataAmniocente,
                }
                $.ajax({
                    url: "@Url.Action("Edit", "Amniocentes")",
                    type: "POST",
                    data: model.validata + "&__RequestVerificationToken=" + token,
                    success: (res) => {
                        if (res.success) {
                            $('#Updateamniocente').modal('hide');
                            $(document.body).removeClass('modal-open').attr("style", "none");
                            $('.modal-backdrop').remove();
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Bạn đã cập nhật thành công',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            $('#tableAmniocente').DataTable().ajax.reload();
                        }
                        else {
                            Toastify({
                                text: res.responseText,
                                className: "info",
                                duration: 1500,
                                style: {
                                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                                }
                            }).showToast();
                        }
                    }
                })
                e.preventDefault();
            })
        }
    </script>
}