@model ElectronicMedicalRecords.Models.DashboardModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var loggedOnUsers = HttpRuntime.Cache["LoggedInUsers"] as Dictionary<string, DateTime>;
}
<style>
    .statusUser {
        width: 4rem;
        height: 4rem;
        position: relative;
    }

    .LoggedInUserBox {
        position: absolute;
        height: 14px;
        width: 14px;
        border-radius: 50%;
        bottom: 0px;
        right: 5px;
    }

        .LoggedInUserBox.online {
            background-color: green;
        }

        .LoggedInUserBox.offline {
            background-color: red;
        }
</style>
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>

<div class="page-heading">
    <h3>Thống Kê</h3>
</div>
<div class="page-content">
    <section class="row">
        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="iconly-boldShow"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Giám Đốc</h6>
                                    <h6 class="font-extrabold mb-0">@Model.userGD.Count</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon blue">
                                        <i class="iconly-boldProfile"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Quản Trị Viên</h6>
                                    <h6 class="font-extrabold mb-0">@Model.userQTV.Count</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon green">
                                        <i class="fas fa-user-md"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Bác Sĩ</h6>
                                    <h6 class="font-extrabold mb-0">@Model.userBS.Count</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon" style="background-color: #ceda5d">
                                        <i class="iconly-boldAdd-User"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Kỹ Thuật Viên</h6>
                                    <h6 class="font-extrabold mb-0">@Model.userKTV.Count</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon red">
                                        <i class="fas fa-money-check-alt"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Thu Ngân</h6>
                                    <h6 class="font-extrabold mb-0">@Model.userTN.Count</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon" style="background-color: #525be1">
                                        <i class="fas fa-user-nurse"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Y Tá</h6>
                                    <h6 class="font-extrabold mb-0">@Model.userYTa.Count</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon" style="background-color: #b233d9">
                                        <i class="fas fa-user-injured"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Bệnh Nhân</h6>
                                    <h6 class="font-extrabold mb-0">@Model.patients.Count</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Thống kê bệnh nhân</h4>
                        </div>
                        <div class="card-body">
                            <div id="chart-profile-visit"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Doanh Thu</h4>
                        </div>
                        <div class="card-body">
                            <div id="bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <h4>Đang Truy Cập</h4>
                </div>
                @foreach (var user in Model.users)
                {
                    if (loggedOnUsers.ContainsKey(user.UserID))
                    {
                        <div class="card-content pb-3">
                            <div class="recent-message d-flex px-3 py-3">
                                <div class="statusUser">
                                    <img class="avatar" src="@user.Image">
                                    <div class="LoggedInUserBox online"></div>
                                </div>
                                <div class="name ms-3">
                                    <h5 class="mb-1">@user.Degree</h5>
                                    <h6 class="text-muted mb-0">@user.Name</h6>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
</div>

@section scripts{
<script>
    getData();
    function getData() {
        $.ajax({
            url: "@Url.Action("GetData","Dashboard")",
            type: "GET",
            success: function (res) {
                $.each(res.datetime, (index, date) => {
                    optionsProfileVisit.xaxis.categories.unshift(date);
                    barOptions.xaxis.categories.unshift(date);
                })
                $.each(res.numUser, (i, user) => {
                    optionsProfileVisit.series[0].data.unshift(user);
                })

                $.each(res.priceExaminationInfo, (i, priceInfo) => {
                    barOptions.series[0].data.unshift(priceInfo.slice(0, -3));
                })

                $.each(res.pricePrescriptionDetail, (i, pricePrescription) => {
                    barOptions.series[1].data.unshift(pricePrescription.slice(0, -3));
                })

                $.each(res.priceTestSubclinical, (i, priceTest) => {
                    barOptions.series[2].data.unshift(priceTest.slice(0, -3));
                })
            }
        })
    }
</script>
}
<script>
    var optionsProfileVisit = {
        annotations: {
            position: 'back'
        },
        dataLabels: {
            enabled: false
        },
        chart: {
            type: 'bar',
            height: 300
        },
        fill: {
            opacity: 1
        },
        plotOptions: {
        },
        series: [{
            name: 'khám',
            data: []
        }],
        colors: '#435ebe',
        xaxis: {
            categories: [],
        },
    }
</script>
<script>
    var barOptions = {
        series: [
            {
                name: "Khám",
                data: [],
            },
            {
                name: "Thuốc",
                data: [],
            },
            {
                name: "Xét Nghiệm",
                data: [],
            },
        ],
        chart: {
            type: "bar",
            height: 350,
        },
        plotOptions: {
            bar: {
                horizontal: false,
                columnWidth: "55%",
                endingShape: "rounded",
            },
        },
        dataLabels: {
            enabled: false,
        },
        stroke: {
            show: true,
            width: 2,
            colors: ["transparent"],
        },
        xaxis: {
            categories: [],
        },
        yaxis: {
            title: {
                text: "$ (Nghìn)",
            },
        },
        fill: {
            opacity: 1,
        },
        tooltip: {
            y: {
                formatter: function (val) {
                    return "$ " + val + " Nghìn";
                },
            },
        },
    };
</script>

