@model IEnumerable<ElectronicMedicalRecords.Models.DiagnosticsCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last pdlLeft">
                <h3>Quản Lý Chẩn Đoán</h3>
                <p class="text-subtitle text-muted">Bạn có thể xem danh sách chẩn đoán tại đây</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "DiagnosticsCategories")">Danh sách</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Chẩn Đoán</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                Danh sách chẩn đoán
                @if (User.IsInRole("Giám Đốc") || User.IsInRole("QTV"))
                {
                    <br />
                    <button style="margin-top: 10px" type="button" class="btn btn-outline-primary block" data-bs-toggle="modal"
                            data-bs-target="#diagnostic">
                        <i class="m-icon bi bi-plus-circle"></i>
                        Tạo Chẩn Đoán
                    </button>
                }
                </div>
            <div class="card-body">
                <table class="table table-striped" id="tableDiagnostic" style="width:100%">
                    <thead>
                        <tr>
                            <th>Mã</th>
                            <th>Tên</th>
                            <th>Tên Tiếng Anh</th>
                            <th>MDC</th>
                            @if (User.IsInRole("Giám Đốc") || User.IsInRole("QTV"))
                            {
                                <th>Chức Năng</th>
                            }
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </section>
</div>


<!-- Create Basic Modal -->
<div class="modal fade text-left" id="diagnostic" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-700" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel1">Thêm danh mục chẩn đoán</h5>
                <button type="button" class="close rounded-pill"
                        data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-createDiagnostic" class="form form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Mã</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="Code" type="text" class="form-control"
                                               placeholder="Mã" id="first-name-icon" required>
                                        <div class="form-control-icon">
                                            <i class="bi bi-person"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Tên</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="Name" type="text" class="form-control"
                                               placeholder="Tên" required>
                                        <div class="form-control-icon">
                                            <i class="bi bi-envelope"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Tên Tiếng Anh</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="NameEnglish" type="text" class="form-control"
                                               placeholder="Tên Tiếng Anh" required>
                                        <div class="form-control-icon">
                                            <i class="fas fa-file-signature"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>MDC</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="MDC" type="number" class="form-control"
                                               placeholder="MDC" required>
                                        <div class="form-control-icon">
                                            <i class="bi bi-lock"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Lời Khuyên</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="Advice" type="text" class="form-control"
                                               placeholder="Lời Khuyên">
                                        <div class="form-control-icon">
                                            <i class="fas fa-comment-medical"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Hủy</span>
                            </button>
                            <button type="submit" id="createDiagnostic" class="btn btn-primary ml-1">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Tạo</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Update Basic Modal -->
<div class="modal fade text-left" id="Updatediagnostic" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-700" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Cập nhật danh mục chẩn đoán</h5>
                <button type="button" class="close rounded-pill"
                        data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-updateDiagnostic" class="form form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <input type="text" id="diagnosticID" name="ID" hidden />
                            <div class="col-md-4">
                                <label>Mã</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="Code" type="text" class="form-control"
                                               placeholder="Mã" id="diagnosticCode" required>
                                        <div class="form-control-icon">
                                            <i class="bi bi-person"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Tên</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="Name" type="text" class="form-control"
                                               placeholder="Tên" id="diagnosticName" required>
                                        <div class="form-control-icon">
                                            <i class="bi bi-envelope"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Tên Tiếng Anh</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="NameEnglish" type="text" class="form-control"
                                               placeholder="Tên Tiếng Anh" id="diagnosticNameEnglish" required>
                                        <div class="form-control-icon">
                                            <i class="fas fa-file-signature"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>MDC</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="MDC" type="number" class="form-control"
                                               placeholder="MDC" id="diagnosticMDC" required>
                                        <div class="form-control-icon">
                                            <i class="bi bi-lock"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Lời Khuyên</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="Advice" type="text" class="form-control"
                                               placeholder="Lời Khuyên" id="diagnosticAdvice">
                                        <div class="form-control-icon">
                                            <i class="fas fa-comment-medical"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Hủy</span>
                            </button>
                            <button type="submit" id="updateDiagnostic" class="btn btn-primary ml-1">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Cập Nhật</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var RoleCheck = @(User.IsInRole("Giám Đốc") || User.IsInRole("QTV") ? "true" : "false");
            $('#tableDiagnostic').DataTable({
                "ajax": {
                    "url": "@Url.Action("GetData", "DiagnosticsCategories")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "Code",
                    },
                    {
                        "data": "Name",
                    },
                    {
                        "data": "NameEnglish",
                    },
                    {
                        "data": "MDC",
                    },
                    {
                        "className": "w45",
                        "data": null,
                        "render": function (data, type, row) {
                            var button = "<button class='btn btn-primary btnHover edit' onclick='getDiagnosticByID(" + data.ID + ")' data-id='"
                                + data.ID + "'> <i class='fas fa-user-edit'></i> </button> <button id='text' class='btn btn-primary btnHover trash' onclick='deleteDiagnostic(" + data.ID + ")'><i class='fas fa-trash'></i></button>";
                            return button;
                        },
                        "targets": 0,
                        "orderable": false
                    }
                ],
                "language": {
                    "emptyTable": "No data available, please click on <b>Tạo Chẩn Đoán</b> button",
                    "oPaginate": {
                        sNext: '<i class="fa fa-chevron-right"></i>',
                        sPrevious: '<i class="fa fa-chevron-left"></i>',
                    },
                    "info": "Hiển thị _START_/_END_ trên tổng _TOTAL_",
                    "lengthMenu": "Hiển thị _MENU_ loại chuẩn đoán",
                    "search": "Tìm kiếm:",
                },
                "columnDefs": [
                    {
                        "targets": [4], //four column
                        "visible": RoleCheck
                    }
                ]
            })
            createDiagnostic()
            updateDiagnostic()
        })

        function getDiagnosticByID(id) {
            $.ajax({
                url: '@Url.Action("Edit", "DiagnosticsCategories")',
                type: 'GET',
                data: { id: id },
                success: function (res) {
                    if (res.data != null) {
                        $('#diagnosticName').val(res.data.Name);
                        $('#diagnosticID').val(res.data.ID);
                        $('#diagnosticNameEnglish').val(res.data.NameEnglish);
                        $('#diagnosticMDC').val(res.data.MDC);
                        $('#diagnosticCode').val(res.data.Code);
                        $('#diagnosticAdvice').val(res.data.Advice);
                    }
                }
            })
            $('#Updatediagnostic').modal('show')
        }

        function updateDiagnostic() {
            $('#form-updateDiagnostic').submit((e) => {
                var dataDiagnostic = $('#form-updateDiagnostic').serialize();
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                var model = {
                    validata: dataDiagnostic,
                }
                var isvalidUpdate = $("#form-updateDiagnostic").valid();
                if (isvalidUpdate) {
                    $.ajax({
                    url: "@Url.Action("Edit", "DiagnosticsCategories")",
                    type: "POST",
                    data: model.validata + "&__RequestVerificationToken=" + token,
                    success: (res) => {
                        if (res.success) {
                            $('#Updatediagnostic').modal('hide');
                            $(document.body).removeClass('modal-open').attr("style", "none");
                            $('.modal-backdrop').remove();
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Bạn đã cập nhật thành công',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            $('#tableDiagnostic').DataTable().ajax.reload();
                        }
                        else {
                            Toastify({
                                text: res.responseText,
                                className: "info",
                                duration: 1500,
                                style: {
                                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                                }
                            }).showToast();
                        }
                    }
                })
                }
                e.preventDefault();
            })
        }

        function createDiagnostic() {
            $('#form-createDiagnostic').submit((e) => {
                var dataDiagnostic = $('#form-createDiagnostic').serialize();
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                var model = {
                    validata: dataDiagnostic,
                }
                var isvalidCreate = $("#form-createDiagnostic").valid();
                if (isvalidCreate) {
                $.ajax({
                    url: "@Url.Action("Create", "DiagnosticsCategories")",
                    type: "POST",
                    data: model.validata + "&__RequestVerificationToken=" + token,
                    success: (res) => {
                        if (res.success) {
                            resetInput();
                            $('#diagnostic').modal('hide');
                            $(document.body).removeClass('modal-open').attr("style", "none");
                            $('.modal-backdrop').remove();
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Bạn đã tạo thành công',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            $('#tableDiagnostic').DataTable().ajax.reload();
                        }
                        else {
                            Toastify({
                                text: res.responseText,
                                className: "info",
                                duration: 1500,
                                style: {
                                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                                }
                            }).showToast();
                        }
                    }
                })
                }
                e.preventDefault();
            })
        }

        /*Get & Post Delete Diagnostic*/
        function deleteDiagnostic(id) {
            $.ajax({
                url: '@Url.Action("Delete", "DiagnosticsCategories")',
                type: 'GET',
                data: { id: id },
                success: function (res) {
                    if (res.data != null) {
                        Swal.fire({
                            title: 'Bạn muốn xóa danh mục chẩn đoán này?',
                            html:
                                '<b> Mã:</b> <span>' + res.data.Code +'</span> <br/>' +
                                '<b>Tên:</b> <span>' + res.data.Name + '</span> <br/>' +
                                '<b>Tên Tiếng Anh:</b> <span>' + res.data.NameEnglish + '</span> <br/>' +
                                '<b>MDC:</b> <span>' + res.data.MDC + '</span> <br/>' +
                                '<b>Lời Khuyên:</b> <span>' + res.data.Advice + '</span>',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#d33',
                            cancelButtonColor: '#777',
                            confirmButtonText: 'Xác nhận',
                            cancelButtonText: 'Hủy'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                var form = $('#__AjaxAntiForgeryForm');
                                var token = $('input[name="__RequestVerificationToken"]', form).val();
                                $.ajax({
                                    url: '@Url.Action("Delete", "DiagnosticsCategories")',
                                    type: 'POST',
                                    data: "ID=" + res.data.ID + "&__RequestVerificationToken=" + token,
                                    success: function (res) {
                                        if (res.success) {
                                            $('#diagnostic').modal('hide');
                                            $(document.body).removeClass('modal-open').attr("style", "none");
                                            $('.modal-backdrop').remove();
                                            Swal.fire({
                                                position: 'center',
                                                icon: 'success',
                                                title: 'Xóa thành công',
                                                showConfirmButton: false,
                                                timer: 1500
                                            })
                                            $("#tableDiagnostic").DataTable().ajax.reload();
                                        }
                                        else {
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Thất Bại',
                                                text: res.responseText,
                                            })
                                        }
                                    }
                                });
                            }
                        })
                    }
                }
            })
        }

        function resetInput() {
            $('#form-createDiagnostic').get(0).reset();
        }

        /*Validate Form Update Diagnostic*/
        $('form').each((i, obj) => {
            $.validator.addMethod('checkNameEnglish', function (value, element) {
                return this.optional(element) || /^[a-zA-Z0-9,.!?*()[/\] ]*$/g.test(value);
            }, "Vui lòng nhập đúng định dạng tiếng anh");;
            $(function () {
                $(obj).validate({
                    rules: {
                        Code: {
                            required: true,
                            normalizer: function (value) {
                                return $.trim(value);
                            },
                            maxlength: 10
                        },
                        Name: {
                            required: true,
                            normalizer: function (value) {
                                return $.trim(value);
                            },
                        },
                        NameEnglish: {
                            required: true,
                            normalizer: function (value) {
                                return $.trim(value);
                            },
                            checkNameEnglish: true
                        },
                        MDC: {
                            required: true,
                            normalizer: function (value) {
                                return $.trim(value);
                            },
                            number: true,
                            maxlength: 3
                        },
                    },
                    messages: {
                        Code: {
                            required: "Vui lòng không để trống hoặc nhập ký tự khoảng trắng",
                            maxlength: "Nhập tối đa 10 ký tự"
                        },
                        Name: {
                            required: "Vui lòng không để trống hoặc nhập ký tự khoảng trắng",
                        },
                        NameEnglish: {
                            required: "Vui lòng không để trống hoặc nhập ký tự khoảng trắng",
                        },
                        MDC: {
                            required: "Vui lòng không để trống hoặc nhập ký tự khoảng trắng",
                            number: "Vui lòng nhập đúng định dạng",
                            maxlength: "Nhập tối đa 3 ký tự"
                        }
                    },
                    errorClass: 'invalidLB',
                    validClass: 'validLB',
                    highlight: function (element, errorClass, validClass) {
                        $(element).closest(".position-relative").addClass('mb-25')
                    },
                    unhighlight: function (element, errorClass, validClass) {
                        $(element).closest(".position-relative").removeClass('mb-25')
                    }
                });
            });
        })
    </script>
}