
@{
    ViewBag.Title = "Page404";
    Layout = null;
}
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&amp;display=swap" rel="stylesheet">
<link href="@Url.Content("~/Areas/Admin/assets/css/bootstrap.css")" rel="stylesheet" />
<link href="@Url.Content("~/Areas/Admin/assets/vendors/bootstrap-icons/bootstrap-icons.css")" rel="stylesheet" />
<link href="@Url.Content("~/Areas/Admin/assets/css/app.css")" rel="stylesheet" />
<link href="@Url.Content("~/Areas/Admin/assets/css/pages/error.css")" rel="stylesheet" />

<div id="error">
    <div class="error-page container">
        <div class="col-md-8 col-12 offset-md-2">
            <img class="img-error" src="@Url.Content("~/Areas/Admin/assets/images/samples/error-404.png")" alt="Not Found" />
            <div class="text-center">
                <h1 class="error-title">NOT FOUND</h1>
                <p class='fs-5 text-gray-600'>Trang này không tồn tại.</p>
                <a href="@Url.Action("HomePage", "Users", new { Area = "Admin" })" class="btn btn-lg btn-outline-primary mt-3">Về Trang Chủ</a>
            </div>
        </div>
    </div>

</div>


