@model ElectronicMedicalRecords.Models.MultiplesModel

<div class="card-header" style="padding-bottom:0px">
    <h4 class="card-title">Thông Tin Toa Thuốc</h4>
    <hr />
</div>

<div class="card-content">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8 col-12">
                <div class="form-group name-Medication">
                    <label for="email-id-column">Tên Thuốc</label>
                    <select id="NameMedication" name="Medication.Name" class="choices form-select">
                        <option placeholder>Vui Lòng Chọn Tên Thuốc</option>
                        @foreach (var medication in ViewBag.NameMedication)
                        {
                            <option value="@medication.ID">@medication.Name</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.Medication.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="form-group">
                    <label for="email-id-column">Liều lượng</label>
                    <div class="input-group mb-3">
                        <input type="number" id="UnitMedication" name="Prescription_Detail.NumMedication" class="form-control">
                        <span class="input-group-text" id="DVT"></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Prescription_Detail.NumMedication, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-8 col-12">
                <div class="form-group">
                    <label for="email-id-column">Ghi Chú</label>
                    <input id="NoteMedication" type="text" name="Prescription_Detail.Note" class="form-control">
                    @Html.ValidationMessageFor(model => model.Prescription_Detail.Note, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4" style="position: relative;top:23px">
                <button type="button" class="btn btn-primary" onclick="insRowMedication()">Thêm Thuốc</button>
            </div>
            <div class="col-md-12">
                <table id="TableMedication" style="width:100%" border="1" class="table-bordered">
                    <tr>
                        <th>Tên Thuốc</th>
                        <th>Liều Lượng</th>
                        <th>Ghi Chú</th>
                        <th>Gỡ Bỏ</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>