@model IEnumerable<ElectronicMedicalRecords.Models.Medication>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveIngredientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveIngredientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>*@

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>DataTable</h3>
                <p class="text-subtitle text-muted">For user to check they list</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">DataTable</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <fieldset>
                @using (Html.BeginForm("ImportExcel", "Medications", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="input-group">
                        <input type="file" name="uploads" class="form-control" multiple id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <input id="inputGroupFileAddon04" type="submit" value="Upload" class="btn btn-primary" />
                    </div>
                }
            </fieldset>
            <div class="buttons">
                @using (Html.BeginForm("Export", "Medications"))
                {
                    <input class="btn btn-primary" type="submit" name="Export" value="Export to Excel" />
                }
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                Simple Datatable
                <br />
                <button style="margin-top: 10px" type="button" class="btn btn-outline-primary block" data-bs-toggle="modal"
                        data-bs-target="#createMedication">
                    Thêm Thuốc
                </button>
            </div>
            <div class="card-body">
                <table class="table table-striped" id="tableMedication">
                    <thead>
                        <tr>
                            <th>Tên Hoạt Chất</th>
                            <th>Tên Thuốc</th>
                            <th>ĐVT</th>
                            <th>Giá</th>
                            <th>Hoạt Động</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

    </section>
</div>

<!-- Create Basic Modal -->
<div class="modal fade text-left" id="createMedication" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel1">Thêm Thuốc</h5>
                <button type="button" class="close rounded-pill"
                        data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-createMedication" class="form form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Tên Hoạt Chất</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="ActiveIngredientName" type="text" class="form-control"
                                               placeholder="Tên Hoạt Chất" id="first-name-icon" required>
                                        <div class="form-control-icon">
                                            <i class="bi bi-person"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Tên Thuốc</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="Name" type="text" class="form-control"
                                               placeholder="Tên Thuốc" id="first-name-icon" required>
                                        <div class="form-control-icon">
                                            <i class="bi bi-envelope"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>ĐVT</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="Unit" type="text" class="form-control"
                                               placeholder="Đơn Vị Tính" required>
                                        <div class="form-control-icon">
                                            <i class="bi bi-phone"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Giá</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="Price" type="text" class="form-control"
                                               placeholder="Giá" required>
                                        <div class="form-control-icon">
                                            <i class="bi bi-lock"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Close</span>
                </button>
                <button type="button" onsubmit="createMedication()" class="btn btn-primary ml-1"
                        data-bs-dismiss="modal">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Accept</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Update Basic Modal -->
<div class="modal fade text-left" id="Updatemedication" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Cập nhật thuốc</h5>
                <button type="button" class="close rounded-pill"
                        data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-updateMedication" class="form form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <input type="text" id="MedicationID" name="ID" hidden />
                            <div class="col-md-4">
                                <label for="MedicationActiveIngredientName">Tên Hoạt Chất</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="ActiveIngredientName" type="text" class="form-control"
                                               id="MedicationActiveIngredientName" required>
                                        <div class="form-control-icon">
                                            <i class="bi bi-person"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="MedicationName">Tên Thuốc</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="Name" type="text" class="form-control"
                                               placeholder="Tên" id="MedicationName" required>
                                        <div class="form-control-icon">
                                            <i class="bi bi-envelope"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="MedicationUnit">ĐVT</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="Unit" type="text" class="form-control"
                                               placeholder="Tên Tiếng Anh" id="MedicationUnit" required>
                                        <div class="form-control-icon">
                                            <i class="bi bi-phone"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="MedicationPrice">Giá</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="Price" type="text" class="form-control"
                                               placeholder="Giá" id="MedicationPrice" required>
                                        <div class="form-control-icon">
                                            <i class="bi bi-lock"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Close</span>
                </button>
                <button type="button" onclick="updateMedication()" class="btn btn-primary ml-1"
                        data-bs-dismiss="modal">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Accept</span>
                </button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#tableMedication').DataTable({
                "ajax": {
                    "url": "@Url.Action("GetData", "Medications")",
                    "type": "GET",
                    "datatype": "json",
                },
                "columns": [
                    {
                        "data": "ActiveIngredientName",
                    },
                    {
                        "data": "Name",
                    },
                    {
                        "data": "Unit",
                    },
                    {
                        "data": "Price",
                        "render": DataTable.render.number(',', '.')
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var button = "<button class='btn btn-primary' onclick='getMedicationByID(" + data.ID + ")' data-id='"
                                + data.ID + "'><i class='fas fa-user-edit'></i></button> <button id='text' class='btn btn-primary' onclick='deleteMedication(" + data.ID + ")'><i class='fas fa-trash'></i></button>";
                            return button;
                        },
                        "targets": 0,
                        "orderable": false
                    }
                ],
                "language": {
                    "emptyTable": "No data available, please click on <b>Tạo Thuốc</b> button",
                    "oPaginate": {
                        sNext: '<i class="fa fa-chevron-right"></i>',
                        sPrevious: '<i class="fa fa-chevron-left"></i>',
                    }
                }
            })
        })


        /*Get & Post Delete Medication*/
        function deleteMedication(id) {
            $.ajax({
                url: '@Url.Action("Delete", "Medications")',
                type: 'GET',
                data: { id: id },
                success: function (res) {
                    if (res.data != null) {
                        Swal.fire({
                            title: 'Bạn muốn xóa thuốc này?',
                            html:
                                '<b>Tên Thuốc:</b> <span>' + res.data.Name +'</span> <br/>' +
                                '<b>Tên Hoạt Chất:</b> <span>' + res.data.ActiveIngredientName + '</span> <br/>' +
                                '<b>Đơn vị:</b> <span>' + res.data.Unit + '</span> <br/>' +
                                '<b>Giá:</b> <span>' + res.data.Price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "<b> VNĐ</b>" + '</span>',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#d33',
                            cancelButtonColor: '#777',
                            confirmButtonText: 'Xác nhận',
                            cancelButtonText: 'Hủy'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                var form = $('#__AjaxAntiForgeryForm');
                                var token = $('input[name="__RequestVerificationToken"]', form).val();
                                $.ajax({
                                    url: '@Url.Action("Delete", "Medications")',
                                    type: 'POST',
                                    data: "ID=" + res.data.ID + "&__RequestVerificationToken=" + token,
                                    success: function (res) {
                                        if (res.success) {
                                            Swal.fire({
                                                position: 'center',
                                                icon: 'success',
                                                title: 'Xóa thành công',
                                                showConfirmButton: false,
                                                timer: 1500
                                            })
                                            $("#tableMedication").DataTable().ajax.reload();
                                        }
                                    }
                                });
                            }
                        })
                    }
                }
            })
        }

        function createMedication() {
            var dataMedication = $('#form-createMedication').serialize();
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            var model = {
                validata: dataMedication,
            }
            $.ajax({
                url: "@Url.Action("Create", "Medications")",
                type: "POST",
                data: model.validata + "&__RequestVerificationToken=" + token,
                success: () => {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Bạn đã tạo thành công',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    $('#tableMedication').DataTable().ajax.reload();
                    resetInputCreate();
                }
            })
        }

        /*get ID Update*/
        function getMedicationByID(id) {
            $.ajax({
                url: '@Url.Action("Edit", "Medications")',
                type: 'GET',
                data: { id: id },
                success: function (res) {
                    if (res.data != null) {
                        $('#MedicationName').val(res.data.Name);
                        $('#MedicationID').val(res.data.ID);
                        $('#MedicationActiveIngredientName').val(res.data.ActiveIngredientName);
                        $('#MedicationPrice').val(res.data.Price);
                        $('#MedicationUnit').val(res.data.Unit);
                    }
                }
            })
            $('#Updatemedication').modal('show')
        }

        /*update*/
        function updateMedication() {
            var dataMedication = $('#form-updateMedication').serialize();
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            var model = {
                validata: dataMedication,
            }
            $.ajax({
                url: "@Url.Action("Edit", "Medications")",
                type: "POST",
                data: model.validata + "&__RequestVerificationToken=" + token,
                success: () => {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Bạn đã cập nhật thành công',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    $('#tableMedication').DataTable().ajax.reload();
                }
            })
        }

        function resetInputCreate() {
            $('#form-createMedication').get(0).reset();
        }
    </script>
}