@model ElectronicMedicalRecords.Models.MultiplesModel

<div class="card-content">
    <div class="card-body">
        <div class="row">
            <p>- Kết quả khám thính lực:</p>
            <div class="col-md-2">
                <div class="form-group d-flex align-items-center" style="height:38px">
                    <label>Tai trái:</label>
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group d-flex align-items-center">
                    <label style="width:120px">Nói thường:</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.Clinical.LeftEarSay, new { htmlAttributes = new { @class = "form-control", @type = "number", @readonly = "readonly" } })
                        <span class="input-group-text">m</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Clinical.LeftEarSay, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group d-flex align-items-center">
                    <label style="width:90px">Nói thầm:</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.Clinical.LeftEarWhisper, new { htmlAttributes = new { @class = "form-control", @type = "number", @readonly = "readonly" } })
                        <span class="input-group-text">m</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Clinical.LeftEarWhisper, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group d-flex align-items-center" style="height:38px">
                    <label>Tai phải:</label>
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group d-flex align-items-center">
                    <label style="width:120px">Nói thường:</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.Clinical.RightEarSay, new { htmlAttributes = new { @class = "form-control", @type = "number", @readonly = "readonly" } })
                        <span class="input-group-text">m</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Clinical.RightEarSay, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group d-flex align-items-center">
                    <label style="width:90px">Nói thầm:</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.Clinical.RightEarWhisper, new { htmlAttributes = new { @class = "form-control", @type = "number", @readonly = "readonly" } })
                        <span class="input-group-text">m</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Clinical.RightEarWhisper, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>

<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseTai" role="button" aria-expanded="false" aria-controls="collapseExample">
    Tai
</a>

<div class="collapse" id="collapseTai">
    <div class="card-body">
        <table class="table table-striped tableLoadClinical" id="tableTais" style="width:100%">
            <thead>
                <tr>
                    <th hidden></th>
                    <th hidden></th>
                    <th>Chỉ Định</th>
                    <th>Bệnh về Tai</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Detail_Tais.Count(); i++)
                {
                    <tr>
                        <td hidden>
                            <input value="@Model.Detail_Tais[i].InformationExamination_ID" type="text" name="Detail_Tais[@i].InformationExamination_ID" hidden />
                            <input value="@Model.Detail_Tais[i].Tai_ID" type="text" name="Detail_Tais[@i].Tai_ID" hidden />
                        </td>
                        <td hidden>
                            <input value="@Model.Detail_Tais[i].ID" type="text" name="Detail_Tais[@i].ID" hidden />
                        </td>
                        <td>
                            <input hidden checked type="checkbox" value="true" class="form-check-input form-check-primary" data-id="@Model.Detail_Tais[i].Tai_ID" name="Detail_Tais[@i].Tai_ID">
                            <input disabled checked type="checkbox" value="true" class="form-check-input form-check-primary">
                        </td>
                        <td>
                            <label class="form-check-label">@Model.Detail_Tais[i].Tai.Name</label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>