@model IEnumerable<ElectronicMedicalRecords.Models.StatisticModel>
@{
    ViewBag.Title = "PrintStatisticDiagnostic";
    Layout = "~/Areas/Admin/Views/Shared/Print.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/vendors/sweetalert2/sweetalert2.min.css")">
<script src="@Url.Content("~/Areas/Admin/assets/js/extensions/sweetalert2.js")"></script>
<script src="@Url.Content("~/Areas/Admin/assets/vendors/sweetalert2/sweetalert2.all.min.js")"></script>
<style>
    p {
        text-align: center;
    }

    .box-date {
        text-align: center;
        padding-bottom: 0.5rem;
    }
   
</style>
<div class="container bootstrap snippets bootdeys">
    <div class="row body-pay">
        <div class="col-sm-12">
            <div class="panel panel-default invoice" id="invoice">
                <div class="panel-body">
                    <div class="row bg-row justify-content-center">
                        <div class="col-sm-6 top-left">
                            <img class="logo" src="~/asset/vl-logo.png" />
                        </div>
                    </div>

                    <div style="margin-top:10px">
                        <a href="javascript:window.print()" class="btn btn-success d-inline-block" id="invoice-print"><i class="fa fa-print"></i> Print Invoice</a>
                    </div>

                    <div class="p-header">
                        <h1>Bảng Thống Kê</h1>
                    </div>
                    <div class="box-date">
                        @if (ViewBag.DateStart == null && ViewBag.DateEnd != null)
                        {
                            <span>Đến ngày: @ViewBag.DateEnd.ToString("dd-MM-yyyy")</span>
                        }
                        else if (ViewBag.DateStart != null && ViewBag.DateEnd == null)
                        {
                            <span>Từ Ngày: @ViewBag.DateStart.ToString("dd-MM-yyyy") </span>
                        }
                        else if (ViewBag.DateStart != null && ViewBag.DateEnd != null)
                        {
                            <span>Ngày: @ViewBag.DateStart.ToString("dd-MM-yyyy") <strong>-</strong> @ViewBag.DateEnd.ToString("dd-MM-yyyy")</span>
                        }
                        else
                        {
                            <span>Đến ngày: @DateTime.Now.ToString("dd-MM-yyyy")</span>
                        }
                    </div>

                    <div class="row body-pay">
                        <p class="lead marginbottom">Nhóm Bệnh</p>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width:15%">Mã Chuẩn Đoán</th>
                                    <th style="width: 28.33%;">Tên Chuẩn Đoán</th>
                                    <th style="width: 28.33%">Số Lượng Bệnh Nhân</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var diagnostics in Model)
                                {
                                    if (diagnostics.countPatient != 0)
                                    {
                                        <tr>
                                            <td>@diagnostics.diagnosticsCategory.Code</td>
                                            <td>@diagnostics.diagnosticsCategory.Name</td>
                                            <td>@diagnostics.countPatient</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex-col-sign p-5">
                        <p class="lead m-0 pe-1">Thu Ngân</p>
                        <i>(ghi rõ họ tên)</i>
                    </div>
                    <div class="col-xs-6 margintop ">
                        <p class="lead marginbottom" style="text-align:center;">THANK YOU!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

               