@model IEnumerable<ElectronicMedicalRecords.Models.Detail_DiagnosticsCategory>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last pdlLeft">
                <h3 style="padding:10px">Thống Kê</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first" style="padding-top:50px">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("StatisByCondition","Statistics")">Trang Chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Thống Kê</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                Theo Nhóm Bệnh
            </div>
            <div class="card-body">
                <a target="_blank" href="@Url.Action("PrintStatisticDiagnostic", "Statistics")" class="btn btn-outline-primary">
                    <i class="m-icon bi bi-plus-circle"></i>
                    In
                </a>
                @using (Html.BeginForm("ExportExcelDiagnostic", "Statistics", FormMethod.Post, new { style = "display:inline-block" }))
                {
                    if (ViewBag.DateStart != null)
                    {
                        <input name="ExportStart" type="date" value=@ViewBag.DateStart.ToString("yyyy-MM-dd") hidden />
                    }
                    if (ViewBag.DateEnd != null)
                    {
                        <input name="ExportEnd" type="date" value=@ViewBag.DateEnd.ToString("yyyy-MM-dd") hidden />
                    }
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="far fa-file-excel"></i> Export Excel
                    </button>
                }
                <form action="@Url.Action("SearchDiagnostic","Statistics")" method="post">
                    <div class="row mgb-1 mgt-05">
                        <div class="col-md-5">
                            <label>Từ ngày</label>
                            @if (ViewBag.DateStart != null)
                            {
                                DateTime dateStart = (DateTime)ViewBag.DateStart;
                                <input name="dateStart" type="date" value="@dateStart.ToString("yyyy-MM-dd")" class="form-control" />
                            }
                            else
                            {
                                <input name="dateStart" type="date" class="form-control" />
                            }
                        </div>
                        <div class="col-md-5">
                            <label>Đến ngày</label>
                            @if (ViewBag.DateEnd != null)
                            {
                                DateTime dateEnd = (DateTime)ViewBag.DateEnd;
                                <input name="dateEnd" type="date" value="@dateEnd.ToString("yyyy-MM-dd")" class="form-control" />
                            }
                            else
                            {
                                <input name="dateEnd" type="date" class="form-control" />
                            }
                        </div>
                        <div class="col-md-2 align-self-end">
                            <button type="submit" class="btn-search">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <table class="table table-striped" id="tableStatisDiagnostic" style="width:100%">
                    <thead>
                        <tr>
                            <th>Mã Chẩn Đoán</th>
                            <th>Tên Chẩn Đoán</th>
                            <th>Số Lượng Bệnh Nhân</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var diagnostics in Model)
                        {
                            <tr>
                                <td>@diagnostics.DiagnosticsCategory.Code</td>
                                <td>@diagnostics.DiagnosticsCategory.Name</td>
                                <td>@diagnostics.DiagnosticsCategory.Detail_DiagnosticsCategory.Count</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script>
        $('#tableStatisDiagnostic').DataTable({
            "language": {
                "emptyTable": "No data available",
                "oPaginate": {
                    sNext: '<i class="fa fa-chevron-right"></i>',
                    sPrevious: '<i class="fa fa-chevron-left"></i>',
                },
                "info": "Hiển thị _START_/_END_ trên tổng _TOTAL_",
                "lengthMenu": "Hiển thị _MENU_ thống kê",
                "search": "Tìm kiếm:",
            },
        })

        if (window.location.href.indexOf("Admin/Statistics") > -1) {
            $('a[href="/CP24Team08/Admin/Statistics/StatisByDiagnostic"]').parent().parent().addClass("active");
            $('a[href="/CP24Team08/Admin/Statistics/StatisByDiagnostic"]').parent().parent().parent().addClass("active");
        }
        if (window.location.href.indexOf("Admin/Statistics/SearchDiagnostic") > -1) {
            $('a[href="/CP24Team08/Admin/Statistics/StatisByDiagnostic"]').parent().addClass("active");
        }
    </script>
}


