@model ElectronicMedicalRecords.Models.MultiplesModel

<div class="card-header pd-0px">
    <div class="d-flex justify-content-between align-items-center">
        <h6 style="margin: 1rem 0.5rem">
            Số lượng xét nghiệm :
            <span class="countTests">0</span>
        </h6>
        @*<button class="btn btn-primary">Giao Diện In</button>*@
    </div>
    <!-- button trigger for  Vertically Centered modal -->
    <button style="display:none;margin-left:10px" onclick="loadDetailTestsNM()" id="DetailTestCount" type="button" class="btn btn-outline-primary block"
            data-bs-toggle="modal" data-bs-target="#DetailTestCountNM">
        Chi Tiết
    </button>
    <div class="d-flex align-items-center" style="margin-left:8px">
        <input class="form-check-input form-check-primary" id="checkAll" type="checkbox" />
        <label style="padding-left:1rem;padding-top:1px" class="form-check-label" for="checkAll">Xét nghiệm tổng</label>
    </div>
    <!-- Vertically Centered modal Modal -->
    <div class="modal fade" id="DetailTestCountNM" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div style="max-width:900px" class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
             role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">
                        Chỉ định xét nghiệm
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal"
                            aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped tableNewChiDinh" id="tableNewNM" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Chỉ Định</th>
                                <th>Tên Xét Nghiệm</th>
                                <th hidden></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="destroytable" type="button" class="btn btn-primary ml-1"
                            data-bs-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Tắt</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    <table class="table table-striped tableLoad" id="tableNhomMau" style="width:100%">
        <thead>
            <tr>
                <th hidden></th>
                <th>Chỉ Định</th>
                <th>Tên Xét Nghiệm</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.NhomMau.Count(); i++)
            {
                <tr>
                    <td hidden>
                        @*<input value="@ViewBag.CTMau[i].ID" type="text" name="CTMau[@i].ID" hidden />*@
                        <input value="@Model.NhomMau[i].ID" type="text" name="NhomMau[@i].ID" hidden />
                    </td>
                    <td>
                        @*<input type="checkbox" value="false" class="form-check-input form-check-primary" name="CTMau[@i].ChiDinh" id="customColorCheck-@ViewBag.CTMau[i].ID" onchange="updateCountTests(@ViewBag.CTMau[i].ID, event)">*@
                        <input type="checkbox" value="false" class="form-check-input form-check-primary updateCountTests" data-id="@Model.NhomMau[i].ID" name="NhomMau[@i].ChiDinh" id="NhomMau-@Model.NhomMau[i].ID">
                    </td>
                    <td>
                        <input value="@Model.NhomMau[i].NameTest" type="text" name="NhomMau[@i].NameTest" hidden />
                        <label class="form-check-label" for="customColorCheck-@Model.NhomMau[i].ID">@Model.NhomMau[i].NameTest</label>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
