@model ElectronicMedicalRecords.Models.MultiplesModel

<div class="card-body">
    <table class="table table-striped tableLoad" id="tableUrines" style="width:100%">
        <thead>
            <tr>
                <th hidden></th>
                <th hidden></th>
                <th>Chỉ Định</th>
                <th>Tên Xét Nghiệm</th>
                <th>Kết Quả</th>
                <th>Chỉ Số Cân Bằng</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Detail_Urines.Count(); i++)
            {
                <tr>
                    <td hidden>
                        <input value="@Model.Detail_Urines[i].InfomationExamination_ID" type="text" name="Detail_Urines[@i].InfomationExamination_ID" hidden />
                        <input value="@Model.Detail_Urines[i].Urine_ID" type="text" name="Detail_Urines[@i].Urine_ID" hidden />
                    </td>
                    <td hidden>
                        @*<input value="@ViewBag.CTMau[i].ID" type="text" name="CTMau[@i].ID" hidden />*@
                        <input value="@Model.Detail_Urines[i].ID" type="text" name="Detail_Urines[@i].ID" hidden />
                    </td>
                    <td>
                        @*<input type="checkbox" value="false" class="form-check-input form-check-primary" name="CTMau[@i].ChiDinh" id="customColorCheck-@ViewBag.CTMau[i].ID" onchange="updateCountTests(@ViewBag.CTMau[i].ID, event)">*@
                        <input hidden checked type="checkbox" value="true" class="form-check-input form-check-primary" data-id="@Model.Detail_Urines[i].Urine_ID" name="Detail_Urines[@i].ChiDinh">
                        <input disabled checked type="checkbox" value="true" class="form-check-input form-check-primary">
                    </td>
                    <td>
                        <label class="form-check-label">@Model.Detail_Urines[i].Urine.Name</label>
                    </td>
                    <td>
                        <input value="@Model.Detail_Urines[i].Result" type="number" name="Detail_Urines[@i].Result" class="form-control" />
                    </td>
                    <td>
                        @Html.Raw(Model.Detail_Urines[i].Urine.CSBT)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
