@model ElectronicMedicalRecords.Models.MultiplesModel

<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseTamThan" role="button" aria-expanded="false" aria-controls="collapseExample">
    Tâm Thần
</a>

<div class="collapse" id="collapseTamThan">
    <div class="card-body">
        <table class="table table-striped tableLoadClinical" id="tableTamThans" style="width:100%">
            <thead>
                <tr>
                    <th hidden></th>
                    <th hidden></th>
                    <th>Chỉ Định</th>
                    <th>Bệnh về Tâm Thần</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Detail_TamThans.Count(); i++)
                {
                    <tr>
                        <td hidden>
                            <input value="@Model.Detail_TamThans[i].InformationExamination_ID" type="text" name="Detail_TamThans[@i].InformationExamination_ID" hidden />
                            <input value="@Model.Detail_TamThans[i].TamThan_ID" type="text" name="Detail_TamThans[@i].TamThan_ID" hidden />
                        </td>
                        <td hidden>
                            <input value="@Model.Detail_TamThans[i].ID" type="text" name="Detail_TamThans[@i].ID" hidden />
                        </td>
                        <td>
                            <input hidden checked type="checkbox" value="true" class="form-check-input form-check-primary" data-id="@Model.Detail_TamThans[i].TamThan_ID" name="Detail_TamThans[@i].TamThan_ID">
                            <input disabled checked type="checkbox" value="true" class="form-check-input form-check-primary">
                        </td>
                        <td>
                            <label class="form-check-label">@Model.Detail_TamThans[i].TamThan.Name</label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


