@model IEnumerable<ElectronicMedicalRecords.Models.User>
<style>
    .btn-staff{
        border: none;
        background: none
    }

    .modal-form{
        min-width: 1000px;
    }

    .image-zoom {
        border: 1px solid #ccc;
        padding: 5px;
        max-width: 300px;
        max-height: 300px;
    }

    .image-zoom img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .md-body {
        overflow: hidden !important;
        min-height: auto;
    }
    .modal-header:before{
        display: none;
        content: none;
    }
</style>

<section id="doctor" class="hero-wrap hero-wrap-2">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 text-center mb-5">
                <p class="breadcrumbs"><span class="me-2"><a href="@Url.Action("Index", "Home")">Trang Chủ <i class="fa fa-chevron-right"></i></a></span> <span>Đội Ngũ Bác Sĩ <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Đội Ngũ Bác Sĩ</h1>
            </div>
        </div>
    </div>
</section>

<section id="doctor" class="ftco-section">
    <div class="container">
        <div class="row">
            @foreach (var user in Model)
            {
                <div class="col-md-6 col-lg-3 aos-init aos-animate" data-aos="flip-right" data-aos-delay="100" data-aos-duration="1000">
                    <!-- Button trigger for BorderLess Modal -->
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url(@user.Image)"></div>
                        </div>
                        <div class="text text-center">
                            <div>
                                <h3 class="mb-2">@user.Name</h3>
                                <span class="position mb-2">@user.Degree</span>
                            </div>
                            <div class="faded">
                                <ul class="ftco-social text-center">
                                    <li class="ftco-animate">
                                        <button type="button" class="d-flex align-items-center justify-content-center"
                                                data-bs-toggle="modal" data-bs-target="#border-less-@user.ID">
                                            <i class="ri-eye-fill ri-lg"></i>
                                        </button>
                                    </li>
                                    <li class="ftco-animate"><a target="_blank" href="https://www.facebook.com/khoa.y.vlu/" class="d-flex align-items-center justify-content-center"><i class="ri-facebook-fill ri-lg"></i></a></li>
                                    @*<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><i class="ri-linkedin-fill ri-lg"></i></a></li>
                                    <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><i class="ri-instagram-fill ri-lg"></i></a></li>*@
                                </ul>
                                <p>Phòng Khám Đại Học Văn Lang.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--BorderLess Modal Modal -->
                <div class="modal fade text-left modal-borderless" id="border-less-@user.ID"
                     tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-700" role="document">
                        <div class="modal-content modal-user">
                            <div class="modal-header">
                                <h5 class="modal-title">Thông Tin Bác Sĩ</h5>
                                <button type="button" class="close rounded-pill"
                                        data-bs-dismiss="modal" aria-label="Close" style="border:none">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                            <div class="modal-body detailDoctor">
                                <img class="detailDoctor-img" src="@user.Image" style="border-radius:4px" />
                                <div class="content content-doctor">
                                    <h5>@user.Degree. @user.Name</h5>
                                    <p>@Html.Raw(user.Introduction)</p>
                                    <div class="training">
                                        <h6>Quá trình đào tạo</h6>
                                        <p>@Html.Raw(user.TrainingProcess)</p>
                                    </div>
                                    <div class="working">
                                        <h6>Quá trình công tác</h6>
                                        <p>@Html.Raw(user.WorkingProcess)</p>
                                    </div>
                                    @if (user.SpecializedTreatment != null)
                                    {
                                        <div class="treatment">
                                            <h6>Các mặt bệnh hay điều trị</h6>
                                            <p>@Html.Raw(user.SpecializedTreatment)</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>