@model IEnumerable<ElectronicMedicalRecords.Models.User>
<style>
    .btn-staff{
        border: none;
        background: none
    }
</style>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            @foreach (var user in Model)
            {
                <div class="col-md-6 col-lg-3 aos-init aos-animate" data-aos="flip-right" data-aos-delay="100" data-aos-duration="1000">
                    <!-- Button trigger for BorderLess Modal -->
                    <button type="button" class="btn-staff" data-bs-toggle="modal" data-bs-target="#border-less-@user.ID">
                        <div class="staff">
                            <div class="img-wrap d-flex align-items-stretch">
                                <div class="img align-self-stretch" style="background-image: url(@user.Image)"></div>
                            </div>
                            <div class="text text-center">
                                <h3 class="mb-2">Dr. Lloyd Wilson</h3>
                                <span class="position mb-2">Head Dentist</span>
                                <div class="faded">
                                    <ul class="ftco-social text-center">
                                        <li class="ftco-animate">
                                            <a href="#" class="d-flex align-items-center justify-content-center">
                                                <span class="fa fa-twitter"></span>
                                            </a>
                                        </li>
                                        <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                        <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                        <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                                    </ul>
                                    <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <!--BorderLess Modal Modal -->
                <div class="modal fade text-left modal-borderless" id="border-less-@user.ID"
                     tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-700" role="document">
                        <div class="modal-content modal-user">
                            <div class="modal-header">
                                <h5 class="modal-title">Thông Tin Bác Sĩ</h5>
                                <button type="button" class="close rounded-pill btn-staff"
                                        data-bs-dismiss="modal" aria-label="Close">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                            <div class="modal-body detailDoctor d-flex">
                                <img class="detailDoctor-img" src="@user.Image" style="border-radius:4px" />
                                <div class="content content-doctor">
                                    <h5>@user.Degree. @user.Name</h5>
                                    <p>@Html.Raw(user.Introduction)</p>
                                    <div class="training">
                                        <h6>Quá trình đào tạo</h6>
                                        <p>@Html.Raw(user.TrainingProcess)</p>
                                    </div>
                                    <div class="working">
                                        <h6>Quá trình công tác</h6>
                                        <p>@Html.Raw(user.WorkingProcess)</p>
                                    </div>
                                    <div class="treatment">
                                        <h6>Các mặt bệnh hay điều trị</h6>
                                        <p>@Html.Raw(user.SpecializedTreatment)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary ml-1"
                                        data-bs-dismiss="modal">
                                    <i class="bx bx-check d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Close</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>