@model ElectronicMedicalRecords.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var BirthDate = Model.BirthDate != null ? Model.BirthDate.Value.ToString("yyyy-MM-dd") : "";
}
<script src="@Url.Content("~/Areas/Admin/assets/vendors/ckeditor/ckeditor.js")"></script>
<script>
    const hiddenMenu = document.querySelector('#sidebar');
    hiddenMenu.style.display = "none";
    const hiddenMain = document.querySelector('#main');
    hiddenMain.style.margin = "0";
</script>
@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.UserID)
    <div class="col-md-7 col-12 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="text-align:center">Cập nhật thông tin cá nhân</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="ctLabel col-md-2 d-flex align-items-end">
                                    <label for="image">Hình Ảnh</label>
                                </div>
                                <div class="col-md-10 d-flex align-items-end">
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="inputGroupFile01"><i class="bi bi-upload"></i></label>
                                        <input type="file" name="Image1" value="@Model.Image" class="form-control" id="image">
                                        <input type="text" name="Image" value="@Model.Image" hidden />
                                    </div>
                                </div>
                                @*<div class="col-md-4">
                                    <img src="@Model.Image" style="width:100%;object-fit:cover;border-radius:10px;margin-bottom:10px"/>
                                </div>*@
                                <div class="ctLabel col-md-2">
                                    <label for="name">Họ và tên</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group has-icon-left">
                                        <div class="position-relative">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { id = "name", @class = "form-control", placeholder = "Họ và tên", @data_val = "true", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            <div class="form-control-icon">
                                                <i class="bi bi-person"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ctLabel col-md-2">
                                    <label for="degree">Bằng cấp</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group has-icon-left">
                                        <div class="position-relative">
                                            @Html.EditorFor(model => model.Degree, new { htmlAttributes = new { id = "degree", @class = "form-control", placeholder = "Bằng cấp", @data_val = "true", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.Degree, "", new { @class = "text-danger" })
                                            <div class="form-control-icon">
                                                <i class="bi bi-award-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ctLabel col-md-2">
                                    <label for="birthdate">Ngày Sinh</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-icon-left">
                                        <div class="position-relative">
                                            <input class="form-control" type="date" name="BirthDate" id="birthdate" value="@BirthDate" required />
                                            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                                            <div class="form-control-icon">
                                                <i class="bi bi-phone"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ctLabel col-md-2">
                                    <label for="nation">Quốc Gia</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-icon-left">
                                        <div class="position-relative">
                                            @Html.DropDownList("Nation_ID", null, htmlAttributes: new { id = "nation", @class = "form-select pdl-25", @data_val = "true", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.Nation_ID, "", new { @class = "text-danger" })
                                            <div class="form-control-icon">
                                                <i class="bi bi-file-earmark-person"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ctLabel col-md-2">
                                    <label for="hometown">Quê Quán</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-icon-left">
                                        <div class="position-relative">
                                            @Html.DropDownList("HomeTown_ID", null, htmlAttributes: new { id = "hometown", @class = "form-select pdl-25", @data_val = "true", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.HomeTown_ID, "", new { @class = "text-danger" })
                                            <div class="form-control-icon">
                                                <i class="bi bi-cursor"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ctLabel col-md-2">
                                    <label for="religion">Tôn Giáo</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-icon-left">
                                        <div class="position-relative">
                                            @Html.DropDownList("Religion_ID", null, htmlAttributes: new { id = "religion", @class = "form-select pdl-25", @data_val = "true", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.Religion_ID, "", new { @class = "text-danger" })
                                            <div class="form-control-icon">
                                                <i class="fas fa-church"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ctLabel col-md-2">
                                    <label for="nation">Giới Tính</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group has-icon-left">
                                        <div class="position-relative">
                                            @Html.DropDownList("Gender_ID", null, htmlAttributes: new { id = "gender", @class = "form-select pdl-25", @data_val = "true", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.Gender_ID, "", new { @class = "text-danger" })
                                            <div class="form-control-icon">
                                                <i class="fas fa-transgender-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ctLabel col-md-2">
                                    <label for="phone">Số Điện Thoại</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group has-icon-left">
                                        <div class="position-relative">
                                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { id = "phone", @class = "form-control", placeholder = "Số Điện Thoại", @data_val = "true", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                            <div class="form-control-icon">
                                                <i class="bi bi-telephone"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ctLabel col-md-2">
                                    <label for="address">Địa Chỉ</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group has-icon-left">
                                        <div class="position-relative">
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { id = "address", @class = "form-control", placeholder = "Địa Chỉ", @data_val = "true", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                            <div class="form-control-icon">
                                                <i class="bi bi-house-door"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (User.IsInRole("Giám Đốc") || User.IsInRole("QTV"))
                                {
                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="Introduction">Giới Thiệu</label>
                                            <div class="position-relative">
                                                <textarea name="Introduction" id="Introduction" class="editor">@Model.Introduction</textarea>
                                                @Html.ValidationMessageFor(model => model.Introduction, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="TrainingProcess">Quá Trình Đào Tạo</label>
                                            <div class="position-relative">
                                                <textarea name="TrainingProcess" id="TrainingProcess" class="editor">@Model.TrainingProcess</textarea>
                                                @Html.ValidationMessageFor(model => model.TrainingProcess, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="WorkingProcess">Quá Trình Công Tác</label>
                                            <div class="position-relative">
                                                <textarea name="WorkingProcess" id="WorkingProcess" class="editor">@Model.WorkingProcess</textarea>
                                                @Html.ValidationMessageFor(model => model.WorkingProcess, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="SpecializedTreatment">SpecializedTreatment</label>
                                            <div class="position-relative">
                                                <textarea name="SpecializedTreatment" id="SpecializedTreatment" class="editor">@Model.SpecializedTreatment</textarea>
                                                @Html.ValidationMessageFor(model => model.SpecializedTreatment, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <div class='form-check'>
                                            <div class="checkbox">
                                                @Html.EditorFor(model => model.IsShow, new { htmlAttributes = new { @class = "form-check-input form-check-primary form-check-glow", id = "password-id-icon" } })
                                                <label for="password-id-icon">Hiển Thị</label>
                                                @Html.ValidationMessageFor(model => model.IsShow, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="form-group col-md-12">
                                    <div class='form-check'>
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.Privacy, new { htmlAttributes = new { @class = "form-check-input form-check-primary form-check-glow", id = "password-id-icon", @data_val = "true", @required = "required" } })
                                            <label for="password-id-icon">Bạn phải chịu trách nhiệm với những gì bạn khai báo và đảm báo nó chính xác</label>
                                            @Html.ValidationMessageFor(model => model.Privacy, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit"
                                            class="btn btn-primary me-1 mb-1">
                                        Submit
                                    </button>
                                    <button type="reset"
                                            class="btn btn-light-secondary me-1 mb-1">
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>User</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.UserID)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Degree, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Degree, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Degree, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Introduction, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Introduction, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Introduction, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TrainingProcess, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TrainingProcess, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TrainingProcess, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WorkingProcess, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WorkingProcess, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.WorkingProcess, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SpecializedTreatment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SpecializedTreatment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SpecializedTreatment, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsShow, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsShow)
                        @Html.ValidationMessageFor(model => model.IsShow, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nation_ID, "Nation_ID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Nation_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Nation_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HomeTown_ID, "HomeTown_ID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("HomeTown_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HomeTown_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Privacy, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Privacy)
                        @Html.ValidationMessageFor(model => model.Privacy, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Religion_ID, "Religion_ID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Religion_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Religion_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {

    <script>
        const editors = document.querySelectorAll('.editor');
        editors.forEach(item => {
            ClassicEditor
                .create(item, {
                    toolbar: ['bold', 'italic', 'link', 'undo', 'redo', 'numberedList', 'bulletedList']
                })
                .catch(error => {
                    console.error(error);
                });
        })
    </script>
}
