@model IEnumerable<ElectronicMedicalRecords.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last pdlLeft">
                <h3>Quản lý tài khoản</h3>
                <p class="text-subtitle text-muted">Bạn có thể xem danh sách tài khoản tại đây</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Users")">Danh sách</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Tài Khoản</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                Danh sách tài khoản
            </div>
            <div class="card-body">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>Hình Ảnh</th>
                            <th>Tên</th>
                            <th>Hiển Thị</th>
                            <th>Kích Hoạt</th>
                            <th>Chức Năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Name != null && item.Image != null)
                            {
                                <tr>
                                    <td>
                                        <img class="avatar" src="@item.Image" />
                                    </td>
                                    <td>@item.Name</td>
                                    @if (item.IsShow == false)
                                    {
                                        <td>
                                            <span class="badge bg-danger">Disable</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <span class="badge bg-success">Active</span>
                                        </td>
                                    }
                                    @if (item.ActiveAccount == false)
                                    {
                                        <td>
                                            <span class="badge bg-danger">Disable</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <span class="badge bg-success">Active</span>
                                        </td>
                                    }
                                <td>
                                    @if (User.IsInRole("Giám Đốc") || User.IsInRole("QTV"))
                                    {
                                        <a href="@Url.Action("Edit", "Users", new { id = item.ID })" class="btnHover edit btn btn-primary">
                                            <i class='fas fa-user-edit'></i>
                                        </a>
                                        <span>|</span>
                                        @*@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "clickbutton" })*@
                                        <div class="modal-warning mb-1 d-inline-block">
                                            <!-- Button trigger for warning theme modal -->
                                            <button type="button" class="btnHover trash btn btn-primary"
                                                    data-bs-toggle="modal" data-bs-target="#warning-BS-@item.ID">
                                                <i class='fas fa-trash'></i>
                                            </button>
                                            <!--warning theme Modal -->
                                            <div class="modal fade text-left" id="warning-BS-@item.ID" tabindex="-1"
                                                 role="dialog" aria-labelledby="myModalLabel140"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                                     role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header bg-danger">
                                                            <h5 class="modal-title white" id="myModalLabel140">
                                                                Bạn có muốn vô hiệu hóa tài khoản này?
                                                            </h5>
                                                            <button type="button" class="close"
                                                                    data-bs-dismiss="modal" aria-label="Close">
                                                                <i data-feather="x"></i>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body d-flex">
                                                            <img src="@item.Image" style="width:6rem;height:6rem;object-fit:cover;border-radius:4px" />
                                                            <div style="margin-left:20px">
                                                                <h5>Họ Tên: @item.Name</h5>
                                                                <p>Bằng Cấp:@item.Degree</p>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                    class="btn btn-light-secondary"
                                                                    data-bs-dismiss="modal">
                                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                                <span class="d-none d-sm-block">Hủy</span>
                                                            </button>

                                                            <form action="@Url.Action("Delete", "Users")" method="post">
                                                                @Html.AntiForgeryToken()
                                                                <input name="ID" value="@item.ID" hidden />
                                                                <button type="submit" class="btn btn-danger ml-1">
                                                                    Xác nhận
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span>|</span>
                                    }
                                    <!-- Button trigger for BorderLess Modal -->
                                    <button type="button" class="btnHover info btn btn-primary"
                                            data-bs-toggle="modal" data-bs-target="#border-less-@item.ID">
                                        <i class="fas fa-info"></i>
                                    </button>
                                    <!--BorderLess Modal Modal -->
                                    <div class="modal fade text-left modal-borderless" id="border-less-@item.ID"
                                         tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable modal-700" role="document">
                                            <div class="modal-content modal-user">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Thông Tin Bác Sĩ</h5>
                                                    <button type="button" class="close rounded-pill"
                                                            data-bs-dismiss="modal" aria-label="Close">
                                                        <i data-feather="x"></i>
                                                    </button>
                                                </div>
                                                <div class="modal-body detailDoctor">
                                                    <img class="detailDoctor-img" src="@item.Image" style="border-radius:4px" />
                                                    <div class="content content-doctor">
                                                        <h5>@item.Degree. @item.Name</h5>
                                                        <p>@Html.Raw(item.Introduction)</p>
                                                        <div class="training">
                                                            <h6>Quá trình đào tạo</h6>
                                                            <p>@Html.Raw(item.TrainingProcess)</p>
                                                        </div>
                                                        <div class="working">
                                                            <h6>Quá trình công tác</h6>
                                                            <p>@Html.Raw(item.WorkingProcess)</p>
                                                        </div>
                                                        <div class="treatment">
                                                            <h6>Các mặt bệnh hay điều trị</h6>
                                                            <p>@Html.Raw(item.SpecializedTreatment)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary ml-1"
                                                            data-bs-dismiss="modal">
                                                        <i class="bx bx-check d-block d-sm-none"></i>
                                                        <span class="d-none d-sm-block">Close</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#table1').DataTable({
                "language": {
                    "emptyTable": "No data available",
                    "oPaginate": {
                        sNext: '<i class="fa fa-chevron-right"></i>',
                        sPrevious: '<i class="fa fa-chevron-left"></i>',
                    },
                    "info": "Hiển thị _START_/_END_ trên tổng _TOTAL_",
                    "lengthMenu": "Hiển thị _MENU_ người",
                    "search": "Tìm kiếm:",
                },
                "columnDefs": [{
                    "targets": [3],
                    "orderable": false
                }]
            });
        });
    </script>    
}