@model IEnumerable<ElectronicMedicalRecords.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Introduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingProcess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkingProcess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecializedTreatment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsShow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Privacy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTown.HomeTown1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nation.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Religion.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Degree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Introduction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingProcess)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkingProcess)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecializedTreatment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsShow)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Privacy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeTown.HomeTown1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Religion.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>*@

<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>DataTable</h3>
                <p class="text-subtitle text-muted">For user to check they list</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">DataTable</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                Danh sách tài khoản
            </div>
            <div class="card-body">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>Hình Ảnh</th>
                            <th>Tên</th>
                            <th>Show</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                <img class="avatar" src="@item.Image" />
                            </td>
                            <td>@item.Name</td>
                            @if (item.IsShow == false)
                            {
                                <td>
                                    <span class="badge bg-danger">Disable</span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="badge bg-success">Active</span>
                                </td>
                            }
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "clickbutton" }) |
                            @*@Html.ActionLink("Details", "Details", new { id = item.ID }) |*@
                            <!-- Button trigger for BorderLess Modal -->
                            <button type="button" class="clickbutton btn btn-outline-primary block"
                                    data-bs-toggle="modal" data-bs-target="#border-less-@item.ID">
                                Chi Tiết
                            </button>
                            |
                            <!--BorderLess Modal Modal -->
                            <div class="modal fade text-left modal-borderless" id="border-less-@item.ID"
                                 tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-doctor" role="document">
                                    <div class="modal-content modal-user">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Thông Tin Bác Sĩ</h5>
                                            <button type="button" class="close rounded-pill"
                                                    data-bs-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body detailDoctor">
                                            <img class="detailDoctor-img" src="@item.Image" style="border-radius:4px" />
                                            <div class="content">
                                                <h5>@item.Degree. @item.Name</h5>
                                                <p>@Html.Raw(item.Introduction)</p>
                                                <div class="training">
                                                    <h6>Quá trình đào tạo</h6>
                                                    <p>@Html.Raw(item.TrainingProcess)</p>
                                                </div>
                                                <div class="working">
                                                    <h6>Quá trình công tác</h6>
                                                    <p>@Html.Raw(item.WorkingProcess)</p>
                                                </div>
                                                <div class="treatment">
                                                    <h6>Các mặt bệnh hay điều trị</h6>
                                                    <p>@Html.Raw(item.SpecializedTreatment)</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary ml-1"
                                                    data-bs-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Close</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "clickbutton" })*@
                            <div class="modal-warning me-1 mb-1 d-inline-block">
                                <!-- Button trigger for warning theme modal -->
                                <button type="button" class="clickbutton"
                                        data-bs-toggle="modal" data-bs-target="#warning-BS-@item.ID">
                                    Xóa
                                </button>

                                <!--warning theme Modal -->
                                <div class="modal fade text-left" id="warning-BS-@item.ID" tabindex="-1"
                                     role="dialog" aria-labelledby="myModalLabel140"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                         role="document">
                                        <div class="modal-content">
                                            <div class="modal-header bg-warning">
                                                <h5 class="modal-title white" id="myModalLabel140">
                                                    Bạn có muốn gỡ tài khoản này?
                                                </h5>
                                                <button type="button" class="close"
                                                        data-bs-dismiss="modal" aria-label="Close">
                                                    <i data-feather="x"></i>
                                                </button>
                                            </div>
                                            <div class="modal-body d-flex">
                                                <img src="@item.Image" style="width:6rem;height:6rem;object-fit:cover" />
                                                <div>
                                                    <h4>Họ Tên: @item.Name</h4>
                                                    <p>Bằng Cấp:@item.Degree</p>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button"
                                                        class="btn btn-light-secondary"
                                                        data-bs-dismiss="modal">
                                                    <i class="bx bx-x d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">Hủy</span>
                                                </button>

                                                <form action="@Url.Action("Delete", "Users")" method="post">
                                                    @Html.AntiForgeryToken()
                                                    <input name="ID" value="@item.ID" hidden />
                                                    <button type="submit" class="btn btn-warning ml-1">
                                                        Xác nhận
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#table1').DataTable({
                "language": {
                    "emptyTable": "No data available",
                    "oPaginate": {
                        sNext: '<i class="fa fa-chevron-right"></i>',
                        sPrevious: '<i class="fa fa-chevron-left"></i>',
                    },
                },
                "columnDefs": [{
                    "targets": [3],
                    "orderable": false
                }]
            });
        });
    </script>    
}