<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/DataTables/datatables.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/vendors/choices.js/choices.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/css/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/vendors/sweetalert2/sweetalert2.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/vendors/bootstrap-icons/bootstrap-icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/css/app.css")">
    <link rel="shortcut icon" href="@Url.Content("~/Areas/Admin/assets/images/favicon.svg")" type="image/x-icon">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/css/customize.css")" />
</head>
<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="@Url.Action("Index", "AspNetRoles")"><img src="@Url.Content("~/Areas/Admin/assets/images/logo/logo.png")" alt="Logo" srcset=""></a>
                        </div>

                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                @{
                    Html.RenderAction("RenderUser", "Users");
                }
                <hr />
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item">
                            <a href="@Url.Action("Index", "Users")" class='sidebar-link'>
                                <i class="bi bi-person-badge-fill"></i>
                                <span>Tài Khoản</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="@Url.Action("Index", "AspNetRoles")" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Quyền</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="@Url.Action("Index", "Medications")" class='sidebar-link'>
                                <i class="fas fa-capsules"></i>
                                <span>Thuốc</span>
                            </a>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Danh Mục</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="@Url.Action("Index", "DiagnosticsCategories")">Danh Mục Chẩn Đoán</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            @RenderBody()
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>
                            Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A. Saugi</a>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="@Url.Content("~/Areas/Admin/assets/vendors/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/DataTables/datatables.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/vendors/choices.js/choices.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/js/extensions/sweetalert2.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/vendors/sweetalert2/sweetalert2.all.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidebar-item').find('[href="' + window.location.pathname + '"]').parent().addClass('active');
            $('.submenu-item.active').closest('.sidebar-item').addClass('active');
            $('.submenu-item.active').closest('.submenu').addClass('active');
        });
    </script>
    <script src="@Url.Content("~/Areas/Admin/assets/js/main.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>