<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/DataTables/datatables.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/vendors/choices.js/choices.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/css/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/vendors/toastify/toastify.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/vendors/sweetalert2/sweetalert2.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/vendors/bootstrap-icons/bootstrap-icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/css/app.css")">
    <link href="@Url.Content("~/Areas/Admin/assets/css/bootstrap-tagsinput.css")" rel="stylesheet" />
    <link rel="shortcut icon" href="@Url.Content("~/Areas/Admin/assets/images/favicon.svg")" type="image/x-icon">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/css/customize.css")" />
</head>
<body>
    <style type="text/css">
        /*Added css for design notification area, you can design by your self*/
        /* COPY css content from youtube video description*/
        .noti-content {
            position: fixed;
            border-radius: 4px;
            top: 70px;
            width: 250px;
            display: none;
            left: 18%
        }

        ul#notiContent {
            max-height: 200px;
            overflow: auto;
            padding: 0px;
            margin: 0px;
            list-style: none;
            flex-grow: 1; 
        }

            ul#notiContent li {
                padding: 6px;
                background: #fff;
            }

        .noti-top-arrow {
            border-style: solid;
            border-width: 12px;
            border-color: transparent #000 transparent transparent;
            width: 24px;
            height: 24px;
        }

        span.noti {
            color: #000;
            position: fixed;
            font-size: 18px;
            cursor: pointer;
            left: 16%;
            top: 10%;
            background-color: #fff;
            padding: 4px 8px;
            border-radius: 4px;
        }

        span.count {
            position: absolute;
            font-size: 10px
        }
    </style>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active nav-bg">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="@Url.Action("Index", "AspNetRoles")"><img src="@Url.Content("~/Areas/Admin/assets/images/logo/logo.png")" alt="Logo" srcset=""></a>
                        </div>

                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <span class="noti fas fa-bell"><span class="count">&nbsp;</span></span>
                <div class="noti-content">
                    <div class="noti-top-arrow"></div>
                    <ul id="notiContent"></ul>
                </div>
                @{
                    Html.RenderAction("RenderUser", "Users");
                }
                <hr />
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title text-white">Trang Chủ</li>

                        <li class="sidebar-item">
                            <a href="@Url.Action("Index", "Users")" class='sidebar-link underline'>
                                <i class="text-white bi bi-person-badge-fill"></i>
                                <span>Tài Khoản</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="@Url.Action("Index", "AspNetRoles")" class='sidebar-link underline'>
                                <i class="text-white fas fa-user-tag"></i>
                                <span>Quyền</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="@Url.Action("Index", "Medications")" class='sidebar-link underline'>
                                <i class="text-white fas fa-capsules"></i>
                                <span>Thuốc</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="@Url.Action("Index", "DiagnosticsCategories")" class='sidebar-link underline'>
                                <i class="text-white fas fa-diagnoses"></i>
                                <span>Danh Mục Chẩn Đoán</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="@Url.Action("Index", "Patients")" class='sidebar-link underline'>
                                <i class="text-white fas fa-user-injured"></i>
                                <span>Bệnh Nhân</span>
                            </a>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link underline'>
                                <i class="text-white bi bi-stack"></i>
                                <span>Danh Mục</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a class="text-white" href="@Url.Action("Index", "PatientStatus")">Tình Trạng Bệnh Nhân</a>
                                </li>

                                <li class="submenu-item ">
                                    <a class="text-white" href="@Url.Action("Index", "MedicationCategories")">Danh Mục Thuốc</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            @RenderBody()
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>
                            Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A. Saugi</a>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="@Url.Content("~/Areas/Admin/assets/vendors/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/DataTables/datatables.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/vendors/choices.js/choices.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/js/extensions/sweetalert2.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/vendors/sweetalert2/sweetalert2.all.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/vendors/toastify/toastify.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/js/extensions/toastify.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/js/bootstrap-tagsinput.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.4.2.min.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <script>
        $(document).ready(function () {
            $('.sidebar-item').find('[href="' + window.location.pathname + '"]').parent().addClass('active');
            $('.submenu-item.active').closest('.sidebar-item').addClass('active');
            $('.submenu-item.active').closest('.submenu').addClass('active');
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('span.noti').click((e) => {
                e.stopPropagation();
                $('.noti-content').show().css("display","flex");
                var count = 0;
                count = parseInt($('span.count').html()) || 0;
                if (count > 0) {
                    updateNotification();
                }
                $('span.count', this).html("&nbsp;");
            })
            $('html').click(function () {
                $('.noti-content').hide();
            })
            updateNotification();
            function updateNotification() {
                $('#notiContent').empty();
                $('#notiContent').append($('<li>Loading...</li>'));

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetNotification", "InformationExaminations")",
                    success: function (res) {
                        $('#notiContent').empty();
                        if (res.length == 0) {
                            $('#notiContent').append($('<li>No data available</li>'));
                        }
                        $.each(res.userName, function (index, value) {
                            console.log(value.ID)
                            var href = "/Admin/Patients/Edit/" + value.ID;
                            $('#notiContent').append($('<li><a href= ' + href + '>' + 'Bệnh nhân: ' + value.Name + '</a></li>'));
                        })
                        $('span.count').html(res.data.length);
                    },
                    error: function (error) {
                        console.log(error)
                    }
                })
            }

            //function updateNotificationCount() {
            //    var count = 0;
            //    count = parseInt($('span.count').html()) || 0;
            //    count++;
            //    $('span.count').html(count);
            //}
            var notificationHub = $.connection.notificationHub;
            $.connection.hub.start().done(function () {
                console.log("Notification hub started");
            });
            notificationHub.client.notify = function (message) {
                if (message && message.toLowerCase() == "added") {
                    updateNotification();
                }
            }
        })
    </script>
    <script src="@Url.Content("~/Areas/Admin/assets/js/main.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>