<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/DataTables/datatables.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/vendors/choices.js/choices.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/css/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/vendors/iconly/bold.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/vendors/toastify/toastify.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/vendors/sweetalert2/sweetalert2.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/vendors/bootstrap-icons/bootstrap-icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/vendors/apexcharts/apexcharts.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/css/app.css")">
    <link href="@Url.Content("~/Areas/Admin/assets/css/bootstrap-tagsinput.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/assets/css/customize.css")" />
    <link href="@Url.Content("~/Areas/Admin/assets/css/loading-page.css")" rel="stylesheet" />
</head>
<body>
    <style type="text/css">
        .noti-content {
            position: fixed;
            border-radius: 4px;
            top: 70px;
            width: 250px;
            display: none;
            left: 18%
        }

        ul#notiContent, ul#notiContentBS, ul#notiContentBS1 {
            max-height: 200px;
            overflow: auto;
            padding: 0px;
            margin: 0px;
            list-style: none;
            flex-grow: 1;
        }

            ul#notiContent li {
                padding: 6px;
            }

        .noti-top-arrow {
            border-style: solid;
            border-width: 12px;
            border-color: transparent #000 transparent transparent;
            width: 24px;
            height: 24px;
        }

        .ul-noti::-webkit-scrollbar {
            width: 4px;
            border-radius: 4px;
        }

        .ul-noti::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        }

        .ul-noti::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
            border-radius: 4px;
        }

        span.noti {
            color: #eee;
            position: fixed;
            font-size: 18px;
            cursor: pointer;
            left: 16%;
            top: 10%;
            background-color: transparent;
            padding: 4px 8px;
            border-radius: 4px;
        }

        span.count, span.countBS, span.countBS1 {
            position: absolute;
            font-size: 14px;
            top: -0.1rem;
            left: 2rem;
        }

        .dropdown-toggle:after {
            display: none
        }

        .logo {
            width: 100%
        }

        .sidebar-wrapper .sidebar-header img {
            width: 100%;
            height: 6.5rem;
        }

        .Notify {
            padding: 5px 10px;
            overflow: hidden;
        }

            .Notify:hover {
                background-color: #c3eaf2;
                transition: 0.25s linear;
            }

                .Notify:hover a {
                    color: black;
                    transition: 0.25s linear;
                }

        .ul-noti {
            border-left: 5px solid #009688;
            overflow: hidden
        }

        .href-noti {
            display: block;
            color: black
        }
    </style>

    <div id="loader-wrapper">
        <div class="pulse"></div>
    </div>

    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active nav-bg">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="@Url.Action("HomePage", "Users")"><img src="@Url.Content("~/Areas/Admin/assets/images/logo/logoVL.png")" alt="Logo" srcset=""></a>
                        </div>

                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                @{
                    Html.RenderAction("RenderUser", "Users");
                }
                <hr />
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title text-white">
                            <a href="@Url.Action("HomePage", "Users")" class='text-white'></a>
                            Trang Chủ
                        </li>

                        <li class="sidebar-item">
                            <a href="@Url.Action("Dashboard", "Dashboard")" class='sidebar-link underline'>
                                <i class="text-white fas fa-chart-line"></i>
                                <span>DashBoard</span>
                            </a>
                        </li>
                        @if (User.IsInRole("QTV") || User.IsInRole("Giám Đốc") || User.IsInRole("Thu Ngân"))
                        {
                            <li class="sidebar-item  has-sub">
                                <a href="#" class='sidebar-link underline'>
                                    <i class="text-white fas fa-file-invoice-dollar"></i>
                                    <span>Hóa Đơn</span>
                                </a>
                                <ul class="submenu ">
                                    <li class="submenu-item ">
                                        <a class="text-white" href="@Url.Action("BillExam", "Statistics")">Khám</a>
                                    </li>

                                    <li class="submenu-item ">
                                        <a class="text-white" href="@Url.Action("BillPre", "Statistics")">Thuốc</a>
                                    </li>

                                    <li class="submenu-item ">
                                        <a class="text-white" href="@Url.Action("BillTest", "Statistics")">Xét Nghiệm</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="sidebar-item  has-sub">
                                <a href="#" class='sidebar-link underline'>
                                    <i class="text-white far fa-chart-bar"></i>
                                    <span>Thống Kê</span>
                                </a>
                                <ul class="submenu ">
                                    <li class="submenu-item ">
                                        <a class="text-white" href="@Url.Action("StatisByDoctorAndCondition", "Statistics")">Theo Bác Sĩ</a>
                                    </li>

                                    <li class="submenu-item ">
                                        <a class="text-white" href="@Url.Action("StatisByCondition", "Statistics")">Theo Tình Trạng</a>
                                    </li>

                                    <li class="submenu-item ">
                                        <a class="text-white" href="@Url.Action("StatisByDiagnostic", "Statistics")">Theo Nhóm Bệnh</a>
                                    </li>

                                    <li class="submenu-item ">
                                        <a class="text-white" href="@Url.Action("StatisByMoney", "Statistics")">Doanh Thu</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <li class="sidebar-item">
                            <a href="@Url.Action("Index", "Users")" class='sidebar-link underline'>
                                <i class="text-white bi bi-person-badge-fill"></i>
                                <span>Tài Khoản</span>
                            </a>
                        </li>
                        @if (User.IsInRole("QTV") || User.IsInRole("Giám Đốc"))
                        {
                            <li class="sidebar-item">
                                <a href="@Url.Action("Index", "AspNetRoles")" class='sidebar-link underline'>
                                    <i class="text-white fas fa-user-tag"></i>
                                    <span>Quyền</span>
                                </a>
                            </li>
                        }
                        <li class="sidebar-item">
                            <a href="@Url.Action("Index", "Medications")" class='sidebar-link underline'>
                                <i class="text-white fas fa-capsules"></i>
                                <span>Thuốc</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="@Url.Action("Index", "DiagnosticsCategories")" class='sidebar-link underline'>
                                <i class="text-white fas fa-diagnoses"></i>
                                <span>Danh Mục Chẩn Đoán</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="@Url.Action("Index", "Patients")" class='sidebar-link underline'>
                                <i class="text-white fas fa-user-injured"></i>
                                <span>Bệnh Nhân</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="@Url.Action("ListPrescriptionBill", "Prescription_Detail")" class='sidebar-link underline'>
                                <i class="text-white fas fa-pills"></i>
                                <span>Toa Thuốc</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="@Url.Action("ListExamination", "Prescription_Detail")" class='sidebar-link underline'>
                                <i class="text-white fas fa-book-medical"></i>
                                <span>Lịch Sử Khám Bệnh</span>
                            </a>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link underline'>
                                <i class="text-white bi bi-stack"></i>
                                <span>Danh Mục</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a class="text-white" href="@Url.Action("Index", "PatientStatus")">Tình Trạng Bệnh Nhân</a>
                                </li>

                                <li class="submenu-item ">
                                    <a class="text-white" href="@Url.Action("Index", "MedicationCategories")">Danh Mục Thuốc</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link underline'>
                                <i class="text-white fas fa-list-alt"></i>
                                <span>DN Xét Nghiệm</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a class="text-white" href="@Url.Action("Index", "Amniocentes")">Dịch Chọc Dò</a>
                                </li>

                                <li class="submenu-item ">
                                    <a class="text-white" href="@Url.Action("Index", "DongMaus")">Đông Máu</a>
                                </li>

                                <li class="submenu-item ">
                                    <a class="text-white" href="@Url.Action("Index", "Immunes")">Miễn Dich</a>
                                </li>

                                <li class="submenu-item ">
                                    <a class="text-white" href="@Url.Action("Index", "NhomMaus")">Nhóm Máu</a>
                                </li>

                                <li class="submenu-item ">
                                    <a class="text-white" href="@Url.Action("Index", "SinhHoaMaus")">Sinh Hóa Máu</a>
                                </li>

                                <li class="submenu-item ">
                                    <a class="text-white" href="@Url.Action("Index", "Urines")">Nước Tiểu</a>
                                </li>

                                <li class="submenu-item ">
                                    <a class="text-white" href="@Url.Action("Index", "ViSinhs")">Vi Sinh</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <nav class="navbar navbar-expand navbar-light " style="padding:0;height:0">
                <div class="container-fluid">
                    <a href="#" class="burger-btn d-block">
                        <i class="bi bi-justify fs-3"></i>
                    </a>
                     <div class="d-flex">
                        @if (User.IsInRole("Kỹ Thuật Viên"))
                        {
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                    <li class="nav-item dropdown me-3">
                                        <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-bell" style="font-size: 25px; color: #f80909"></i>
                                            <span class="count">&nbsp;</span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end ul-noti" id="notiContent" aria-labelledby="dropdownMenuButton">
                                            <li>
                                                <h6 class="dropdown-header">Notifications</h6>
                                            </li>
                                            <li><a class="dropdown-item">No notification available</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        }
                        @if (User.IsInRole("Bác Sĩ"))
                        {
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                    <li class="nav-item dropdown me-3">
                                        <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-bell" style="font-size: 25px; color: #f8a209"></i>
                                            <span class="countBS">&nbsp;</span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end ul-noti" id="notiContentBS" aria-labelledby="dropdownMenuButton" style="min-width: 20rem; right: 0 !important; box-shadow:rgb(0 0 0 / 24%) 0px 3px 8px; padding:0">
                                            <li>
                                                <h6 class="dropdown-header">Notifications</h6>
                                            </li>
                                            <li><a class="dropdown-item">No notification available</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                    <li class="nav-item dropdown me-3">
                                        <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-address-card" style="font-size: 25px; color: #5316a0"></i>
                                            <span style="left:2.5rem" class="countBS1">&nbsp;</span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end ul-noti" id="notiContentBS1" aria-labelledby="dropdownMenuButton" style="min-width: 20rem; right: 0 !important; box-shadow:rgb(0 0 0 / 24%) 0px 3px 8px; padding:0">
                                            <li>
                                                <h6 class="dropdown-header">Notifications</h6>
                                            </li>
                                            <li><a class="dropdown-item">No notification available</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </nav>
            @RenderBody()
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Khoa Y Dược ĐH Văn Lang</p>
                    </div>
                    <div class="float-end">
                        <p>
                            Create By Team<span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">Stay-Cool</a>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="@Url.Content("~/Areas/Admin/assets/vendors/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/vendors/dayjs/dayjs.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/vendors/apexcharts/apexcharts.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/js/pages/ui-apexchart.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/js/pages/dashboard.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/DataTables/datatables.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/vendors/choices.js/choices.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/js/extensions/sweetalert2.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/vendors/sweetalert2/sweetalert2.all.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/vendors/toastify/toastify.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/js/extensions/toastify.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/js/bootstrap-tagsinput.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/assets/vendors/ckeditor/ckeditor.js")"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.4.2.min.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <script>
        $(document).ready(function () {
            $('.sidebar-item').find('[href="' + window.location.pathname + '"]').parent().addClass('active');
            $('.submenu-item.active').closest('.sidebar-item').addClass('active');
            $('.submenu-item.active').closest('.submenu').addClass('active');
        });
        var NumberInput = document.querySelectorAll('.numberInput');
        NumberInput.forEach((item, index) => {
            item.addEventListener("keypress", function (evt) {
                if (evt.which != 8 && evt.which != 0 && evt.which < 46 || evt.which == 47 || evt.which > 57) {
                    evt.preventDefault();
                }
            })
        })
    </script>

    <script type="text/javascript">
        $(function () {
            function getPatient() {
                $('#tableLoadPatient').DataTable({
                "ajax": {
                    "url": "@Url.Action("GetData", "Patients")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "MaBN",
                    },
                    {
                        "data": "Name",
                    },
                    {
                        "data": "BirthDate",
                    },
                    {
                        "data": "Address",
                    },
                    {
                        "data": "Gender",
                    },
                    {
                        "className": "w85",
                        "data": null,
                        "render": function (data, type, row) {
                            var hrefCreateOldPatient = '@Url.Action("CreateOldPatient", "MultipleModels")/' + data.ID;
                            var hrefEditPatient = '@Url.Action("Edit","MultipleModels")/' + data.ID;
                            var hrefDetailPatient = '@Url.Action("Details","InformationExaminations")/' + data.ID;
                            var hrefConfirmBill = '@Url.Action("BillExamination", "MultipleModels")/' + data.ID;
                            var button = "<a class='btn btnHover print' style='margin:0 2px;' href='" + hrefConfirmBill + "'><i class='fas fa-print'></i></a><button class='btn btnHover plus' style='margin:0 2px;' onclick='createOldPatient(" + data.ID + ")' onclick='createOldPatient(" + data.ID + ")'><i class='fas fa-plus'></i></button><a class='btn btnHover edit' style='margin:0 2px;' href='" + hrefEditPatient + "'><i class='fas fa-user-edit'></i></a><a class='btn btnHover info' style='margin:0 2px;' href='" + hrefDetailPatient + "'><i class='fas fa-info'></i></a><button class='btn btnHover trash' style='margin:0 2px;' onclick='deletePatient(" + data.ID + ")'><i class='fas fa-trash'></i></button>";
                            return button;
                        },
                        "targets": 0,
                        "orderable": false
                    }
                ],
                "language": {
                    "emptyTable": "No data available",
                    "oPaginate": {
                        sNext: '<i class="fa fa-chevron-right"></i>',
                        sPrevious: '<i class="fa fa-chevron-left"></i>',
                    },
                    "info": "Hiển thị _START_/_END_ trên tổng _TOTAL_",
                    "lengthMenu": "Hiển thị _MENU_ người",
                    "search": "Tìm kiếm:",
                },
                searching: false,
            })
            }

            var notificationHubYTa = $.connection.notificationHubYTa;
            $.connection.hub.start().done(function () {
                getPatient();
                /*console.log("Notification hub started Y Tá");*/
            }).fail((e) => {
                alert(e)
            });

            notificationHubYTa.client.notifyPatient = function (message) {
                if (message && message.toLowerCase() == "added") {
                    $('#tableLoadPatient').DataTable().ajax.reload();
                }
            }
        })
    </script>

    <script type="text/javascript">
        $(function () {
            var RoleCheckBS = @(User.IsInRole("Bác Sĩ") ? "true" : "false");
            if (RoleCheckBS) {
                var count = 0;
                count = parseInt($('span.countBS').html()) || 0;
                if (count > 0) {
                    updateNotificationBS();
                }
                $('span.countBS', this).html("&nbsp;");
                $('html').click(function () {
                    $('.noti-content').hide();
                })

                /*updateNotificationBS();*/
                function updateNotificationBS() {
                    $('#notiContentBS').empty();
                    $('#notiContentBS').append($('<li>Loading...</li>'));

                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("GetNotificationBS", "InformationExaminations")",
                        success: function (res) {
                            $('#notiContentBS').empty();
                            if (res.length == 0) {
                                $('#notiContentBS').append($('<li>No data available</li>'));
                            }
                            $.each(res.data, function (index, value) {
                                $('span.countBS').parent().children('i').addClass('bell');
                                var href = "@Url.Action("DetailsIE", "MultipleModels")" + "/" + value.ID;
                                $('#notiContentBS').append($('<li class="Notify"><a class="href-noti" href= ' + href + '>' + 'Bệnh nhân: ' + value.Name + '<p style="margin:0">Số lượng xét nghiệm: ' + value.count + '</p></a></li>'));
                            })
                            $('span.countBS').html(res.data.length);
                        }
                    })
                }
                var notificationHubBS = $.connection.notificationHubBS;
                $.connection.hub.start().done(function () {
                    updateNotificationBS();
                    /*console.log("Notification hub started Bác Sĩ");*/
                });
                notificationHubBS.client.notifyResult = function (message) {
                    if (message && message.toLowerCase() == "added") {
                        updateNotificationBS();
                    }
                }
            }
        })
    </script>
    <script type="text/javascript">
        $(function () {
            var RoleCheckKTV = @(User.IsInRole("Kỹ Thuật Viên") ? "true" : "false");
            if (RoleCheckKTV) {
            var count = 0;
            count = parseInt($('span.count').html()) || 0;
            if (count > 0) {
                updateNotification();
            }
            $('span.count', this).html("&nbsp;");
            $('html').click(function () {
                $('.noti-content').hide();
            })

          /*  updateNotification();*/
            function updateNotification() {
                $('#notiContent').empty();
                $('#notiContent').append($('<li>Loading...</li>'));
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetNotification", "InformationExaminations")",
                    success: function (res) {
                        $('#notiContent').empty();
                        if (res.length == 0) {
                            $('#notiContent').append($('<li>No data available</li>'));
                        }
                        $.each(res.data, function (index, value) {
                            $('span.count').parent().children('i').addClass('bell');
                            var href = "@Url.Action("EditByID", "MultipleModels")" +"/" + value.ID;
                            $('#notiContent').append($('<li class="Notify"><a class="href-noti" href= ' + href + '>' + 'Bệnh nhân: ' + value.Name + '<p style="margin:0">Số lượng xét nghiệm: ' + value.countresult + '</p></a></li>'));
                        })
                        $('span.count').html(res.data.length);
                    }
                })
                }

                var notificationHub = $.connection.notificationHub;

                notificationHub.client.notify = function (message) {
                    if (message && message.toLowerCase() == "added") {
                        updateNotification();
                    }
                }

                $.connection.hub.start().done(function () {
                    updateNotification();
                    /*console.log("Notification hub started KTV");*/
                }).fail((e) => {
                    alert(e)
                });
            }
        })
    </script>
    <script type="text/javascript">
        $(function () {
            var RoleCheckBS1 = @(User.IsInRole("Bác Sĩ") ? "true" : "false");
            if (RoleCheckBS1) {
            var count = 0;
            count = parseInt($('span.countBS1').html()) || 0;
            if (count > 0) {
                updateNotificationBS1();
            }
            $('span.countBS1', this).html("&nbsp;");
            $('html').click(function () {
                $('.noti-contentBS1').hide();
            })

                /*updateNotificationBS1();*/
                function updateNotificationBS1() {
                $('#notiContentBS1').empty();
                $('#notiContentBS1').append($('<li>Loading...</li>'));
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetNotificationBS1", "InformationExaminations")",
                    success: function (res) {

                        $('#notiContentBS1').empty();
                        if (res.length == 0) {
                            $('#notiContentBS1').append($('<li>No data available</li>'));
                        }
                        $.each(res.data, function (index, value) {
                            $('span.countBS1').parent().children('i').addClass('zoom-in-zoom-out');
                            var href = "@Url.Action("CreateTest", "MultipleModels")" +"/" + value.ID;
                            $('#notiContentBS1').append($('<li class="Notify"><a class="href-noti" href= ' + href + '>' + 'Bệnh nhân: ' + value.Name + '<p style="margin:0">Ngày Khám: ' + value.date + '</p></a></li>'));
                        })
                        $('span.countBS1').html(res.data.length);
                    }
                })
                }

                var notificationHubBS1 = $.connection.notificationHubBS1;

                notificationHubBS1.client.notifyResultBS1 = function (message) {
                    if (message && message.toLowerCase() == "added") {
                        updateNotificationBS1();
                    }
                }

                $.connection.hub.start().done(function () {
                    updateNotificationBS1();
                    /*console.log("Notification hub started Bac Si 1");*/
                }).fail((e) => {
                    alert(e)
                });
            }
        })
    </script>

    <script type="text/javascript">
        $(function () {
            function updateUser() {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("Status", "Users")",
                    success: function (res) {
                        if (res.success) {
                            $('.checkUserOnline').each((index, user) => {
                                if (res.data.indexOf(user.innerText) != -1) {
                                    user.closest('tr').querySelector('.LoggedInUserBox').classList.remove('offline');
                                    user.closest('tr').querySelector('.LoggedInUserBox').classList.add('online');
                                } else {
                                    user.closest('tr').querySelector('.LoggedInUserBox').classList.add('offline');
                                    user.closest('tr').querySelector('.LoggedInUserBox').classList.remove('online');
                                }
                            })
                        }
                        else {
                            alert(res.responText)
                        }
                    }
                })
            }

        var notificationHubOnlineUser = $.connection.notificationHubOnlineUser;
        $.connection.hub.start().done(function () {
            updateUser();
            /*console.log("Notification hub started User");*/
            setInterval(() => {
                updateUser();
            }, 30000)
        }).fail((e) => {
            alert(e)
        });
        })
    </script>
    <script src="@Url.Content("~/Areas/Admin/assets/js/main.js")"></script>
    @RenderSection("scripts", required: false)


    <script>
        $(window).on("load", function () {
            $("#loader-wrapper").fadeOut("slow");
        });
    </script>
</body>
</html>