@model IEnumerable<ElectronicMedicalRecords.Models.District>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last pdlLeft">
                <h3>Quản lý danh mục quận/huyện</h3>
                <p class="text-subtitle text-muted">Danh sách danh mục quận/huyện</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first abs-t-r">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Districts")">Danh Sách</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Danh Mục Quận/Huyện</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                Danh sách danh mục quận/huyện
                @if (User.IsInRole("Giám Đốc") || User.IsInRole("QTV"))
                {
                    <br />
                    <button style="margin-top: 10px" type="button" class="btn btn-outline-primary block" data-bs-toggle="modal"
                            data-bs-target="#createDistrictsModal">
                        <i class="m-icon bi bi-plus-circle"></i>
                        Thêm Quận/Huyện
                    </button>
                }
            </div>
            <div class="card-body">
                <table class="table table-striped" id="tableDistricts" style="width:100%">
                    <thead>
                        <tr>
                            <th>Danh Mục Quận/Huyện</th>
                            <th>Thành Phố</th>
                            @if (User.IsInRole("Giám Đốc") || User.IsInRole("QTV"))
                            {
                                <th>Chức Năng</th>
                            }
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<!-- Create Basic Modal -->
<div class="modal fade text-left" id="createDistrictsModal" data-backdrop="true" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel1">Thêm Danh Mục Quận/Huyện</h5>
                <button type="button" class="close rounded-pill"
                        data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-createDistricts" class="form form-horizontal needs-validation" novalidate>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label style="display:flex;height:85%;align-items:center">Tên Quận/Huyện</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="District1" type="text" class="form-control pd-form"
                                               placeholder="Tên Quận/Huyện" id="first-name-icon DistrictsNameCreate" required>
                                        <div class="form-control-icon icon-MedicationCategory">
                                            <i class="bi bi-person"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label style="display: flex; height: 85%; align-items: center">Tên Thành Phố</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <select name="HomeTown_ID" class="form-select pd-form">
                                            @foreach (var item in ViewBag.Hometown)
                                            {
                                                <option value="@item.ID">@item.HomeTown1</option>
                                            }
                                        </select>
                                        <div class="form-control-icon icon-MedicationCategory">
                                            <i class="bi bi-person"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-bs-dismiss="modal">
                            <i class="bx bx-x d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Hủy</span>
                        </button>
                        <button type="submit" id="createDistricts" class="btn btn-primary ml-1">
                            <i class="bx bx-check d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Tạo</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Update Basic Modal -->
<div class="modal fade text-left" id="UpdateDistricts" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Cập nhật quận/huyện</h5>
                <button type="button" class="close rounded-pill"
                        data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-updateDistricts" class="form form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <input type="text" id="UpdateDistrictsID" name="ID" hidden />
                            <div class="col-md-4">
                                <label style="display: flex; height: 85%; align-items: center" for="UpdateDistrictsName">Tên Quận/Huyện</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input name="District1" type="text" class="form-control"
                                               placeholder="Tên Quận/Huyện" id="UpdateDistrictsName" required>
                                        <div class="form-control-icon">
                                            <i class="bi bi-envelope"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label style="display: flex; height: 85%; align-items: center">Tên Thành Phố</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <select name="HomeTown_ID" id="UpdateHomeTownName" class="form-select pd-form">
                                            @foreach (var item in ViewBag.Hometown)
                                            {
                                                <option value="@item.ID">@item.HomeTown1</option>
                                            }
                                        </select>
                                        <div class="form-control-icon icon-MedicationCategory">
                                            <i class="bi bi-person"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Hủy</span>
                            </button>
                            <button type="submit" id="updateDistricts" class="btn btn-primary ml-1">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Cập nhật</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var RoleCheck = @(User.IsInRole("Giám Đốc") || User.IsInRole("QTV") ? "true" : "false");
            $('#tableDistricts').DataTable({
                "ajax": {
                    "url": "@Url.Action("GetData", "Districts")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "District1",
                    },
                    {
                        "data": "HomeTown_ID",
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var button = "<button class='btn btn-primary btnHover edit' onclick='getDistrictsByID(" + data.ID + ")' data-id='"
                                + data.ID + "'><i class='fas fa-user-edit'></i></button> <button id='text' class='btn btn-primary btnHover trash' onclick='deleteDistricts(" + data.ID + ")'><i class='fas fa-trash'></i></button>";
                            return button;
                        },
                        "targets": 0,
                        "orderable": false
                    }
                ],
                "language": {
                    "emptyTable": "No data available, please click on <b>Tạo Quận</b> button",
                    "oPaginate": {
                        sNext: '<i class="fa fa-chevron-right"></i>',
                        sPrevious: '<i class="fa fa-chevron-left"></i>',
                    },
                    "info": "Hiển thị _START_/_END_ trên tổng _TOTAL_",
                    "lengthMenu": "Hiển thị _MENU_ quận",
                    "search": "Tìm kiếm:",
                },
                "columnDefs": [
                    {
                        "targets": [2], //second column
                        "visible": RoleCheck
                    }
                ]
            })
        })
        createDistricts()
        updateDistricts()
        /*Create Medication Categories*/
        function createDistricts() {
            $('#form-createDistricts').submit(function (e) {
                var dataDistricts = $('#form-createDistricts').serialize();
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                var model = {
                    validata: dataDistricts,
                }
                var isvalidCreate = $("#form-createDistricts").valid();
                if (isvalidCreate) {
                    $.ajax({
                    url: "@Url.Action("Create", "Districts")",
                    type: "POST",
                    data: model.validata + "&__RequestVerificationToken=" + token,
                    success: (res) => {
                        if (res.success) {
                            resetInputCreate();
                            $('#createDistrictsModal').modal('hide');
                            $(document.body).removeClass('modal-open').attr("style", "none");
                            $('.modal-backdrop').toggle();
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Bạn đã tạo thành công',
                                showConfirmButton: false,
                                timer: 1000
                            })
                            $('#tableDistricts').DataTable().ajax.reload();
                        } else {
                            Toastify({
                                text: res.responseText,
                                className: "info",
                                duration: 1000,
                                style: {
                                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                                }
                            }).showToast();
                        }
                    }
                })
                }
            e.preventDefault();
            })
        }

        /*get ID Update*/
        function getDistrictsByID(id) {
            $.ajax({
                url: '@Url.Action("Edit", "Districts")',
                type: 'GET',
                data: { id: id },
                success: function (res) {
                    if (res.data != null) {
                        $('#UpdateDistrictsName').val(res.data.District1);
                        $('#UpdateDistrictsID').val(res.data.ID);
                        $(`#UpdateHomeTownName option[value="${res.data.HomeTown_ID}"]`).attr("selected", true);
                    }
                }
            })
            $('#UpdateDistricts').modal('show')
        }

        /*update*/
        function updateDistricts() {
            $('#form-updateDistricts').submit(function (e) {
                var dataDistrict = $('#form-updateDistricts').serialize();
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                var model = {
                    validata: dataDistrict,
                }
                var isvalidUpdate = $("#form-updateDistricts").valid();
                if (isvalidUpdate) {
                    $.ajax({
                    url: "@Url.Action("Edit", "Districts")",
                    type: "POST",
                    data: model.validata + "&__RequestVerificationToken=" + token,
                    success: (res) => {
                        if (res.success) {
                            $('#UpdateDistricts').modal('hide');
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Bạn đã cập nhật thành công',
                                showConfirmButton: false,
                                timer: 1000
                            })
                            $('#tableDistricts').DataTable().ajax.reload();
                        } else {
                            Toastify({
                                text: res.responseText,
                                className: "info",
                                duration: 3000,
                                style: {
                                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                                }
                            }).showToast();
                        }
                    }
                })
                }
                e.preventDefault();
            })
        }

        /*Get & Post Delete District*/
        function deleteDistricts(id) {
            $.ajax({
                url: '@Url.Action("Delete", "Districts")',
                type: 'GET',
                data: { id: id },
                success: function (res) {
                    if (res.data != null) {
                        Swal.fire({
                            title: 'Bạn muốn xóa quận này?',
                            html:
                                '<b>Quận:</b> <span>' + res.data.District1 + '</span>',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#d33',
                            cancelButtonColor: '#777',
                            confirmButtonText: 'Xác nhận',
                            cancelButtonText: 'Hủy'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                var form = $('#__AjaxAntiForgeryForm');
                                var token = $('input[name="__RequestVerificationToken"]', form).val();
                                $.ajax({
                                    url: '@Url.Action("Delete", "Districts")',
                                    type: 'POST',
                                    data: "ID=" + res.data.ID + "&__RequestVerificationToken=" + token,
                                    success: function (res) {
                                        if (res.success) {
                                            Swal.fire({
                                                position: 'center',
                                                icon: 'success',
                                                title: 'Xóa thành công',
                                                showConfirmButton: false,
                                                timer: 1500
                                            })
                                            $("#tableDistricts").DataTable().ajax.reload();
                                        }
                                        else {
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Thất Bại',
                                                text: res.responseText,
                                            })
                                        }
                                    }
                                });
                            }
                        })
                    }
                }
            })
        }

        /*Reset Input Create Form*/
        function resetInputCreate() {
            $('#form-createDistricts').get(0).reset();
        }

        /*Validate Form*/
        $('form').each((i, obj) => {
            $(function () {
                $(obj).validate({
                    rules: {
                        District1: {
                            required: true,
                            normalizer: function (value) {
                                return $.trim(value);
                            }
                        }
                    },
                    messages: {
                        District1: {
                            required: "Vui lòng không để trống hoặc nhập ký tự khoảng trắng"
                        }
                    },
                    errorClass: 'invalidLB',
                    validClass: 'validLB',
                    highlight: function (element, errorClass, validClass) {
                        $(element).closest(".position-relative").addClass('mb-25')
                    },
                    unhighlight: function (element, errorClass, validClass) {
                        $(element).closest(".position-relative").removeClass('mb-25')
                    }
                });
            });
        })
    </script>
}