@model ElectronicMedicalRecords.Models.MultiplesModel

<div class="card-body">
    <table class="table table-striped tableLoadClinical" id="tableDaLieus" style="width:100%">
        <thead>
            <tr>
                <th hidden></th>
                <th hidden></th>
                <th>Chỉ Định</th>
                <th>Bệnh về Da Liễu</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Detail_DaLieus.Count(); i++)
            {
                <tr>
                    <td hidden>
                        <input value="@Model.Detail_DaLieus[i].InformationExamination_ID" type="text" name="Detail_DaLieus[@i].InformationExamination_ID" hidden />
                        <input value="@Model.Detail_DaLieus[i].DaLieu_ID" type="text" name="Detail_DaLieus[@i].DaLieu_ID" hidden />
                    </td>
                    <td hidden>
                        <input value="@Model.Detail_DaLieus[i].ID" type="text" name="Detail_DaLieus[@i].ID" hidden />
                    </td>
                    <td>
                        <input hidden checked type="checkbox" value="true" class="form-check-input form-check-primary" data-id="@Model.Detail_DaLieus[i].DaLieu_ID" name="Detail_DaLieus[@i].DaLieu_ID">
                        <input disabled checked type="checkbox" value="true" class="form-check-input form-check-primary">
                    </td>
                    <td>
                        <label class="form-check-label">@Model.Detail_DaLieus[i].DaLieu.Name</label>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>