@model ElectronicMedicalRecords.Models.MultiplesModel

<div class="card-header" style="padding-bottom:0px">
    <h4 class="card-title">Thông Tin Toa Thuốc</h4>
    <hr />
</div>

<div class="card-content">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="form-group name-Medication has-icon-left">
                    <label for="email-id-column">Chẩn Đoán</label>
                    <select id="NameDiagnostic" name="InformationExamination.DiagnosticCategory_ID" class="choices form-select">
                        @if (Model.Detail_DiagnosticsCategory == null)
                        {
                            <option value="">Vui Lòng Chọn Chẩn Đoán</option>
                        }
                        @foreach (var diagnostic in ViewBag.NameDiagnostic)
                        {
                            if (Model.Detail_DiagnosticsCategory != null)
                            {
                                if (Model.Detail_DiagnosticsCategory.DiagnosticsCategory_ID == diagnostic.ID)
                                {
                                    <option selected value="@Model.Detail_DiagnosticsCategory.DiagnosticsCategory_ID">@Model.Detail_DiagnosticsCategory.DiagnosticsCategory.Name</option>
                                }
                                else
                                {
                                    <option value="@diagnostic.ID">@diagnostic.Name</option>
                                }
                            }
                            else
                            {
                                <option value="@diagnostic.ID">@diagnostic.Name</option>
                            }
                        }
                    </select>
                    @*@Html.ValidationMessageFor(model => model.Detail_DiagnosticsCategory.DiagnosticsCategory.Name, "", new { @class = "text-danger" })*@
                    @*@Html.ValidationMessageFor(model => model.DiagnosticsCategory.Name, "", new { @class = "text-danger" })*@
                </div>
                @if (Model.Detail_DiagnosticsCategory != null)
                {
                    @Html.HiddenFor(model => model.Detail_DiagnosticsCategory.ID)
                    @Html.HiddenFor(model => model.Detail_DiagnosticsCategory.DiagnosticsCategory_ID)
                    @Html.HiddenFor(model => model.Detail_DiagnosticsCategory.InformationExamination_ID)
                    <div class="col-md-12 col-12">
                        <div class="form-group">
                            <label for="AdviceDiagnostic">Lời Khuyên</label>
                            <input id="AdviceDiagnostic" value="@Model.Detail_DiagnosticsCategory.Advice" name="Detail_DiagnosticsCategory.Advice" class="form-control" type="text" />
                            @Html.ValidationMessageFor(model => model.Detail_DiagnosticsCategory.Advice, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                else
                {
                    <input id="IDDiagnostic" name="Detail_DiagnosticsCategory.DiagnosticsCategory_ID" value="" type="number" hidden />
                    <div class="col-md-12 col-12">
                        <div class="form-group">
                            <label for="AdviceDiagnostic">Lời Khuyên</label>
                            <input id="AdviceDiagnostic" name="Detail_DiagnosticsCategory.Advice" class="form-control" type="text" />
                            @Html.ValidationMessageFor(model => model.Detail_DiagnosticsCategory.Advice, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-8 col-12">
                <div class="form-group name-Medication has-icon-left">
                    <label for="email-id-column">Tên Thuốc</label>
                    <select id="NameMedication" name="Medication.Name" class="choices form-select">
                        <option value="">Vui Lòng Chọn Tên Thuốc</option>
                        @foreach (var medication in ViewBag.NameMedication)
                        {
                            <option value="@medication.ID">@medication.Name</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.Medication.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <input id="IDMedication" value="" type="number" hidden />
            <div class="col-md-4 col-12">
                <div class="form-group">
                    <label for="email-id-column">Liều lượng</label>
                    <div class="input-group mb-3">
                        <input type="number" id="UnitMedication" name="Prescription_Detail.NumMedication" class="form-control">
                        <span class="input-group-text" id="DVT"></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Prescription_Detail.NumMedication, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-8 col-12">
                <div class="form-group">
                    <label for="email-id-column">Ghi Chú</label>
                    <input id="NoteMedication" type="text" name="Prescription_Detail.Note" class="form-control">
                    @Html.ValidationMessageFor(model => model.Prescription_Detail.Note, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4" style="position: relative;top:23px">
                <button type="button" class="btn btn-primary" onclick="insRowMedication()">Thêm Thuốc</button>
            </div>
            <div class="col-md-12">
                <table id="TableMedication" style="width:100%" border="1" class="table-bordered">
                    <tbody id="tablePre">
                        <tr>
                            <th>Tên Thuốc</th>
                            <th>Liều Lượng</th>
                            <th>Ghi Chú</th>
                            <th>Gỡ Bỏ</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

