@model ElectronicMedicalRecords.Models.Prescription_Detail

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Prescription_Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumMedication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumMedication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medication.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medication.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformationExamination_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformationExamination_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
