@model IEnumerable<ElectronicMedicalRecords.Models.InformationExamination>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last pdlLeft">
                <h3>Quản Lý Thông Tin Khám Bệnh</h3>
                <p class="text-subtitle text-muted">Bạn có thể xem danh sách lịch sử khám bệnh tại đây</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("ListExamination", "Prescription_Detail")">Danh sách</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Khám Bệnh</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped" id="tableListInfo" style="width:100%">
                    <thead>
                        <tr>
                            <th>Mã Bệnh Nhân</th>
                            <th>Bệnh Nhân</th>
                            <th>Bác Sĩ</th>
                            <th>Mã Bác Sĩ</th>
                            <th>Ngày Lập Hồ Sơ</th>
                            <th style="width:80px">Chức Năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.User.AspNetUser.Email != null)
                            {
                                var charName1 = item.User.AspNetUser.Email.IndexOf("@", 0);
                                <tr>
                                    <td>@item.Patient.MaBN</td>
                                    <td>@item.Patient.Name</td>
                                    <td>@item.User.Name</td>
                                    <td>@item.User.AspNetUser.Email.Substring(0, charName1)</td>
                                    <td>@item.DateExamine</td>
                                    <td>
                                        <a class="btn btnHover info" style="margin:0 2px;" href="@Url.Action("DetailsIERead", "MultipleModels", new { id = item.ID })"><i class="fas fa-info"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script>
        $('#tableListInfo').DataTable({
            "language": {
                "emptyTable": "No data available",
                "oPaginate": {
                    sNext: '<i class="fa fa-chevron-right"></i>',
                    sPrevious: '<i class="fa fa-chevron-left"></i>',
                },
                "info": "Hiển thị _START_/_END_ trên tổng _TOTAL_",
                "lengthMenu": "Hiển thị _MENU_ lịch sử",
                "search": "Tìm kiếm:",
            }
        })
    </script>
}
